@model CerberusMultiBranch.Models.ViewModels.Catalog.SearchProviderViewModel

@{
    ViewBag.Title = "Catálogo de Proveedores";
    ViewBag.Class = "fa fa-address-book-o";
}

@*<h3>
    <span class="fa fa-address-book-o" style="float:left"></span>
    &nbsp;&nbsp;Catálogo de Proveedores
</h3>*@
<hr />

<div class="col-md-7">
    <div class="input-group ">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        @Html.TextBox("txtName", "", htmlAttributes: new { @class = "form-control" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="btnSearch">
                <span class="glyphicon glyphicon-search" />
            </button>
            <button class="btn btn-default" type="button" id="btnClear">
                <span class="glyphicon glyphicon-refresh" />
            </button>
            <button id="btnFilter" type="button" class="btn btn-warning" data-toggle="collapse" data-target="#divFilters">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <button type="button" class="btn btn-success"  id="btnCreate">
                <span class="glyphicon  glyphicon-file"></span>
            </button>
        </span>
    </div>
</div>

<br /><br /><br />

<div id="divFilters" class="col-md-4 collapse">
    <div class="panel panel-danger">
      
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.Label("Estado", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("StateId", Model.States, "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.Label("Ciudad / Municipio", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("CityId", Model.Cities, "", new { @class = "form-control" })
                    </div>
                </div>
              
                <div class="form-group col-md-12">
                    @Html.Label("Télefono", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("Phone", "", htmlAttributes: new { @class = "form-control", id = "txtPhone" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divProviders" class="col-md-12">
    @Html.Partial("_List", Model.Providers)
</div>

<script>
    $(document).ready(function ()
    {
        $("#btnCreate").click(function () { ShowLoading(); window.location = '@Url.Action("Create")'; });

        $("#btnClear").click(function () { ShowLoading(); window.location = '@Url.Action("Index",new { })' })

        SetFilterControls("#divFilters", "#btnFilter", "#divProviders");

        SetCascade("#StateId", "#CityId", "GetCities");

        $("#btnSearch").click(function ()
        {
            ShowLoading();

            var data = {
                stateId: $("#StateId").val(),
                cityId: $("#CityId").val(),
                name: $("#txtName").val(),
                phone: $("#Phone").val()
            };
            ExecuteAjax('@Url.Action("Search")', data, function (view)
            {
                $("#divProviders").html(view);
                HideLoading();
            });
        });
    });
</script>



