
@{
    ViewBag.Title = "Carga de Catálogo";
    ViewBag.Class = "fa fa-cloud-upload";
}


<hr />
@using (Html.BeginForm("UpdateCatalog","Providers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-danger text-uppercase">
        <div class="panel-body">

            <h3 class="text-center text-danger">
                &nbsp;&nbsp;@ViewBag.Name
            </h3>
            <hr />
            <h3 class="text-center text-danger">
                Productos en catálogo:&nbsp;&nbsp;@ViewBag.Products
            </h3>
            <h3 class="text-center text-danger">
                Productos a procesar:&nbsp;&nbsp;@ViewBag.Pending
            </h3>

            <input type="hidden" value='@ViewBag.ProviderId' name="providerId" />
            <input type="hidden" value='@ViewBag.Name' name="name" />

            <div class="btn-group">
                <label id="upload" class="btn btn-primary btn-file" hidden>
                    <span class="fa fa-file-excel-o"></span>
                    Seleccionar Archivo
                    <input type="file" name="file"  style="display: none;" accept="text/xml" onchange="FileLoaded(this)">
                </label>
                <button id="btnSubmit" type="submit" class="btn btn-warning" disabled onclick="ShowLoading()">
                    <span class="fa fa-cloud-upload"></span>
                    Subir Archivo
                </button>
                <button id="btnProcess" type="button" class="btn btn-success" disabled onclick="Process()">
                    <span class="fa fa-cogs"></span>
                    Procesar registros
                </button>
            </div>

            <label id="lblFile" class="text-danger"></label>
        </div>
    </div>
}

<script>

    $(document).ready(function ()
    {
        if ('@ViewBag.Result' != '')
        {
            if ('@ViewBag.Result' != 'OK')
            {
                ShowMessage('@ViewBag.Result', '@ViewBag.Message', 'warning');
            }
            else
            {
                ShowMessage('@ViewBag.Result', '@ViewBag.Message', 'success');
            }
        }

        

        if(parseInt('@ViewBag.Pending') > 0)
        {
            $("#btnProcess").prop("disabled", false);
            $("#upload").hide();
        }
        else
        {
            $("#upload").show();
        }
    });

    function Process()
    {
        ShowLoading();
        ExecuteAjax('@Url.Action("ProcessCatalog","Providers")', {providerId : @ViewBag.ProviderId},function(response)
        {
            location.reload();
        });
    }

    function FileLoaded(input)
    {
        var files = input.files;

        console.log(files[0]);

        var size = (parseFloat(files[0].size) / 1000000).toFixed(2) + " MB";
        var text = "Archivo: " + files[0].name + "     " + "tamaño:" + size
        $("#lblFile").text(text);

        $("#btnSubmit").prop("disabled", false);
    }
</script>