@model CerberusMultiBranch.Models.Entities.Catalog.Product
@using CerberusMultiBranch.Support
@using CerberusMultiBranch.Models.Entities.Catalog
@using CerberusMultiBranch.Models.Entities.Operative

<div id="ModalAddProduct" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel panel-primary">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="fa fa-cube"></span> Agregar el producto a la venta</h4>
            </div>

            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-3">
                            @if (Model.Images.Count > Cons.Zero)
                            {
                                <img src="@Model.Images.First().Path" class="img-responsive" style="max-height:150px" />
                            }
                            else
                            {
                                <img src="~/Content/Images/sinimagen.jpg" class="img-responsive" style="max-height:150px" />
                            }
                        </div>
                        <div class="col-md-9">
                            <label>
                                @Model.Code
                            </label><br />
                            @Model.Name<br />
                            Por @Model.TradeMark <span class="fa fa-registered"></span><br />
                            <span class="badge bg-info">
                                @Model.Quantity
                            </span>
                            disponibles
                            <span class="fa fa-cubes"></span>
                            Unidad: @Model.Unit
                        </div>
                    </div>
                </div>


                <div class="panel panel-danger">
                    <div class="panel-body">
                    
                        <div class="form-group col-md-7 col-md-offset-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                <input class="form-control input-lg" type="number" max="@Model.Quantity" min="@Cons.One" value="1" id="txtQuantity"
                                       onkeyup="ValidQuantity(@Model.Quantity)" />
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-lg" type="button" title="Agregar producto" onclick="CompleateAdd()" id="btnCompleateAdd">
                                        <span class="fa fa-plus-circle"></span>
                                        Agregar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <label class="control-label text-danger" id="lblQuantity"></label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(m => m.ProductId)


<script>
    $(document).ready(function ()
    {
        $("#ModalAddProduct").modal("show");
    });


    function ValidQuantity(quantity)
    {
        if($("#txtQuantity").val() == '' || parseInt($("#txtQuantity").val()) <= 0)
        {
            $("#lblQuantity").text("La cantidad a vender debe ser mayor a 0");
            $("#btnCompleateAdd").attr("disabled",true);
            return;
        }

        var type = $("#TransactionType").val();

        if(type != '@TransactionType.Preventa' && parseInt($("#txtQuantity").val()) > quantity)
        {
            $("#lblQuantity").text("La cantidad no puede ser mayor  a la disponible "+quantity);
            $("#btnCompleateAdd").attr("disabled",true);
            return;
        }

        $("#lblQuantity").text("");
        $("#btnCompleateAdd").attr("disabled",false);
    }

    function CompleateAdd() 
    {
        $("#ModalAddProduct").off('hidden.bs.modal').on('hidden.bs.modal', function ()
        {
            ShowLoading();

            var param =  { productId: $("#ProductId").val(), saleId: $("#SaleId").val(), quantity: $("#txtQuantity").val() };

            ExecuteAjax('@Url.Action("CompleateAdd")', param, function (response)
            {
                HideLoading();

                if ($.isPlainObject(response))
                    ShowMessage(response.Header, response.Message, 'warning');
                else
                    $("#divDetails").html(response);
            });
        });
        $("#ModalAddProduct").modal("hide");
    }
</script>