@model IEnumerable<CerberusMultiBranch.Models.Entities.Operative.BudgetDetail>
@using CerberusMultiBranch.Support


<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="modal-title">
            <span class="fa fa-dollar" style="float:left">
            </span>
            Monto total en cotización @Model.Sum(s => s.TaxedAmount).ToMoney()
        </h4>
    </div>
    <div class="panel-body" style="overflow-y:auto; max-height:500px">
        <table id="tbCartDetails" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">@Html.DisplayName("Descripción")</th>
                    <th class="text-center">@Html.DisplayName("Precio")</th>
                    <th class="text-center">@Html.DisplayName("Cantidad")</th>
                    <th class="text-center">@Html.DisplayName("Total")</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-1" align="center">
                            <img src="@item.Image" class="img-responsive" style="max-height:50px" />
                        </td>
                        <td>
                            <label>
                                @Html.DisplayFor(modelItem => item.Product.Code)
                            </label>
                            <br />
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>

                        @if (item.Product.ProductType == CerberusMultiBranch.Models.Entities.Catalog.ProductType.Single)
                        {
                            <td class="col-md-2 text-center">
                                <h5 id="txtPrice" class="text-info">
                                    @Html.DisplayFor(modelItem => item.TaxedPrice)
                                </h5>
                            </td>
                        }
                        else
                        {
                            <td class="col-md-2 text-center">
                                <h5 id="txtPrice" class="text-info">
                                    @Html.DisplayFor(modelItem => item.TaxedPrice)
                                </h5>
                            </td>
                        }
                        <td class="col-md-1 text-info text-center">
                            <h5> @item.Quantity</h5>
                        </td>
                        <td class="text-right">
                            <h5 id="txtAmount" class="text-right">
                                @Html.DisplayFor(modelItem => item.TaxedAmount)
                            </h5>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" onclick="ApplyBudget('@Model.FirstOrDefault().BudgetId')">
                <span class="fa fa-check"></span>
                Aplicar
            </button>

            <button type="button" class="btn btn-danger" onclick="HideModal(null,true)">
                <span class="fa fa-times"></span>
                Cancelar
            </button>
        </div>
    </div>
</div>


<script>
    function ApplyBudget(id) {
        ShowModLoading();

        ExecuteAjax('@Url.Action("ApplyBudget", "Sales")', { budgetId: id }, function (response) {
            HideModal(function () {
                ShowNotify(response.Header, response.Result, response.Body, 3000);

            }, true);
        });
    }
</script>