@model CerberusMultiBranch.Models.ViewModels.Operative.SaleCancelViewModel
@using CerberusMultiBranch.Support

@Scripts.Render("~/bundles/jqueryval")


<form id="CancelSaleForm">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <button type="button" class="close" onclick="HideModal(null,true)">
                <span class="fa fa-times"></span>
            </button>
            <h2 class="panel-title">
                <span class="fa fa-shopping-cart-minus"></span>
                Cancelación de Venta  <a class="pull-rigth">@Model.SaleFolio</a>
            </h2>
        </div>
        <div class="panel-body">

            <table class="panel panel-default table table-bordered small">
                <thead class="panel-heading">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.PaymentCash)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.PaymentCard)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.PaymentCreditNote)
                        </th>
                    </tr>
                </thead>
                <tbody class="panel-body">
                    <tr>
                        <td>
                            @Html.DisplayFor(m => m.PaymentCash)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.PaymentCard)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.PaymentCreditNote)
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="col-md-12 form-group row">
                @Html.LabelFor(model => model.CancelComment, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-comment-o"></i></span>
                    @Html.TextAreaFor(model => model.CancelComment, 3, 1, htmlAttributes: new { @class = "form-control text-uppercase input-sm" })
                </div>
                @Html.ValidationMessageFor(model => model.CancelComment, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">

                <button class="btn btn-primary btn-sm" type="button" title="Solicitar cambio al vendedor" onclick="CancelSale(true)">
                    <span class="fa fa-trash-o"></span>
                    Solicitar Cambio
                </button>

                <button class="btn btn-warning btn-sm" type="button" id="btnConfirmCancel" title="Confirmar cancelación" onclick="CancelSale(false)">
                    <span class="fa fa-trash-o"></span>
                    Cancelar venta
                </button>

                <button class="btn btn-danger btn-sm" type="button" title="cerra ventana" onclick="HideModal(null,true)">
                    <span class="fa fa-times"></span>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</form>
@Html.HiddenFor(model => model.SaleCancelId)

<script>
    $(document).ready(function ()
    {
        var form = $("#CancelSaleForm");
        form.validate();
    });

    $(document).keydown(function (e)
    {
        if ($("#ModalCancel").hasClass('in') && e.keyCode == 13)
        {
            $("#btnConfirmCancel").click();
            e.stopImmediatePropagation();
        }
    });

    var OnCancelCompleated = 'undefined';

    //Cancela la venta
    function CancelSale(changeRequest)
    {
        var form = $("#CancelSaleForm");

        if (!form.valid())
        {
            ShowNotify("Faltan datos", "info", "Debes agregar un comentario para cancelar", 3000);
            return;
        }

        HideModal(function ()
        {
            ShowLoading("static");

            var param = { saleId: $("#SaleCancelId").val(), comment: $("#CancelComment").val(), changeRequest: changeRequest }

            ExecuteAjax('@Url.Action("Cancel","Sales")', param, function (response)
            {
                HideLoading(function ()
                {
                    ShowNotify(response.Header, response.Result, response.Body, 3000);

                    if (OnCancelCompleated != 'undefined')
                        OnCancelCompleated();
                });
            });

        }, true);
    }

</script>