@model ICollection<CerberusMultiBranch.Models.Entities.Operative.SaleDetail>
@using CerberusMultiBranch.Support

@Html.ValidationMessage("AddDetail", "", new { @class = "text-danger" })
<table class="table table-striped small">
    <thead>
        <tr>
            <th class="col-md-1"></th>
            <th>

                @Html.DisplayNameFor(model => model.First().Product.Code)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.First().Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Price)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.First().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Amount)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td align="center">
                    @if (item.Product.Images != null && item.Product.Images.Count > 0)
                    {
                        <img src="@item.Product.Images.First().Path" class="img-responsive" style="max-height:50px" />
                    }
                    else
                    {
                        <img src="~/Content/Images/sinimagen.jpg" class="img-responsive" style="max-height:80px" />
                    }
                </td>
                <td>
                      @Html.DisplayFor(modelItem => item.Product.Code)<br />
                    <label>SAT</label> <br />
                     @Html.DisplayFor(modelItem => item.Product.Category.SatCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)<br />
                    <label>Por </label> @Html.DisplayFor(modelItem => item.Product.TradeMark)
                    <label> Unidad </label> @Html.DisplayFor(modelItem => item.Product.Unit)
                </td>
             
                @if (item.Product.ProductType == CerberusMultiBranch.Models.Entities.Catalog.ProductType.Single && 
                    item.Sale.Status == CerberusMultiBranch.Models.Entities.Operative.TranStatus.InProcess)
                {
                    <td>
                        <h5  class="text-info" onmouseover="SetPointer(this)"
                            onclick="ChangePriceDetail(@item.ProductId,@item.SaleId)">
                            <u>
                                @Html.DisplayFor(modelItem => item.TaxedPrice)
                            </u>
                        </h5>
                    </td>
                }
                else
                {
                    <td>
                        <h5 id="txtPrice" class="text-info">
                            @Html.DisplayFor(modelItem => item.TaxedPrice)
                        </h5>
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TaxedAmount)
                </td>

                <td  class="Compleated">
                    <div class="btn-group">
                        <button class="btn btn-danger" type="button" onclick="RemoveDetail(@item.SaleId,@item.ProductId)">
                            <span class="glyphicon glyphicon-trash"></span> 
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



<script>
    $(document).ready(function ()
    {
        if ('@Model.Count' > 0)
            $("#btnCompleate").show();
        else
            $("#btnCompleate").hide();

        $("#divTotalAmount").text('@Model.Sum(d => d.Amount).ToMoney()');
        $("#divTaxedAmount").text('@Model.Sum(d => d.TaxedAmount).ToMoney()');
    });

    function ChangePriceDetail(prodId, transId)
    {
        var param = { productId: prodId, saleId: transId, isCart:false }

        ExecuteAjax('@Url.Action("OpenChangePrice")', param, function (response) {

            if ($.isPlainObject(response)) {
                ShowMessage(response.Result, response.Message, 'warning');
            }
            else
                $("#divPriceSelector").html(response);
        });
    }

    function RemoveDetail(tid, pid)
    {
        ShowLoading();
        var param = { saleId: tid, productId: pid };

        ExecuteAjax('@Url.Action("RemoveDetail", "Sales")', param, function (view)
        {
            $("#divDetails").html(view);
            HideLoading();
        });
    }

</script>