@model CerberusMultiBranch.Models.ViewModels.Operative.PriceSelectorViewModel

<script src="~/Scripts/bootstrap-slider.min.js"></script>
<link href="~/Content/bootstrap-slider.min.css" rel="stylesheet" />

<div id="ModalPrice" class="modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content panel panel-info panel-group">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span class="fa fa-money" style="float:left">
                    </span>
                    &nbsp;
                    Ajusta el precio
                </h4>
            </div>
            <div class="modal-body panel-body">

                @Html.HiddenFor(m => Model.PsProductId)
                @Html.HiddenFor(m => Model.PsTransactionId)

                <div class="col-xs-12">
                    <input id="txtPriceSelector" type="text" />
                    <hr />
                </div>
                <div class="row">
                    <input id="txtPriceSelected" class="col-xs-6 col-xs-offset-3 input-lg" type="number"
                           max="@Model.SPrice" min="@Model.WPrice" />
                </div>
                <label class="text-danger" id="lblPsError"></label>
            </div>
            <div class="modal-footer">
                <button id="txtChangePrice" class="btn btn-primary" type="button" onclick="SetNewPrice()">
                    <span class="glyphicon glyphicon-ok"></span>
                    Aplicar
                </button>
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(m => Model.CPrice)
@Html.HiddenFor(m => Model.SPrice)
@Html.HiddenFor(m => Model.DPrice)
@Html.HiddenFor(m => Model.WPrice)
@Html.HiddenFor(m => Model.IsCart)

<script>
    $(document).ready(function ()
    {
        $("#txtChangePrice").off("click");

        $("#ModalPrice").on("shown.bs.modal", function ()
        {
            SetValues();
        });

        $("#ModalPrice").on("hide.bs.modal", function ()
        {
            $("#divPriceSelector").html("")
        });


        $("#ModalPrice").modal({ backdrop: false });
    });

    function SetValues() {
        var cPrice = parseFloat($("#CPrice").val());
        var sPrice = parseFloat($("#SPrice").val());
        var dPrice = parseFloat($("#DPrice").val());
        var wPrice = parseFloat($("#WPrice").val());

        $("#txtPriceSelected").val(cPrice);

        $('#txtPriceSelector').bootstrapSlider({
            value: cPrice,
            ticks: [wPrice, dPrice, sPrice],
            ticks_labels: [GetCurrency(wPrice), GetCurrency(dPrice), GetCurrency(sPrice)],

            ticks_snap_bounds: 1
        });


        $("#txtPriceSelector").on("slide", function (slideEvt) {
            $("#txtPriceSelected").val(slideEvt.value);
        });

        $("#txtPriceSelector").on("change", function (response) {
            $("#txtPriceSelected").val(response.value.newValue);
        });
    }

    function SetNewPrice()
    {
        var value = parseFloat($("#txtPriceSelected").val());
        var sPrice = parseFloat($("#SPrice").val());
        var wPrice = parseFloat($("#WPrice").val());

        if (value > sPrice || value < wPrice)
        {
            $("#lblPsError").text("El precio de venta debe estar entre $" + wPrice + " y $" + sPrice + " pesos");
            return;
        }
        else
            $("lblPsError").text("");


        var param;

        var url = '@Url.Action("SetNewPrice","Sales")';
        var isCart = false;
        if ($("#IsCart").val() == 'True')
        {
            isCart = true;
            url = '@Url.Action("SetPrice","Sales")';
            param = { productId: $("#PsProductId").val(), price: $("#txtPriceSelected").val(), };
        }
        else
        {
            param = {
                productId: $("#PsProductId").val(),
                transactionId: $("#PsTransactionId").val(),
                price: $("#txtPriceSelected").val(),
                IsCart: $("#IsCart").val()
            }

        }
           
        ExecuteAjax(url, param, function (response)
        {
            if ($.isPlainObject(response))
                ShowMessage(response.Result, response.Message, 'warning');
            else
            {
                if (isCart)
                {
                    $("#divCartDetails").html(response);
                }
                else
                {
                    $("#divDetails").html(response);
                }
            }
        });

        $("#ModalPrice").modal("hide");
    }

    function SetCheck(cb, idPrice)
    {
        $("#txtPrice").val($(idPrice).val());
        $('.checkbox').not(cb).prop('checked', false);
    }

</script>