@model CerberusMultiBranch.Models.ViewModels.Operative.PriceSelectorViewModel

<script src="~/Scripts/bootstrap-slider.min.js"></script>
<link href="~/Content/bootstrap-slider.min.css" rel="stylesheet" />


<div class="panel panel-info panel-group">
   <div class="panel-heading">
                <button type="button" class="close" onclick="HideChildModal()">&times;</button>
                <div class="panel-title">
                    <span class="fa fa-money" style="float:left">
                    </span>
                    &nbsp;
                    Ajusta el precio
                </div>
            </div>
   <div class="panel-body">

        @Html.HiddenFor(m => Model.PsProductId)
        @Html.HiddenFor(m => Model.PsTransactionId)

       <div class="col-xs-12">
                    <input id="txtPriceSelector" type="text" />
                    <hr />
                </div>
       <div class="row">
                    <div class="input-group col-md-10 col-md-offset-1">
                        <input id="txtPriceSelected" class="form-control input-lg" type="number"
                               max="@Model.SPrice" min="@Model.WPrice" />
                        <span class="input-group-btn">
                            <button id="txtChangePrice" class="btn btn-primary btn-lg" type="button" onclick="SetNewPrice()">
                                <span class="glyphicon glyphicon-ok"></span>
                                Aplicar
                            </button>
                        </span>
                    </div>

                </div>
       
    </div>
</div>
   

@Html.HiddenFor(m => Model.CPrice)
@Html.HiddenFor(m => Model.SPrice)
@Html.HiddenFor(m => Model.DPrice)
@Html.HiddenFor(m => Model.WPrice)
@Html.HiddenFor(m => Model.IsCart)

<script>
    $(document).ready(function ()
    {
        $("#txtChangePrice").off("click");

    });

  
    function SetNewPrice()
    {
        var value = parseFloat($("#txtPriceSelected").val());
        var sPrice = parseFloat($("#SPrice").val());
        var wPrice = parseFloat($("#WPrice").val());

        if (isNaN(value) || value > sPrice || value < wPrice)
        {
            var msg = "El precio de venta debe estar entre $" + wPrice + " y $" + sPrice + " pesos";

            ShowNotify("Precio no admitido", "danger", msg, 4000);
            return;
        }
      
        var param;

        var url = '@Url.Action("SetNewPrice","Sales")';
        var isCart = false;


        isCart = true;
        url = '@Url.Action("SetPrice","Sales")';
        param = { productId: $("#PsProductId").val(), price: $("#txtPriceSelected").val(), };

        ExecuteAjax(url, param, function (response)
        {
           $("#divCartDetails").html(response);

            HideChildModal();
        });
    }

    function SetCheck(cb, idPrice)
    {
        $("#txtPrice").val($(idPrice).val());
        $('.checkbox').not(cb).prop('checked', false);
    }

</script>