@model IEnumerable<CerberusMultiBranch.Models.Entities.Finances.SalePayment>
@using CerberusMultiBranch.Models.Entities.Operative
@using CerberusMultiBranch.Support



<table id="tbSalePayments" class="table dt-responsive nowrap table-bordered small" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayName("Capturo")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reference)
                    </td>
                    <td>
                        @item.PaymentMethod.ToString()
                    </td>
                    <td>
                        @item.UpdUser
                    </td>
                </tr>
                }
    </tbody>
</table>



<script>
    $(document).ready(function ()
    {

        Paginate("#tbSalePayments", 10, true, null,false);

        var finalAmount = parseFloat($("#FinalAmount").val());

        var debt =(finalAmount - @Model.Sum(p => p.Amount));

        $("#TotalPayments").text(GetCurrency( @Model.Sum(p => p.Amount)));

        if(debt == 0)
        {
            $("#divStatus").text("Pagado");
            $("#divStatus").attr("class","form-control alert-success");
        }
        else
        {
            $("#divStatus").text("Reservado");
            $("#divStatus").attr("class","form-control alert-info");
        }

        if($("#TransactionType").val() != '@TransactionType.Contado.ToString()')
        {

            $("#pnlPayment").removeClass('hidden');
        }
        else{
            $("#pnlPayment").addClass('hidden');
        }

    });
</script>