@model ICollection<CerberusMultiBranch.Models.Entities.Operative.Sale>
@using CerberusMultiBranch.Models.Entities.Operative


<table id="tbSales" class="table table-striped small">
    <thead>
        <tr>
            <th class="col-md-1 text-center">@Html.DisplayName("Sucursal")</th>
            <th class="col-md-1 text-center">@Html.DisplayName("Folio")</th>
            <th class="col-md-2 text-center">@Html.DisplayName("Fecha")</th>
            <th class="col-md-2 text-center">@Html.DisplayName("Cliente")</th>
            <th class="col-md-2 text-center">@Html.DisplayName("Usuario")</th>
            <th class="col-md-1 text-center">@Html.DisplayName("Comision")</th>
            <th class="col-md-1 text-center">@Html.DisplayNameFor(m => m.First().TotalAmount)</th>
            <th class="col-md-1 text-center">@Html.DisplayName("Status")</th>
            <th class="col-md-1 text-right" />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Branch.Name)</td>
                <td>@Html.DisplayFor(m => item.Folio)</td>
                <td align="center">@item.TransactionDate.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@Html.DisplayFor(m => item.Client.Name)</td>
                <td>@Html.DisplayFor(m => item.User.UserName)</td>
                <td>@Html.DisplayFor(m => item.ComAmount)</td>

                <td align="center">@Html.DisplayFor(m => item.TotalAmount)</td>
                @{ var quantity = item.SaleDetails.Sum(td => td.Quantity);  }


                @switch (item.Status)
                {
                    case CerberusMultiBranch.Models.Entities.Operative.TranStatus.Canceled:
                        <td align="center" class="alert alert-danger">
                            Cancelado
                        </td>
                        break;
                    case CerberusMultiBranch.Models.Entities.Operative.TranStatus.Compleated:
                        <td align="center" class="alert alert-success">
                            Pagado <br />
                            @item.PaymentType.ToString()
                        </td>
                        break;
                    case CerberusMultiBranch.Models.Entities.Operative.TranStatus.InProcess:
                        <td align="center" class="alert alert-warning">
                            Abierto
                        </td>
                        break;
                    case CerberusMultiBranch.Models.Entities.Operative.TranStatus.Reserved:
                        <td align="center" class="alert alert-info">
                            Rerservado
                        </td>
                        break;
                }
                <td align="center">
                    <button class="btn btn-primary  btn-xs" title="Ver detalle"
                            onclick="ShowLoading(); window.location = '@Url.Action("Detail", new { id = item.SaleId })'">
                        <span class="fa fa-eye" />
                    </button>
                </td>
            </tr>
                    }
    </tbody>
    @{
        var totalCommision = Model.Sum(sale => sale.ComAmount);
        var totalAmount = Model.Sum(sale => sale.TotalAmount);
    }
   
</table>


<script>
    $(document).ready(function () {
        SetDataTable("#tbSales", "#txtFilter");

        var tAmount = "Ventas: " + GetCurrency(parseFloat('@totalAmount'));

        var tComission = "Comisiones: " + GetCurrency(parseFloat('@totalCommision'));

        $("#hCommision").text(tComission);
        $("#hTotal").text(tAmount);
    });


</script> 