@model IEnumerable<CerberusMultiBranch.Models.Entities.Operative.SaleDetail>
@using CerberusMultiBranch.Support


<table id="tbSoldItemsShown" class="table dt-responsive nowrap table-bordered small hidden" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Sale.Folio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Product.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Product.Category.SatCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Product.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Product.Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TaxPercentage)
                    </th>
                    <th>
                        @Html.DisplayName("Monto IVA")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Amount)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sale.Folio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Category.SatCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Unit)
                        </td>
                        <td>
                            @item.Price.ToMoney()
                        </td>

                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @item.TaxPercentage %
                        </td>
                        <td>
                          @item.TaxAmount.ToMoney()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaxedAmount)
                        </td>
                    </tr>
               }
            </tbody>
        </table>

<script>
    $(document).ready(function ()
    {
        $("#tbSoldItemsShown").removeClass("hidden");

        var printOp = { Title: '@Html.Raw(Extension.GetTitle("Factura del día"))', Columns: [0,1, 2, 3, 4,5,6,7,8] };

        Paginate("#tbSoldItemsShown", 20, true, null, false, "#divButtons", printOp);

        $("#hAmount").text("Total " + '@Model.Sum(d=> d.TaxedAmount).ToMoney()')

        $("#hItems").text("Articulos " + '@Model.Sum(d=> d.Quantity)')

        HideLoading();
    });

   
</script>