@model CerberusMultiBranch.Models.ViewModels.Operative.BudgetViewModel

@{
    ViewBag.Title = "Cotizaciones";
    ViewBag.Class = "fa fa-dollar";
}

<hr />
<div class="panel panel-danger">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="input-group ">
                @Html.DropDownList("BranchId", Model.Branches, "Sucursal", new { @class = "form-control", style = "width:25% !important" })
                @Html.TextBox("Folio", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "Folio",
               style = "width:25% !important"
           })

                @Html.TextBox("Client", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "Nombre del cliente",
               style = "width:50% !important"
           })

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" title="Buscar cotizaciones" onclick="SearchBudgets()">
                        <span class="glyphicon glyphicon-search"></span>
                        Buscar
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-12" style="margin-top:10px">
            <div class="col-md-8 row">
                <div class="input-group">
                    <span class="input-group-addon"><a>Fecha Inicial</a></span>
                    @Html.EditorFor(m => m.BeginDate, new { htmlAttributes = new { @class = "form-control" } })

                    <span class="input-group-addon"><a>Fecha final</a></span>
                    @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div id="tbButtonsBudget">

            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div id="divBudgets" class="panel-body dtContainer">
        @Html.Partial("_BudgetList", Model.Budgets)
    </div>
</div>


<script>
    function SearchBudgets()
    {
        ShowLoading('static');

        var param =
            {
                branchId: $("#BranchId").val(),
                beginDate: $("#BeginDate").val(), 
                endDate: $("#EndDate").val(), 
                folio: $("#Folio").val(),
                client: $("#Client").val()
            }

        ExecuteAjax('@Url.Action("SearchBudgets", "Sales")', param, function (response)
        {
            $("#divBudgets").html(response)
        });
    }
</script>