@model CerberusMultiBranch.Models.ViewModels.Operative.TransactionViewModel

@{
    ViewBag.Title = "Historial Ventas";
    ViewBag.Class = "fa fa-history";
}

@*<h3>
    <span class="fa fa-history" style="float:left"></span>
    &nbsp;&nbsp;Historial de Ventas
</h3>*@
<hr />
<div class="col-md-7">
    <div class="input-group ">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        @Html.TextBox("txtFilter", "", htmlAttributes: new { @class = "form-control" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="btnSearch" title="Buscar">
                <span class="glyphicon glyphicon-search" />
            </button>
            <button class="btn btn-default" type="button" title="Recargar página" onclick="Reload()">
                <span class="glyphicon glyphicon-refresh" />
            </button>
            <button id="btnFilter" type="button" class="btn btn-warning" data-toggle="collapse" data-target="#divFilters" title="Mostras / ocultar filtros">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
        </span>
    </div>
</div>
<div class="col-md-3">
    <h5>
        <label class="text-danger" id="lblTotalAmount"></label>
    </h5>
</div>
<div class="col-md-2">
    <h5>
        <label class="text-danger" id="lblTotalQuantity"></label>
    </h5>
</div>

<br /><br /><br />

<div id="divFilters" class="col-md-4  collapse">
    <div class="panel panel-danger">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.Label("Sucursales", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("BranchId", Model.Branches, "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.Label("Estado de venta", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        <select id="Status" class="form-control">
                            <option value=""></option>
                            <option value="0">Abierto</option>
                            <option value="1">Apartado</option>
                            <option value="3">Pagado</option>
                            <option value="-1">Cancelado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.Label("Desde", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.EditorFor(model => model.BeginDate, "", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Hasta", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.EditorFor(model => model.EndDate, "", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Cliente", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("Client", "", htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Folio", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("Folio", "", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Usuario", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("User", "", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="divSales">
    @Html.Partial("_SaleList", Model.Sales)
</div>
<script>
    $(document).ready(function () {
        SetFilterControls("#divFilters", "#btnFilter", "#divSales");

        $("#btnSearch").click(function ()
        {
            ShowLoading();
            var data = {
                branchId: $("#BranchId").val(),
                beginDate: $("#BeginDate").val(),
                endDate: $("#EndDate").val(),
                folio: $("#Folio").val(),
                client: $("#Client").val(),
                user: $("#User").val(),
                status: $("#Status").val()
            };
            ExecuteAjax('@Url.Action("Search")', data, function (view)
            {
                $("#divSales").html(view);
                HideLoading();
            });

        });
    });

    function Reload() {
        ShowLoading();
        window.location = '@Url.Action("History")';
    }


</script>

