@model CerberusMultiBranch.Models.ViewModels.Operative.TransactionViewModel
@using CerberusMultiBranch.Models.Entities.Operative;
@using CerberusMultiBranch.Support;

@{
    ViewBag.Title = "Ventas";
    ViewBag.Class = "fa fa-shopping-bag";
}

<h4 id="hCommision" class="alert alert-attention col-md-3 col-md-offset-1"></h4>

<h4 id="hPayed" class="alert alert-success col-md-3 col-md-offset-1"></h4>

<h4 id="hTotal" class="alert alert-info col-md-3  col-md-offset-1"></h4>
<hr />
<div class="panel panel-danger">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="input-group ">
                @Html.DropDownList("BranchId", Model.Branches, "Sucursal", new { @class = "form-control", style = "width:20% !important" })
                @Html.TextBox("Folio", "", htmlAttributes: new {@class = "form-control",
               placeholder = "Folio de venta", style = "width:20% !important"})

                @Html.TextBox("Client", "", htmlAttributes: new{@class = "form-control",
               placeholder = "Nombre del cliente", style = "width:40% !important"})

                <select id="Status" class="form-control" style="width:20% !important">
                    <option value="">Status</option>
                    <option value="@TranStatus.InProcess">@TranStatus.InProcess.GetName()</option>
                    <option value="@TranStatus.Reserved">@TranStatus.Reserved.GetName()</option>
                    <option value="@TranStatus.Reserved">@TranStatus.Reserved.GetName()</option>
                    <option value="@TranStatus.Revision">@TranStatus.Revision.GetName()</option>

                    <option value="@TranStatus.Compleated">@TranStatus.Compleated.GetName()</option>

                    <option value="@TranStatus.PreCancel">@TranStatus.InProcess.GetName()</option>
                    <option value="@TranStatus.Canceled">@TranStatus.PreCancel.GetName()</option>
                    <option value="@TranStatus.OnChange">@TranStatus.OnChange.GetName()</option>
                </select>

               

                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnSearch" title="Buscar ventas a clientes">
                        <span class="glyphicon glyphicon-search"></span>
                        <u>B</u>uscar
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-12 row" style="margin-top:10px">
            <div class="col-md-9">
                <div class="input-group">
                    @if (User.IsInRole("Supervisor"))
                    {
                        @Html.TextBox("User", "", htmlAttributes: new { @class = "form-control", placeholder = "Nombre de usuario" })
                    }
                    <span class="input-group-addon"><a>Fecha Inicial</a></span>
                    @Html.EditorFor(m => m.BeginDate, new { htmlAttributes = new { @class = "form-control" } })

                    <span class="input-group-addon"><a>Fecha final</a></span>
                    @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div id="tbButtonsSales"></div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div id="divSales" class="panel-body dtContainer">
        @Html.Partial("_SaleList", Model.Sales)
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $("#btnSearch").click(function ()
        {
            ShowLoading();
            var data = {
                branchId: $("#BranchId").val(),
                beginDate: $("#BeginDate").val(),
                endDate: $("#EndDate").val(),
                folio: $("#Folio").val(),
                client: $("#Client").val(),
                user: $("#User").val(),
                status: $("#Status").val()
            };
            ExecuteAjax('@Url.Action("Search")', data, function (view)
            {
                $("#divSales").html(view);
                HideLoading();
            });

        });
    });
</script>

