@model CerberusMultiBranch.Models.ViewModels.Operative.SaleViewModel

@{
    ViewBag.Title = "Carrito";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    HalfProgress();
</script>


<h3>
    <span class="fa fa-shopping-cart" style="float:left"></span>
    &nbsp;&nbsp;Carrito de Venta
</h3>


@using (Html.BeginForm("ShopingCart", "Sales"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.BranchId)
    @Html.HiddenFor(m => m.TransactionId)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.IsPayed)
    @Html.HiddenFor(m => m.Compleated)
    @Html.HiddenFor(m => m.ClientId)
    @Html.HiddenFor(m => m.Folio)


    if (Model.Client != null)
    {   <h4 id="hClientName" class="text-danger">
        @Model.Client.Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        RFC:&nbsp;&nbsp;@Model.Client.FTR
    </h4>
    }
    else
    {
        <h4 id="hClientName" class="text-danger"></h4>
    }
    if (!Model.Compleated)
    {
        @Html.Partial("_ProductSearchFilters", Model)
    }

    if (Model.TransactionDetails.Count > 0)
    {
        <div class="panel panel-danger col-md-12">
            <div id="divDetails" class="row">
            @Html.Partial("_Details", Model.TransactionDetails)
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-danger">
            <div class="panel-body">
                <div class="col-md-offset-3 col-md-6">
                    <p>
                        Aun no has agregado ningun producto a la venta, utiliza los filtros para buscar y agregar productos
                        o navega a traves del Catálogo.
                    </p>
                </div>
            </div>
        </div>
    }

    <div class="panel panel-danger">
        <div class="panel-body row">
            <div class="col-md-6 btn-group">
                @if (Model.TransactionDetails.Count > 0)
                {
                    if (!Model.Compleated)
                    {

                        <button id="btnShowClients" class="btn btn-success" type="button">
                            <span class="fa fa-user-plus"></span>
                            Cargo a cliente
                        </button>

                        <button class="btn btn-primary" type="submit" id="btnCompleate">
                            <span class="fa fa-upload"></span>
                            Terminar venta
                        </button>
                    }
                }
            </div>
        </div>
    </div>

    @Html.Partial("_QuickClient")

  
    <div id="divModal">

    </div>
}

<input id="ipError" hidden value="0" />
<script>
    $(document).ready(function ()
    {

        if ('@ViewBag.Message'.length > 0)
            ShowMessage("Error inesperado", '@ViewBag.Message', 'warning');

        if ('@Model.Compleated' == 'false')
       {
             SetCascade("#CarMakeId", "#CarModelId", "GetModels");

            SetCascade("#CarModelId", "#CarYearId", "GetYears");
        }

        $("#btnShowClients").click(function () {
            $("#ModalQuickClient").modal('show');
        });

        $("#lblTotalAmount").val(' @Html.DisplayFor(model => model.TotalAmount)')
        CompleateProgress();
    });



    function SearchProduct()
    {
        HalfProgress();
        var filters = { categortyId: $("#CategoryId").val(), carYear: $("#CarYearId").val(), name: $("#ProductName").val() }

        ExecuteAjax('@Url.Action("SearchForSale", "Products")', filters, function (view) {
            $("#divModal").html(view);
        });
    }

    function ClientSelected(id, name, ftr) {
        $("#ClientId").val(id);

        var param = { clientId: id, transactionId: $("#TransactionId").val() }

        ExecuteAjax('@Url.Action("SetClient","Sales")', param, function (j) {
            $("#ModalQuickClient").modal('hide');
            if (j.Result != 'OK')
                ShowMessage(j.Result, j.Data, 'warning');
            else {
                $("#hClientName").text('');
                $("#hClientName").append(name);
                $("#hClientName").append("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                $("#hClientName").append("RFC:");
                $("#hClientName").append(ftr);
            }
        });
    }

</script>

