@model CerberusMultiBranch.Models.Entities.Operative.Sale

@{
    ViewBag.Title = "Carrito";
}

@Scripts.Render("~/bundles/jqueryval")
<script>
    HalfProgress();
</script>

<h3>
    <span class="fa fa-shopping-cart" style="float:left"></span>
    &nbsp;&nbsp;Carrito de Venta
</h3>


@if (Model == null)
{
    <div class="panel panel-danger">
        <div class="panel-body">
            <div class="col-md-offset-4 col-md-4">
                <p>
                    Aún no hay productos en el carrito, ve a @Html.ActionLink("Catálogo de productos", "Index", "Products") para comenzar a agregar
                </p>
            </div>
        </div>
    </div>
}
else
{
    using (Html.BeginForm("ShopingCart", "Sales"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.BranchId)
        @Html.HiddenFor(m => m.TransactionId)
        @Html.HiddenFor(m => m.TransactionTypeId)
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.IsCompleated)
        @Html.HiddenFor(m => m.EmployeeId)
        @Html.HiddenFor(m => m.ClientId)

        <h4 id="hClientName" class="text-danger"></h4>

        <div class="panel panel-danger col-md-12">
            <div id="divDetails" class="panel-body">
                @Html.Partial("_Details", Model.TransactionDetails)
            </div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-body row">
                <div class="col-md-6 btn-group">
                    <button class="btn btn-primary" type="button">
                        <span class="fa fa-exchange"></span>
                        Cambio de tarifa
                    </button>

                    <button id="btnShowClients" class="btn btn-success" type="button">
                        <span class="fa fa-user-plus"></span>
                        Cargo a cliente
                    </button>

                    <button class="btn btn-danger" type="button" id="btnChoosPayment">
                        <span class="fa fa-usd"></span>
                        Realizar Pago
                    </button>
                </div>
            </div>
        </div>

        @Html.Partial("_ChoosePayment")

        @Html.Partial("_QuickClient")
    }
}

<script>
    $(document).ready(function () {
        $("#btnShowClients").click(function () {
            $("#ModalQuickClient").modal('show');
        });

        $("#btnChoosPayment").click(function ()
        {
            ExecuteAjax('@Url.Action("CashRegStatus","CashRegister")', {}, function (data)
            {
                if (data == "OK") {
                    console.log(data);
                    $("#ModalPayment").modal('show');
                }
                else {
                    console.log(data);
                    ShowMessage(data, "Antes de realizar una venta asegurese de abrir la caja", "warning");
                }
            });
        });
        CompleateProgress();
    });

    function ClientSelected(id, name, ftr)
    {
        $("#ClientId").val(id);

        var title = "Cliente:  " + name

        if (ftr != '')
            title += "               RFC: " + ftr;

        $("#hClientName").text(title);
        $("#ModalQuickClient").modal('hide');
    }

    function Calculate(val) {
        var total = $("#lblTotalAmount").text().replace(/[$,]+/g, "");

        var result = (total - val);

        return (total - parseFloat(val));
    }

    function GetChange(val) {
        var total = $("#lblTotalAmount").text().replace(/[$,]+/g, "");


        return (parseFloat(val) - total);
    }

</script>

