@model CerberusMultiBranch.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<div class="panel panel-danger">
    <div class="panel-body">
        <h4>Inicia Sesión con una red social</h4>
        <hr />
        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            if (loginProviders.Count() == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    <div id="socialLoginList">

                        <p class="btn-group">
                            @foreach (AuthenticationDescription p in loginProviders)
                    {

                        if (p.AuthenticationType == "Google")
                        {
                                    <button type="submit" class="btn btn-danger btn-lg" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"
                                            title="Inicia usando tu cuenta de @p.Caption">
                                        <span class="fa fa-google">oogle</span>
                                    </button>
                                }

                                if (p.AuthenticationType == "Facebook")
                                {
                                    <button type="submit" class="btn btn-primary btn-lg" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"
                                            title="Inicia usando tu cuenta de @p.Caption">
                                        <span class="fa fa-facebook">acebook</span>
                                    </button>
                                }


                            }
                        </p>

                    </div>
                }
            }
        }
    </div>
</div>