@model CerberusMultiBranch.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Completar registro";
}
<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-7">
            <h5>
                <p class="text-info">
                    Has sido atenticado exitosamente con <strong>@ViewBag.LoginProvider</strong>.<br />
                    Ingresa un nombre de usuario para este sitio y haz click "Completar Registro" para terminar.
                </p>
            </h5>
        </div>
        <div class="form-group col-md-7">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-7">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Completar Registro" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
