@using CerberusMultiBranch.Models
@model LoginViewModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}



<div class="col-md-12">
    <h1>
        <span class="fa fa-laptop" style="float:left"></span>
        &nbsp;&nbsp;
        Sims v 1.0
    </h1>
    <hr />
</div>


<div class="col-md-6 col-md-offset-3">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="panel panel-danger">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel-body">

                <h3>
                    <span class="fa fa-sign-in text-danger" style="float:left"></span>
                    &nbsp;&nbsp;Inicio de sesión
                </h3>
                <hr />


                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa fa-at"></i></span>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa fa-key"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>


                <div class="form-group col-md-9">
                    <div class="col-md-6 row">
                        <div class="checkbox form-control">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                Recordarme?
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <button class="btn btn-danger" type="submit">
                        <span class="glyphicon glyphicon-log-in"></span>
                        Iniciar Sesión
                    </button>
                </div>

            </div>
        </div>

        <p>
            @Html.ActionLink("¿Olvidaste tu contraseña?", "ForgotPassword")
        </p>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1754298167930814',
            xfbml: true,
            version: 'v2.10'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>