@model IEnumerable<CerberusMultiBranch.Models.Entities.Operative.TransactionDetail>

@Html.ValidationMessage("AddDetail", "", new { @class = "text-danger" })
<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-1"></th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th class="Compleated">
                <button id="btnShowQuick" class="btn btn-warning btn-xs" type="button">
                    <span  class="glyphicon glyphicon-plus-sign" ></span>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Product.Images != null)
                    { 
                        <img src="@item.Product.Images.First().Path" class="img-responsive" />
                    }
                    else
                    {
                        <img src="~/Content/Images/sinimagen.jpg" class="img-responsive" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td  class="Compleated">
                    <div class="btn-group">
                        <button class="btn btn-danger btn-xs" type="button">
                            <span class="glyphicon glyphicon-trash"></span> 
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



<script>
    $(document).ready(function ()
    {
        $("#btnShowQuick").click(function ()
        {
            $("#ModalQuickProduct").modal('show');
        });

        $("#TotalAmount").val('@Model.Sum(d => d.Amount)');
    });
</script>