@model IEnumerable<CerberusMultiBranch.Models.Entities.Catalog.ExternalProduct>

<div class="panel panel-danger">
    <div class="panel-body">
        <table id="tbExternalProducts" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Codigos")
                    </th>
                    <th>
                        @Html.DisplayName("Descripción")
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>@Html.DisplayName("Cantidad")</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="small">
                @foreach (var item in Model)
            {
                    <tr>
                        <td class="col-md-2">
                            <label>Proveedor</label> <br />
                            @Html.DisplayFor(modelItem => item.Code)<br />
                     
                            @if (item.InternalCode != null)
                            {
                                <label>Autobien</label><br />
                                @Html.DisplayFor(modelItem => item.InternalCode)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)<br />
                            <span class="fa fa-registered"></span>@Html.DisplayFor(modelItem => item.TradeMark)
                        </td>


                        <td class="col-md-2">
                            @Html.TextBoxFor(modelItem => item.Price, htmlAttributes: new { @class = "form-control", type = "number",id="txtBuyPrice" })
                        </td>

                        <td class="col-md-1">
                            @Html.Hidden("ProductId", item.ProductId)
                            @Html.TextBox("Quantity", "1", htmlAttributes: new { @class = "form-control", type = "number" })
                        </td>
                        <td class="col-md-1">
                            <div class="btn-group-vertical">
                                <button class="btn btn-primary" title="Crear / Cambiar asociación con producto interno" 
                                        onclick="BeginAddRelation('@item.Description','@item.Code')">
                                    <span class="glyphicon glyphicon-link"></span>
                                </button>
                                @if (item.InternalCode != null)
                                {
                                    <button class="btn btn-success" onclick="AddDetail(this)" title="Agregar a la compra">
                                        <span class="fa fa-shopping-basket"></span>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-success" onclick="BeginCopy('@item.Code')" title="copiar producto a catálogo interno">
                                        <span class="fa fa-clone"></span>
                                    </button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        Paginate("#tbExternalProducts", 6);
    });

    function BeginAddRelation(description,code)
    {
        $("#ModalExternalProduct").off('hidden.bs.modal').on('hidden.bs.modal', function ()
        {
            $("#ExCode").val(code);
            $("#lblExternalProduct").text(code + " => " + description)
            $("#ModalInternalProduct").modal("show");

            $("#ModalExternalProduct").off('hidden.bs.modal');
        });

        $("#ModalExternalProduct").modal("hide");
      
    }

    function BeginCopy(code)
    {
        $("#ExCode").val(code);

        //me suscribo al cierre de la modal de busqueda de productos externos
        $("#ModalExternalProduct").off('hidden.bs.modal').on('hidden.bs.modal', function ()
        {
            console.log("Beggin copy");
            ShowLoading();

            ExecuteAjax('@Url.Action("BeginCopy","Products")', { providerId: $("#ProviderId").val(), code: code }, function (view)
            {
                HideLoading();
                $("#divClone").html(view);
            });

            $("#ModalExternalProduct").off('hidden.bs.modal')();
        });

        $("#ModalExternalProduct").modal("hide");
    }

    function AddDetail(element)
    {
        $("#divProductList").hide();
        $("#imgLoading").attr("class", "img-responsive");

        var row = $(element).parent().parent().parent();
        cells = row.find("td");

        var param = {
            price: row.find("#txtBuyPrice").val(),
            productId: row.find("#ProductId").val(),
            quantity: row.find("#Quantity").val(),
            purchaseId: $("#PurchaseId").val()
        };

        console.log(param);

        ExecuteAjax('@Url.Action("AddDetail", "Purchases")', param, function (view)
        {
            $("#divDetails").html(view);

            $("#imgLoading").attr("class", "hide");
            $("#divProductList").show();
            
        });
    }
</script>
