@model IEnumerable<CerberusMultiBranch.Models.ViewModels.Catalog.ProductViewModel>


<table id="tbPurchaseCartDetail" class="table dt-responsive table-bordered small hidden" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayName("Sucursal")
            </th>

            <th>
                @Html.DisplayName("Costo")
            </th>

            <th>
                @Html.DisplayName("Inventario")
            </th>

            <th>
                @Html.DisplayName("Máximo")
            </th>

            <th>
                @Html.DisplayName("Cantidad")
            </th>

            <th>
                <button class="btn btn-default btn-sm" type="button" title="Agregar productos" onclick="ShowProductQuickSearch()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-uppercase" style="min-width:280px">

                    @Html.HiddenFor(modelItem => item.ProductId)
                    <strong>
                        Cve Autobien: @Html.DisplayFor(modelItem => item.Code)     -    Cve Proveedor:  @Html.DisplayFor(modelItem => item.ProviderCode)
                    </strong><br />

                    @Html.DisplayFor(modelItem => item.Name) <br />
                    <strong>Por</strong>  @Html.DisplayFor(modelItem => item.TradeMark)

                </td>

                <td class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.BranchName)
                </td>

                <td class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.BuyPrice)
                </td>

                <td class="text-lowercase text-center">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td class="text-uppercase  text-center">
                    @Html.DisplayFor(modelItem => item.MaxQuantity)
                </td>

                <td class="text-uppercase  text-center" style="max-width:50px">
                    @Html.EditorFor(modelItem => item.AddQuantity, new { htmlAttributes = new { @class = "form-control text-uppercase input-sm", autocomplete = "off" } })
                </td>

                <td>
                    <button type="button" class="btn btn-primary btn-xs" onclick="ProductSelected(this)">
                        <span class="fa fa-plus"></span>
                        Quitar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function ()
    {
        $("#tbPurchaseCartDetail").removeClass("hidden");
    });

    function ShowProductQuickSearch()
    {
        ShowQuickSearch('@Url.Action("ShowQuickSearch", "Products")', function (id, name, ftr) {

        }, null, { providerId: $("#ProviderId").val() });
    }
</script>