@model CerberusMultiBranch.Models.Entities.Purchasing.PurchaseOrder
@using CerberusMultiBranch.Support

<div class="panel panel-primary">
    <div class="panel-heading">
        <button class="close" type="button" onclick="HideModal(null,true)" title="Cierra ventana de revisión"><span class="fa fa-times"></span></button>
        <h4 class="panel-title">
            <span class="fa fa-check"></span>
            Revisión de Orden de Compra
        </h4>
    </div>
    <div class="panel-body small">
       
        <div class="form-group col-md-12 text-center">
            <h3>
                <span class="fa fa-handshake-o"></span>
                @Model.Provider.Name
            </h3>
        </div>
        
        <div class="form-group col-md-12 text-center">
            <h4>
                Monto Total
                @Model.TotalDue.ToMoney()
            </h4>
        </div>
       

        <div class="col-md-12 form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-comment-o"></i></span>
                @Html.TextAreaFor(model => model.Comment, 3, 1, htmlAttributes: new { @class = "form-control text-uppercase input-sm",
           placeholder="Escribe un comentario..", id="txtComment" })
            </div>
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn  btn-sm btn-success" title="Autoriza el envío de la orden de compra" onclick="SetRevision('@Model.PurchaseOrderId', true)">
            <span class="fa fa-check"></span>
            Autorizar
        </button>

        <button class="btn  btn-sm btn-warning" title="Rechaza el envío de la orden de compra" onclick="SetRevision('@Model.PurchaseOrderId',false)">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Rechazar
        </button>

        <button class="btn btn-sm btn-danger pull-right" title="Cierra la ventana de revisión" onclick="HideModal(null,true)">
            <span class="fa fa-times"></span>
            Cerrar
        </button>
    </div>
</div>

<script>
   

    function SetRevision(id,autorized)
    {
        var comment = $("#txtComment").val();
        
        if (comment.length <5)
        {
            ShowNotify("Comentario requerido","warning","Se requiere un comentario mayor a 5 caracteres",3000);
            return;
        }

        ShowModLoading();

        ExecuteAjax('@Url.Action("SetRevision", "Purchases")', { id: id, comment: comment, autorized: autorized }, function (response)
        {
            HideModLoading(function ()
            {
                ShowNotify(response.Header, response.Result, response.Body, 3000);

                HideModal(function ()
                {
                    Reload();
                },true);
               
            });
        });
    }
</script>