@model IEnumerable<Purchase>
@using CerberusMultiBranch.Models.Entities.Purchasing
@using CerberusMultiBranch.Models.Entities.Operative
@using CerberusMultiBranch.Support

<table id="tbPurchases" class="table  table-bordered small" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tipo")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch.Name)
            </th>
         
            <th>
                @Html.DisplayName("Proveedor")
            </th>
            <th>
                @Html.DisplayName("Fecha")
            </th>

            <th>
                @Html.DisplayName("Descuento")
            </th>
            <th style="white-space:nowrap">
                @Html.DisplayName("Monto Final")
            </th>
            <th>
                @Html.DisplayName("Pagos")
            </th>
            <th>
                @Html.DisplayName("Adeudos")
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.InsDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsUser)
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.UpdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdUser)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="@item.StatusStyle">
                    @Html.DisplayFor(m => item.TransactionType) <br />
                    @Html.DisplayFor(m => item.PurchasStatus)
                </td>
                <td>
                    @Html.DisplayUpperFor(m => item.Bill)
                </td>
                <td style="white-space:nowrap">
                    @Html.DisplayFor(m => item.Branch.Name)
                </td>
             
                <td style="min-width:250px">
                    @Html.DisplayUpperFor(m => item.Provider.Name)
                </td>
             
                <td  style="min-width:100px">
                    @item.TransactionDate.ToString("dd/MM/yyyy")<br />
                    <strong>
                        @Html.DisplayFor(m => item.Days)
                    </strong>
                </td>
             
           
                <td class="text-right">
                    @Html.DisplayFor(model => item.DiscountPercentage) % <br />
                    @Html.DisplayFor(model => item.DiscountedAmount)
                </td>

                <td class="text-right">
                    @Html.DisplayFor(m => item.FinalAmount)
                </td>

                <td class="text-right">
                    @item.PurchasePayments.Sum(p => p.Amount).ToMoney()
                </td>
               
               <td class="text-right">
                   @{ var debt = item.FinalAmount - item.PurchasePayments.Sum(p => p.Amount); }
                   @debt.ToMoney()
               </td>
                <td>
                    @Html.DisplayFor(model => item.InsDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.InsUser)
                </td>

                <td>
                    @Html.DisplayFor(model => item.UpdDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.UpdUser)
                </td>
                <td>
                    <button class="btn btn-warning btn-sm"
                            onclick="window.location = '@Url.Action("Detail",new { id= item.PurchaseId})'" title="Ver detalle y editar">
                        <span class="fa fa-edit"></span>
                        Editar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@{

    var totalAmount = Model.Where(p=> p.Status != TranStatus.Canceled && p.Status != TranStatus.InProcess).Sum(purchase => purchase.FinalAmount);
    var debst = 0.0;

    foreach(var purchase in Model.Where(p => p.Status != TranStatus.Canceled && p.Status != TranStatus.InProcess))
    {
        debst += purchase.FinalAmount - purchase.PurchasePayments.Sum(a => a.Amount);
    }
}
<script>
    $(document).ready(function ()
    {
      
        $("#tbPurchases").removeClass("hidden");

        var printPurchasesOp = { Title: '@Html.Raw(Extension.GetTitle("Historial de Compras"))', Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] };

        Paginate("#tbPurchases", 10, true, null, false, "#tbButtonsPurchases", printPurchasesOp);

        var tAmount = "Total " + GetCurrency(parseFloat('@totalAmount'));

        var tDebst = "Por Pagar " + GetCurrency(parseFloat('@debst'));
        $("#Total").text(tAmount);
        $("#Debts").text(tDebst);

        HideLoading();
    });



</script> 