@model ICollection<CerberusMultiBranch.Models.Entities.Operative.Purchase>

<table id="tbPurchases" class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-2">@Html.DisplayName("Sucursal")</th>
            <th class="col-md-1">@Html.DisplayNameFor(m => m.First().Bill)</th>
            <th class="col-md-4">@Html.DisplayName("Proveedor")</th>
    
            @*<th class="col-md-1">@Html.DisplayName("Tipo")</th>*@
            <th class="col-md-1">@Html.DisplayName("Fecha")</th>
            <th class="col-md-1">@Html.DisplayNameFor(m => m.First().TotalAmount)</th>
         
            <th class="col-md-1">@Html.DisplayName("Estado")</th>
            <th class="col-md-1"/>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Branch.Name)</td>
                <td>@Html.DisplayFor(m => item.Bill)</td>
                <td>@Html.DisplayFor(m => item.Provider.Name)</td>
   
                @*<td align="center">@item.PaymentType.ToString()</td>*@
                <td align="center">@Html.DisplayFor(m => item.TransactionDate)</td>
                <td align="center">@Html.DisplayFor(m => item.TotalAmount)</td>
                
             

                @switch (item.Status)
                {
                    case CerberusMultiBranch.Models.Entities.Operative.TranStatus.Canceled:
                        <td align="center" class="alert alert-danger">
                            Cancelado
                        </td>
                        break;
                    case CerberusMultiBranch.Models.Entities.Operative.TranStatus.Compleated:
                        <td align="center" class="alert alert-success">
                            Inventariado
                        </td>
                        break;
                    case CerberusMultiBranch.Models.Entities.Operative.TranStatus.InProcess:
                        <td align="center" class="alert alert-info">
                            En Proceso
                        </td>
                        break;
                }
                <td align="center">
                    <button class="btn btn-primary  btn-xs" onclick="Detail(@item.PurchaseId)" title="Ver detalle de compra">
                        <span class="glyphicon glyphicon-eye-open" />
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var totalQuantity = Model.Sum(purchase => purchase.PurchaseDetails.Sum(s => s.Quantity));
    var totalAmount = Model.Sum(purchase => purchase.TotalAmount);
}
<script>
    $(document).ready(function ()
    {
        SetDataTable("#tbPurchases", "#txtFilter");

        var tAmount = "Monto Total: " + GetCurrency(parseFloat('@totalAmount'));

        var tQuantity = "Articulos: " + '@totalQuantity';

        $("#lblTotalAmount").text(tAmount);
        $("#lblTotalQuantity").text(tQuantity);

    });

    function Detail(id)
    {
        ShowLoading();
        window.location = '@Url.Action("Detail")' + '/' + id;
    }
</script> 