@model IEnumerable<CerberusMultiBranch.Models.Entities.Finances.PurchasePayment>
@using CerberusMultiBranch.Models.Entities.Operative
@using CerberusMultiBranch.Support

<form id="frmPayment">
    <div class="panel panel-default" >
        <div id="divPayments"  class="panel-body">
            <div class="row col-md-12">
                @Html.ValidationSummary(true, "", htmlAttributes: new { @class = "control-label text-danger" })
                <div class="form-group col-md-3">
                    @Html.Label("Fecha de Pago", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="PaymentDate" name="PaymentDate" class="form-control" data-val=true data-val-required="Se requiere la fecha de pago"
                               type="date" />
                    </div>
                    @Html.ValidationMessage("PaymentDate", "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-3">
                    @Html.Label("Monto del pago", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input id="PAmount" name="PAmount" class="form-control" data-val=true
                               data-val-required="Se requiere el monto a pagar" type="number" />
                    </div>
                    @Html.ValidationMessage("PAmount", "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Metodo de pago", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label class="control-label">
                                @PaymentMethod.Transferencia.ToString()
                                <input name="PaymentMethod" value="@PaymentMethod.Transferencia" type="radio" checked />
                            </label>
                        </div>
                        <div class="input-group-addon">
                            <label class="control-label">
                                @PaymentMethod.Cheque.ToString()
                                <input name="PaymentMethod" value="@PaymentMethod.Cheque" type="radio" />
                            </label>
                        </div>
                        <div class="input-group-addon">
                            <label class="control-label">
                                @PaymentMethod.Tarjeta.ToString()
                                <input name="PaymentMethod" value="@PaymentMethod.Tarjeta" type="radio" />
                            </label>
                        </div>

                        <div class="input-group-addon">
                            <label class="control-label">
                                @PaymentMethod.Efectivo.ToString()
                                <input name="PaymentMethod" value="@PaymentMethod.Efectivo" type="radio" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.Label("Referencia", htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                    <input id="Reference" class="form-control" />
                </div>
            </div>
            <div class="form-group col-md-9">
                @Html.Label("Comentario", htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-comment"></i></span>
                    <input id="Comment" class="form-control" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="button" onclick="AddPayment()">
                            <span class="fa fa-plus"></span>
                            Agregar pago
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reference)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentMethod)
                    </th>
                    <th>
                        @Html.DisplayName("Capturo")
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reference)
                        </td>
                        <td>
                            @item.PaymentMethod.ToString()
                        </td>
                        <td>
                            @item.UpdUser
                        </td>
                        <td>
                            @if (item.CanDelete)
                            {
                                <button class="btn btn-danger" type="button" title="Eliminar pago" onclick="RemovePayment(@item.PurchasePaymentId)">
                                    <span class="fa fa-trash"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        var form = $("#frmPayment");
        form.validate();

        var totalAmount = parseFloat($("#FinalAmount").val()).toFixed(2);

        var debt =(totalAmount - @Model.Sum(p => p.Amount));

      
        $("#Debt").text(GetCurrency(debt))

        $("#TotalPayments").text(GetCurrency( @Model.Sum(p => p.Amount)));

        if(debt == 0)
        {
            $("#divPayments *").children().prop("disabled",true);
        }
        else
        {
            $("#divPayments *").children().prop("disabled",false);
        }
    });

    function RemovePayment(id)
    {
        ShowLoading();
        ExecuteAjax('@Url.Action("RemovePayment")', { id: id }, function (response)
        {
            HideLoading();
            if ($.isPlainObject(response))
                ShowMessage(response.Header, response.Message, 'warning', true);
            else
                $("#divPurchasePayments").html(response);
        });
    }

    function AddPayment()
    {
        var form = $("#frmPayment");
        if (!form.valid())
            return;

        ShowLoading();
        var param =
            {
                PurchaseId: $("#PurchaseId").val(),
                PaymentDate: $("#PaymentDate").val(),
                Comment: $("#Comment").val(),
                Reference: $("#Reference").val(),
                PaymentMethod: $("input[name=PaymentMethod]:checked").val(),
                Amount: $("#PAmount").val(),
            };

        ExecuteAjax('@Url.Action("AddPayment")', { payment: param }, function (response)
        {
            HideLoading();
            if ($.isPlainObject(response))
                ShowMessage(response.Header, response.Message, 'warning', true);
            else
                $("#divPurchasePayments").html(response);
        });
    }
</script>