@model RequiredProductGroupViewModel

@using CerberusMultiBranch.Support
@using CerberusMultiBranch.Models.ViewModels.Purchasing

<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="text-uppercase">
            <div class="col-md-4">
                Marca  [@Html.DisplayFor(modelItem => Model.TradeMark)]
            </div>
            <div class="col-md-4">
                Cod Interno [@Model.Code]
            </div>
            <div class="col-md-4">
                Cod Proveedor
                <u onmouseover="SetPointer(this)" title="has click para modificar el costo y código de proveedor" onclick="BeginProviderCode('@Model.ProductId')">
                    @Html.DisplayFor(modelItem => Model.ProviderCode)
                    <span class="fa fa-edit"></span>
                </u>
                @*<button class="btn-link" type="button" title="has click para modificar el precio y código de proveedor" onclick="BeginProviderCode('@Model.ProductId')">
                    [@Model.ProviderCode]
                </button>*@
            </div>
            <div class="col-md-12 text-center">
                @Html.DisplayFor(modelItem => Model.Description)
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered small">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Sucursal")
                    </th>
                    <th>
                        @Html.DisplayName("Precio Compra")
                    </th>
                    <th>
                        @Html.DisplayName("Maximo")
                    </th>
                    <th>
                        @Html.DisplayName("Actual")
                    </th>
                    <th>
                        @Html.DisplayName("Ordenar")
                    </th>
                    <th>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Branches)
            {

                <tr class='@item.PurchasRowStyle'>
                    <td class="text-uppercase">
                        @Html.HiddenFor(modelItem => item.BranchId)
                        @Html.DisplayFor(modelItem => item.BranchName)
                    </td>

                    <td class="text-uppercase">
                        @Html.HiddenFor(modelItem => item.ProductId)
                        @Html.HiddenFor(modelItem => item.BuyPrice)
                        @Html.HiddenFor(modelItem => item.ProviderCode)
                        @Html.DisplayFor(modelItem => item.BuyPrice)
                    </td>
                    <td class="text-uppercase  text-center">
                        @Html.DisplayFor(modelItem => item.MaxQuantity)
                        @Html.HiddenFor(modelItem => item.MaxQuantity)
                    </td>

                    <td class="text-lowercase text-center">
                        @Html.DisplayFor(modelItem => item.Quantity)
                        @Html.HiddenFor(modelItem => item.Quantity)
                    </td>

                  
                    <td class="text-uppercase  text-center" style="max-width:50px">

                        <input type="number" onkeyup="CheckQuantity(this)" autocomplete="off" class="form-control text-uppercase input-sm" id="item_AddQuantity" value="@item.AddQuantity" disabled="@item.AddToPurchaseDisabled" />
                    </td>

                    <td>
                        <button type="button" class="btn btn-primary btn-xs" onclick="ProductSelected(this)" title="has click para agregar esta partida a una orden de compra" disabled='@item.AddToPurchaseDisabled'>
                            <span class="fa fa-plus"></span>
                            Agregar
                        </button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
</div>

