@model CerberusMultiBranch.Models.Entities.Operative.Purchase


@{
    ViewBag.Title = "Compras";
    
}


<div class="col-md-12">
    <h3>
        <span class="fa fa-shopping-bag" style="float:left"></span>
        &nbsp;&nbsp;Registro de compras
    </h3>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EmployeeId);

    <div class="panel-group col-md-11">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        @Html.Partial("_QuickProvider")
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        @Html.LabelFor(model => model.Bill, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                            @Html.EditorFor(model => model.Bill, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
                            @Html.EditorFor(model => model.Employee.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-md-offset-4">
                        @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button id="btnBegin" class="btn btn-success btn-xs">
                        <span class="fa fa-check-square-o"/>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("_Details", Model.PurchaseDetails)
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function ()
    {
        if ('@Model.PurchaseId' > 0)
        {
            $("#btnShowQuick").prop("disabled", false)
        }
        else
        {
            console.log("DIsable");
            $("#btnShowQuick").prop("disabled", true)
        }

        $("#spShowQuick").click(function () { $("#ModalQuickProduct").modal('show'); });
    });
</script>

