@model CerberusMultiBranch.Models.Entities.Operative.Purchase
@using CerberusMultiBranch.Models.Entities.Operative;
@{
    ViewBag.Title = "Registro de compras";
}

@Scripts.Render("~/bundles/jqueryval")

@*<h3>
    <span class="fa fa-shopping-basket" style="float:left"></span>
    &nbsp;&nbsp;Registro de compras
</h3>*@



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="panel-group col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    @Html.HiddenFor(m => m.BranchId)
                    @Html.HiddenFor(m => m.TransactionId)
                    @Html.HiddenFor(m => m.UserId)
                    @Html.HiddenFor(m => m.UpdUser)
                    @Html.HiddenFor(m => m.Status)
                    @Html.HiddenFor(m => m.ProviderId)

                    <div class="col-md-5 form-group">
                        @Html.Label("Nombre Proveedor", htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                            @Html.EditorFor(model => model.Provider.Name, "", new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })

                            <span class="input-group-btn">
                                <button id="btnShowProviders" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" id="spQuickProvider"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-3  col-md-offset-1 form-group">
                        @Html.LabelFor(model => model.TransactionDate, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.TransactionDate, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.TransactionDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.Expiration, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            @Html.EditorFor(model => model.Expiration, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Expiration, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        @Html.LabelFor(model => model.Bill, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                            @Html.EditorFor(model => model.Bill, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Bill, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3 col-md-offset-1 form-group">
                        @Html.Label("Tipo de pago", htmlAttributes: new { @class = "control-label" })
                        <div class="form-control">
                            <label class="radio-inline"><input id="rdCredit" type="radio" value="5" name="PaymentType">Crédito</label>
                            <label class="radio-inline"><input id="rdCash" type="radio" value="6" name="PaymentType">Contado</label>
                        </div>
                    </div>
                 
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group col-md-10">
                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                            
                            @Html.HiddenFor(m=> m.TotalAmount)
                            <label id="lblTotalAmount" class="form-control alert alert-warning text-right">
                                @Model.TotalAmount.ToString("c")
                            </label>
                            @*<input name="TotalAmount" readonly class="alert alert-warning" value="@total" />*@
                            @*@Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })*@
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="btn-group col-md-6">
                        <button type="button" class="btn btn-primary" title="Nueva búsqueda" onclick="ShowLoading(); window.location='@Url.Action("History")'">
                            <span class="fa fa-search-plus"></span>
                           <u>B</u>úsqueda
                        </button>
                        @Html.Partial("_CatalogButtonGroup")
                        <button id="btnCompleate" type="button" class="btn btn-warning Compleated" title="Terminar e inventariar?" tooltip-title="Ingresar al Inventario">
                            <span class="fa fa-cubes"></span>
                        </button>
                    </div>

                    
                </div>
            </div>
              
            
        </div>
        <div class="panel panel-default">
            <div id="divDetails" class="panel-body">
                @Html.Partial("_Details", Model.TransactionDetails)
            </div>
        </div>
    </div>


    <div id="divPopCompleate" style="display:none">
        <div class="text-center">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm" onclick="SubmitCompleate()">
                    Si  <span class="fa fa-check"></span>
                </button>
                <button type="button" class="btn btn-danger  btn-sm" onclick="HidePopCompleate()">
                    No <span class="fa fa-times"></span>
                </button>
            </div>
        </div>
    </div>
}


<div id="divClone"></div>



@Html.Partial("_SearchExternalProduct")

@Html.Partial("_SearchInternalProduct")



@Html.Partial("_QuickProvider")

@Html.Hidden("ExCode")


<script>
    $(document).ready(function ()
    {
        LoadPopoverCompleate();

        $("#btnNewSearch").hide();

        if ('@Model.TransactionId' == 0)
        {
            $("#btnShowQuick").hide();
        }
        else
        {
            $("#btnShowProviders").prop("disabled", true);
        }


        $("#btnShowProviders").click(function () {
            $("#ModalQuickProvider").modal('show');
        });

        if ('@Model.PaymentType' == 'Contado')
            $("#rdCash").attr("checked", true);

        else
            $("#rdCredit").attr("checked", true);


        $("#spShowQuick").click(function ()
        {
            $("#ModalExternalProduct").modal('show');
        });

        $("#btnCompleate").click(function ()
        {
            LoadPopoverCompleate();
        });

        if ('@Model.Status' == '@TranStatus.Compleated')
        {
            $(".Compleated").hide();
            $("#btnSave").hide();
        }
    });

    function ProviderSelected(id, name)
    {
        $("#ProviderId").val(id);
        $("#Provider_Name").val(name);

        $("#ModalQuickProvider").modal('hide');
    }

    function SubmitCompleate()
    {
        HidePopCompleate();
        ShowLoading();
        $("#Status").val('@TranStatus.Compleated');
        $("#btnSubmit").click();
    }

    function LoadPopoverCompleate()
    {
        $("#btnCompleate").popover({
            html: true,
            content: function () { return $("#divPopCompleate").html(); },
            container: 'body'
        });
    }

    function HidePopCompleate()
    {
        $("#btnCompleate").popover('hide');
        $("#btnCompleate").data("bs.popover").inState.click = false;
    }

</script>

