@model CerberusMultiBranch.Models.Entities.Operative.Purchase
@using CerberusMultiBranch.Models.Entities.Operative;

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Detalle de compra sucursal
    <label class="text-lowercase">
        @Model.Branch.Name
    </label>
</h3>


@Html.HiddenFor(m=> m.TransactionId)
<div class="panel-group">
    <div class="panel panel-danger">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">
                        Nombre del proveedor
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
                        <input class="form-control" value="@Model.Provider.Name" readonly />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label">
                        Tipo de compra
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                        <input class="form-control" value="@Model.PaymentType.ToString()" readonly />
                    </div>
                </div>

                <div class="form-group col-md-2 col-md-offset-1">
                    <label class="control-label">
                        Fecha de compra
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar-check-o"></i></span>
                        <input class="form-control" value="@Model.TransactionDate.ToString("dd/MM/yyyy")" readonly />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label">
                        Expira
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar-times-o"></i></span>
                        <input class="form-control" value="@Model.Expiration.ToString("dd/MM/yyyy")" readonly />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label">
                        Agente
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                        <input class="form-control" value="@Model.User.UserName" readonly />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label">
                        Estado Actual
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-adjust"></i></span>
                        @switch (Model.Status)
                        {
                            case TranStatus.Canceled:
                                <label class="form-control alert alert-danger">Cancelado</label>
                                break;
                            case TranStatus.InProcess:
                                <label class="form-control alert alert-info">En Proceso</label>
                                break;

                            case TranStatus.Compleated:
                                <label class="form-control alert alert-success">Inventariado</label>
                                break;
                        }

                    </div>
                </div>

                <div class="form-group col-md-2 col-md-offset-1">
                    <label class="control-label">
                        Factura
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                        <input class="form-control" value="@Model.Bill" readonly />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label">
                        Monto Total
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input class="form-control" value="@Model.TotalAmount.ToString("c")" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">
                        Usuario ultima modificación
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                        <input class="form-control" value="@Model.UpdUser" readonly />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label">
                        Estado Anterior
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-adjust"></i></span>
                        @switch (Model.LastStatus)
                        {
                            case TranStatus.Canceled:
                                <label class="form-control alert alert-danger">Cancelado</label>
                                break;
                            case TranStatus.InProcess:
                                <label class="form-control alert alert-info">En Proceso</label>
                                break;

                            case TranStatus.Compleated:
                                <label class="form-control alert alert-success">Inventariado</label>
                                break;
                        }

                    </div>
                </div>

                <div class="form-group col-md-2 col-md-offset-5">
                    <label class="control-label">

                    </label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" title="volver a la busqueda"
                                        onclick="ShowLoading(); window.location='@Url.Action("History")'">
                                    <span class="fa fa-search-plus"></span>
                                </button>
                                <button type="button" class="btn btn-danger" title="cancelar la compra" onclick="BeginCancel()">
                                    <span class="fa fa-times"></span>
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-body">
            <table id="tbDetails" class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayName("Código")
                        </th>
                        <th>
                            @Html.DisplayName("Descripción")
                        </th>
                        <th>
                            @Html.DisplayName("Precio")
                        </th>
                        <th>
                            @Html.DisplayName("Cantidad")
                        </th>
                        <th>
                            @Html.DisplayName("Total")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TransactionDetails)
                    {
                        <tr>
                            <td class="col-md-1">
                                @if (item.Product.Images.Count > 0)
                                {
                                    <img class="img-responsive" src="@item.Product.Images.FirstOrDefault().Path" />
                                }
                                else
                                {
                                    <img class="img-responsive" src="~/Content/Images/sinimagen.jpg" />
                                }
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(m => item.Product.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Product.Name)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(m => item.Price)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(m => item.Quantity)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(m => item.Amount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_Cancelation")

<script>
    $(document).ready(function () 
    {
        Paginate("#tbDetails", 5)
    });

    function BeginCancel()
    {
        $("#ModalCancel").modal("show");
    }

    function Cancel()
    {
        $("#ModalCancel").modal("hide");
        ShowLoading();

        var param = { transactionId: $("#TransactionId").val(), comment: $("#txtComment").val() }

        ExecuteAjax('@Url.Action("Cancel")', param, function (j)
        {
            if (j.Result = 'OK')
                window.location = window.location;
            else
                ShowMessage(j.Result, j.Message, 'warning');
        });
    }

</script>