@model CerberusMultiBranch.Models.ViewModels.Operative.TransactionViewModel
@using CerberusMultiBranch.Models.Entities.Operative;

@{
    ViewBag.Title = "Compras";
    ViewBag.Class = "fa fa-shopping-basket";
}


<h4 id="Total"class="alert alert-danger col-md-offset-9 col-md-3">
</h4>
<hr />
<div class="panel panel-danger">
    <div class="panel-body">
        <div class="col-md-11">
            <div class="input-group ">
            @Html.DropDownList("BranchId", Model.Branches, "Sucursal", new { @class = "form-control", style = "width:20% !important" })
            @Html.TextBox("BillF", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "Factura",
               style = "width:20% !important"
           })

            @Html.TextBox("Provider", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "Nombre del proveedor",
               style = "width:40% !important"
           })

                <select id="Status" class="form-control" style="width:20% !important">
                    <option value="">Status</option>
                    <option value="@TranStatus.InProcess">Procesando</option>
                    <option value="@TranStatus.Reserved">Inventariado</option>
                    <option value="@TranStatus.Compleated">Pagado</option>
                    <option value="@TranStatus.Canceled">Cancelado</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnSearch" title="Buscar">
                        <span class="glyphicon glyphicon-search"></span>
                        <u>B</u>uscar
                    </button>
                    <button type="button" class="btn btn-success" id="btnCreate">
                        <span class="glyphicon  glyphicon-file"></span>
                        <u>N</u>uevo
                    </button>
                </span>
            </div>
        </div>

        <br /><br /><br /><br />
        <div class="col-md-10">
            <div class="input-group">
                @if (User.IsInRole("Supervisor"))
                {
                    @Html.TextBox("User", "", htmlAttributes: new { @class = "form-control", placeholder = "Nombre de usuario" })
                }
                <span class="input-group-addon"><a>Fecha Inicial</a></span>
                @Html.TextBox("BeginDate", "", htmlAttributes: new { @class = "form-control", type = "date" })

                <span class="input-group-addon"><a>Fecha final</a></span>
                @Html.TextBox("EndDate", "", htmlAttributes: new { @class = "form-control", type = "date" })
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" onclick="Reload()" id="btnClear">
                        <span class="glyphicon glyphicon-refresh"></span>
                        <u>L</u>impiar
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="divNewPurchase"></div>
<div class="panel panel-default">
    <div id="divPurchases" class="panel-body">
        @Html.Partial("_PurchaseList", Model.Purchases)
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        SetFilterControls("#divFilters", "#btnFilter", "#divPurchases");

        
        $("#btnSearch").click(function ()
        {
            ShowLoading();

            var data = {
                branchId: $("#BranchId").val(),
                beginDate: $("#BeginDate").val(),
                endDate: $("#EndDate").val(),
                bill: $("#BillF").val(),
                user: $("#User").val(),
                provider: $("#Provider").val(),
                status: $("#Status").val()
            };
          
            ExecuteAjax('@Url.Action("Search")', data, function (view)
            {
                $("#divPurchases").html(view);
                HideLoading();
            });
        });

        $("#btnCreate").click(function ()
        {
            ExecuteAjax('@Url.Action("BeginPurchase")', {}, function (response)
            {
                $("#divNewPurchase").html(response);
            });
        });
    }).keydown(function (e)
    {
        if (e.which == 13 || (e.altKey && e.which == 66)) {
            $("#btnSearch").click();
        }

        if (e.altKey && e.keyCode == 76) {
            $("#btnClear").click();
        }
        if (e.altKey && e.keyCode == 78) {
            $("#btnCreate").click();
        }
    });

    function Reload()
    {
        ShowLoading();
        window.location = '@Url.Action("History")';
    }

</script>
