@model CerberusMultiBranch.Models.ViewModels.Operative.TransactionViewModel

@{
    ViewBag.Title = "Compras";
    ViewBag.Class = "fa fa-shopping-basket";
}

<hr />
<div class="panel panel-danger">
    <div class="panel-body">
        <div class="col-md-11">
            <div class="input-group ">
            @Html.DropDownList("FBranchId", Model.Branches, "Sucursal", new { @class = "form-control", style = "width:20% !important" })
            @Html.TextBox("FBill", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "Factura",
               style = "width:20% !important"
           })

            @Html.TextBox("FProvider", "", htmlAttributes: new
           {
               @class = "form-control",
               placeholder = "Nombre del proveedor",
               style = "width:40% !important"
           })

                <select id="Status" class="form-control" style="width:20% !important">
                    <option value="">Status</option>
                    <option value="0">En Proceso</option>
                    <option value="3">Inventariado</option>
                    <option value="-1">Cancelado</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnSearch" title="Buscar">
                        <span class="glyphicon glyphicon-search"></span>
                        <u>B</u>uscar
                    </button>
                    <button type="button" class="btn btn-success" id="btnCreate">
                        <span class="glyphicon  glyphicon-file"></span>
                        <u>N</u>uevo
                    </button>
                </span>
            </div>
        </div>

        <br /><br /><br />
        <div class="col-md-10">
            <div class="input-group">
                @if (User.IsInRole("Supervisor"))
                {
                    @Html.TextBox("FUser", "", htmlAttributes: new { @class = "form-control", placeholder = "Nombre de usuario" })
                }
                <span class="input-group-addon"><a>Fecha Inicial</a></span>
                @Html.TextBox("FBeginDate", "", htmlAttributes: new { @class = "form-control", type = "date" })

                <span class="input-group-addon"><a>Fecha final</a></span>
                @Html.TextBox("FEndDate", "", htmlAttributes: new { @class = "form-control", type = "date" })
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" onclick="Reload()" id="btnClear">
                        <span class="glyphicon glyphicon-refresh"></span>
                        <u>L</u>impiar
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="divNewPurchase"></div>

<div id="divPurchases">
    @Html.Partial("_PurchaseList",Model.Purchases)
</div>
<script>
    $(document).ready(function ()
    {
        SetFilterControls("#divFilters", "#btnFilter", "#divPurchases");

        
        $("#btnSearch").click(function ()
        {
            ShowLoading();

            var data = {
                branchId: $("#FBranchId").val(),
                beginDate: $("#FBeginDate").val(),
                endDate: $("#FEndDate").val(),
                bill: $("#FBill").val(),
                user: $("#FUser").val(),
                provider: $("#FProvider").val(),
            };
            ExecuteAjax('@Url.Action("Search")', data, function (view)
            {
                $("#divPurchases").html(view);
                HideLoading();
            });
        });

        $("#btnCreate").click(function ()
        {
            ExecuteAjax('@Url.Action("BeginPurchase")', {}, function (response)
            {
                $("#divNewPurchase").html(response);
            });
        });
    }).keydown(function (e)
    {
        if (e.which == 13 || (e.altKey && e.which == 66)) {
            $("#btnSearch").click();
        }

        if (e.altKey && e.keyCode == 76) {
            $("#btnClear").click();
        }
        if (e.altKey && e.keyCode == 78) {
            $("#btnCreate").click();
        }
    });

    function Reload()
    {
        ShowLoading();
        window.location = '@Url.Action("History")';
    }

</script>
