@model CerberusMultiBranch.Models.ViewModels.Operative.TransactionViewModel

@{
    ViewBag.Title = "Historial Compras";
    ViewBag.Class = "fa fa-shopping-bag";
}

@*<h3>
    <span class="fa fa-shopping-bag" style="float:left"></span>
    &nbsp;&nbsp;Mis Compras
</h3>*@
<hr />
<div class="col-md-7">
    <div class="input-group ">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        @Html.TextBox("txtFilter", "", htmlAttributes: new { @class = "form-control" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="btnSearch" title="Buscar">
                <span class="glyphicon glyphicon-search" />
            </button>
            <button class="btn btn-default" type="button" id="btnClear" title="Recargar página" onclick="Reload()">
                <span class="glyphicon glyphicon-refresh" />
            </button>
            <button id="btnFilter" type="button" class="btn btn-warning"  title="ver filtros"
                    data-toggle="collapse" data-target="#divFilters">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
        </span>
    </div>
</div>



<br /><br /><br />

<div id="divFilters" class="col-md-4 collapse">
    <div class="panel panel-danger">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.Label("Desde", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.EditorFor(model => model.BeginDate, "", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Hasta", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.EditorFor(model => model.EndDate, "", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Proveedor", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("Provider", "", htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Factura", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("Bill", "", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="divPurchases">
    @Html.Partial("_MyPurchaseList",Model.Purchases)
</div>
<script>
    $(document).ready(function ()
    {
        SetFilterControls("#divFilters", "#btnFilter", "#divPurchases");

        $("#btnSearch").click(function ()
        {
            ShowLoading();

            var data = {
                beginDate: $("#BeginDate").val(),
                endDate: $("#EndDate").val(),
                bill: $("#Bill").val(),
                provider: $("#Provider").val(),
            };
            ExecuteAjax('@Url.Action("MySearch")', data, function (view)
            {
                $("#divPurchases").html(view);
                HideLoading();
            });
            
        });
    });

    function Reload()
    {
        ShowLoading();
        window.location = '@Url.Action("MyPurchases")';
    }

</script>
