@model PurchasOrderViewModel
@using CerberusMultiBranch.Models.Entities.Operative
@using CerberusMultiBranch.Models.ViewModels.Operative
@using CerberusMultiBranch.Support
@{
    ViewBag.Title = "Orden de compra";
    ViewBag.Class = "fa fa-shopping-basket";
}

@Scripts.Render("~/bundles/jqueryval")


@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@Html.HiddenFor(model => model.ProviderId)
@Html.HiddenFor(model => model.PurchaseId)

<br />


<div class="panel panel-default">
    <div class="panel-body small">

        <div class="form-group col-md-7">
            @Html.LabelFor(model => model.ProviderId, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input class="form-control input-sm" />
                @Html.ValidationMessageFor(model => model.ProviderId, "", new { @class = "text-danger" })
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button" title="Buscar proveedores" onclick="SearchProviders()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        
        <div class="form-group col-md-5">
            @Html.LabelFor(model => model.TransactionType, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map"></i></span>
                @Html.DropDownListFor(model => model.TransactionType, Model.PurchaseTypes, htmlAttributes: new { @class = "form-control text-uppercase input-sm" })
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div id="divPurchaseDetails" class="panel-body  dtContainer">

    </div>
</div>



