@model IEnumerable<CerberusMultiBranch.Models.Entities.Catalog.Employee>


<table id="tbEmployees"  class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Address, @item.City.Name, @item.City.State.Name
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td align="right">
                    <div class="btn-group">
                        <button class="btn btn-warning  btn-xs" onclick="window.location = '@Url.Action("Create", new {id = item.EmployeeId})'">
                            <span class="glyphicon glyphicon-pencil" />
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () 
    {
        HideLoading();
        SetDataTable("#tbEmployees","#txtName");
    });
</script>