

<div id="ModalQuickProduct" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content panel panel-danger panel-group">
            <div class="modal-header panel-heading">
                <h4 class="modal-title">Búsqueda rápida de productos</h4>
            </div>
            <div class="panel panel-danger">
                <div class="panel-body">
                    <div class="col-md-3">
                        @Html.Label("Cv Producto", htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                            @Html.TextBox("ProductCode", "", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-8">
                        @Html.Label("Nombre /Descripción", htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                            @Html.TextBox("ProductName", "", htmlAttributes: new { @class = "form-control" })
                            <span class="input-group-btn">
                                <button id="btnQuickProduct" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" id="spQuickProvider"></span>
                                </button>
                                <button id="btnAddProduct" type="button" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-plus" id="spQuickProvider"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger">
                <div id="divProductList" class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $("#btnQuickProduct").click(function () { QuickSearchProduct(); });
    });

    function QuickSearchProduct()
    {
        var filter = { code: $("#ProductCode").val(), name: $("#ProductName").val() }

        $.ajax({
            url: '@Url.Action("QuickSearch", "Purchases")',
            type: "POST",
            data: filter,
            success: function (data) { },
            error: function (data) {
                console.log("Error Executing"); console.log(data);
            },
            statusCode:
            {
                200: function (view)
                {
                    $("#divProductList").html(view);
                },
                401: function (data)
                {
                    alert('401: Unauthenticated');
                }
            }
        });
    }

    function QuickProvider()
    {
        $("#lblQuickProvider").text("");
        $("#tbodyQuickProvider").empty();

        var d = {
            id: $("#ProviderId").val(),
            code: $("#ProviderCode").val(),
            name: $("#ProviderName").val()
        };

        $.ajax({
            url: '@Url.Action("QuickSearchProvider", "Json")',
            type: "POST",
            data: d,
            error: function (data) {
                console.log("Error Executing"); console.log(data);
            },
            statusCode:
            {
                200: function (data) {
                    if (data.length == 1) {
                        $("#ProviderCode").val(data[0].Code);
                        $("#ProviderName").val(data[0].Name);
                        $("#ProviderId").val(data[0].Id);

                        console.log("ProviderCode " + $("#ProviderCode").val());
                        console.log("ProviderName " + $("#ProviderName").val());
                        console.log("ProviderId " + $("#ProviderId").val());
                        console.log("ProviderId " + data[0].Id);

                        $("#ProviderCode").attr("readonly", true);
                        $("#ProviderName").attr("readonly", true);
                        $("#spQuickProvider").attr("class", "fa fa-refresh");
                    }
                    else
                    {
                        console.log("Objetos encontrados " + data.length);

                        $.each(data, function (i, item)
                        {
                            var row = "<tr ondblclick='SelectProvider(this)'><td hidden='hidden'>" + item.Id + "</td>" +
                                          "<td>" + item.Code + "</td>" +
                                             "<td>" + item.Name + "</td>" +
                                          "<td>" + item.Phone + "</td></tr>";

                            $("#tbodyQuickProvider").append(row);
                        });
                        
                    }
                },
                401: function (data) {
                    alert('401: Unauthenticated');
                }
            }
        });
    }
</script>