@using CerberusMultiBranch.Support
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refaccionaria AutoBien</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    

    @*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>*@
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

</head>
<body >
    @RenderBody()

    @Html.Partial("_Progress")

    @Html.Partial("_MessageBox")

   
    @*style="background-color:#960202"*@
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#c9302c">
        <div class="col-xs-10 col-sm-8 col-md-2 pull-left">
            <div class="col-xs-6 col-sm-4 col-md-12">
                @if (!User.Identity.IsAuthenticated || User.Identity.GetBranchId() != 2)
                {
                    <img src="~/Content/Images/logoAb.png" class="img-responsive" id="sidebarCollapse" 
                         onmouseover="SetPointer(this)" style="max-height:60px" />
                }
                else
                {
                    <div class="col-xs-10">
                        <img src="~/Content/Images/rebilogo.png" class="img-responsive" id="sidebarCollapse" onmouseover="SetPointer(this)" />
                    </div>
                }

            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">

                <p style="color:whitesmoke !important; font-size:18pt;" class="nav navbar-nav">
                    <span class="@ViewBag.Class"></span>
                    @ViewBag.Title
                </p>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>




    @RenderSection("scripts", required: false)
</body>
</html>
