@model IEnumerable<CerberusMultiBranch.Models.Entities.Config.CarModel>

@{
    ViewBag.Title = "Index";
}
<h3>
    <span class="fa fa-car" style="float:left"></span>
    &nbsp;&nbsp;Modelos
</h3>


<div class="col-md-6">
    <div class="input-group ">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        @Html.TextBox("txtName", "", htmlAttributes: new { @class = "form-control" })
        <span class="input-group-btn">
            <button class="btn btn-warning" id="btnCreate">
                <span class="glyphicon glyphicon-plus" />
            </button>
        </span>
    </div>
</div>

<br /><br /><br />

<div class="col-md-10">
    <table id="tbModels" class="table  table-striped">
        <thead>
            <tr>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.CarMakeId)
                </th>
                <th class="col-md-5">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.CarYears)
                </th>
                <th class="col-md-1" hidden="hidden"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarMake.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (item.CarYears != null)
                        {
                            foreach (var carYear in item.CarYears)
                            {
                                @Html.DisplayFor(mYear => carYear.Year)<a>,</a>
                            }
                        }

                    </td>
                    <td align="right">
                        <div class="btn-group">
                            <div class="btn-group">
                                <button class="btn btn-primary  btn-xs" onclick="window.location = '@Url.Action("Create", new {id = item.CarModelId})'">
                                    <span class="glyphicon glyphicon-pencil" />
                                </button>
                                <button class="btn btn-danger  btn-xs">
                                    <span class="glyphicon glyphicon-trash" />
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function ()
    {
        $("#btnCreate").click(function () { window.location.replace('@Url.Action("Create")') });

        SetDataTable("#tbModels","#txtName");
    })
</script>
