@model IEnumerable<CerberusMultiBranch.Models.Entities.Purchasing.PurchaseOrderHistory>


<table class="table small">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.ShipMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyByUser)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyByUser)
                </td>
            </tr>
        }
    </tbody>
</table>
