@model IEnumerable<CerberusMultiBranch.Models.Entities.Purchasing.PurchaseOrderDetail>
@using CerberusMultiBranch.Support
@using CerberusMultiBranch.Models.Entities.Purchasing



<table id="tbPurchaseDetails" class="table small">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Code)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th class="text-center">
                @Html.DisplayName("Costo")
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.OrderQty)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ReceivedQty)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ComplementQty)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.StockedQty)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.LineTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var cls =  Model.First().PurchaseOrder.DeliveryDate != null ? (item.IsCompleated ?  "alert alert-success" : "alert alert-attention") : "";
            <tr class="@cls">
                <td>
                    @Html.HiddenFor(modelItem => item.PurchaseOrderDetailId)
                    @Html.DisplayFor(modelItem => item.Product.Code) <br />
                    @Html.DisplayFor(modelItem => item.ProviderCode)
                    
                </td>
                <td>
                    @Html.DisplayUpperFor(modelItem => item.Product.Name) <br />
                    <strong>Por</strong>  @Html.DisplayUpperFor(modelItem => item.Product.TradeMark) <strong>Unidad</strong> @Html.DisplayUpperFor(modelItem => item.Product.Unit)
                </td>

                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                    @Html.HiddenFor(modelItem => item.UnitPrice)
                    @Html.HiddenFor(modelItem => item.LineTotal)
                </td>
                <td class="text-center"> 
                    @Html.DisplayFor(modelItem => item.Discount) %
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.OrderQty)
                </td>

                <td id="tdReceivedQty" class="text-center">
                    @Html.DisplayFor(modelItem => item.ReceivedQty)
                </td>
                <td id="tdRejectedQty" class="text-center">
                    @Html.DisplayFor(modelItem => item.ComplementQty)
                </td>
                <td id="tdStockedQty" class="text-center">
                    @Html.DisplayFor(modelItem => item.StockedQty)
                </td>
                <td id="tdLineTotal" class="text-right">
                    @Html.DisplayFor(modelItem => item.LineTotal)
                </td>
                <th>
                    @if (item.PurchaseOrder.CanReceive && !item.IsCompleated)
                    {
                        <button class="btn btn-primary btn-sm" type="button" onclick="ReceiveProduct('@item.PurchaseOrderDetailId')" title="Recibe articulos de la partida">
                            <span class="fa fa-plus-circle"></span>
                        </button>
                    }
                </th>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6" rowspan="5">
                <div class="col-md-12 form-group text-capitalize">
                    <h5>
                        @Html.Label("Observaciones", htmlAttributes: new { @class = "control-label" })<br />
                        @Model.First().PurchaseOrder.Comment.ToLower()
                    </h5>
                    <h5>
                        <strong>Por</strong> @Model.First().PurchaseOrder.UpdUser
                        , @Model.First().PurchaseOrder.UpdDate.ToString("dd/MM/yyyy HH:mm")
                    </h5>
                </div>
            </td>
            <td colspan="2">
                <h5><strong>Subtotal</strong></h5>
            </td>
            <td class="text-right">
                <h5 id="tdSubTotal">@Model.Sum(d => d.LineTotal).ToMoney()</h5>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <h5><strong>I.V.A</strong></h5>
            </td>
            <td class="text-right">
                <h5 id="tdTaxAmount">
                    @Model.First().PurchaseOrder.TaxAmount.ToMoney()
                </h5>
            </td>
            <td></td>
        </tr>
        <tr>

            <td colspan="2">
                <h5>
                    <strong>Envío y Seguro</strong>
                </h5>
            </td>
            <td class="text-right">
                <h5>
                    @Model.First().PurchaseOrder.Expenses
                </h5>
            </td>
            <td></td>
        </tr>
        <tr>

            <td colspan="2">
                <h5>
                    <strong>Descuento</strong>
                </h5>
            </td>
            <td class="text-right">
                <h5 id="tdTotalDue">
                    @Model.First().PurchaseOrder.DiscountAmount
                </h5>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <h5>
                    <strong>Total</strong>
                </h5>
            </td>
            <td class="text-right" >
                <h5 id="tdTotalDue">
                    @Model.First().PurchaseOrder.TotalDue.ToMoney()
                </h5>
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>

<script>
    var ReceivedDetails = [];
    var itemsCount = parseInt('@Model.Where(m=> !m.IsCompleated).Count()');

    function Received(input)
    {
        var row = $(input).parent().parent();

        var orderQty = parseFloat($(row).find("#item_OrderQty").val());

        var received = parseFloat($(input).val());

        if (received > orderQty)
            $(input).val(orderQty);

        if (received < 0)
            $(input).val(0);
    }

    function ReceiveProduct(id)
    {
        var detail;

        $(ReceivedDetails).each(function (index, item)
        {
            if (item.DetailId == id) {
                detail = item;
            }
        });

        if (detail == null) {
            detail = { DetailId: parseInt(id) };
        }

        ExecuteAjax('@Url.Action("ReceiveProduct", "Purchasing")', { item: detail }, function (response) {
            ShowModal(response, 'static');
        });
    }

</script>