@model CerberusMultiBranch.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambio de contraseña";
    ViewBag.Class = "fa fa-key";
}


<hr />
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="panel panel-default">
        <div class="panel-body dtContainer">


            <div class="col-md-4">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>




            <div class="col-md-8">
                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="fa fa-key"></span>
                                Cambiar contraseña
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}