@model CerberusMultiBranch.Models.ViewModels.Catalog.ProductViewModel


<div class="panel panel-danger ">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10 form-group">
                <labe class="control-label">Armadora</labe>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-car"></i></span>
                    @Html.DropDownList("CarMakeFilter", Model.CarMakes, "", htmlAttributes: new { @class = "form-control  text-uppercase" })
                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="button" onclick="AddModel('@Model.ProductId')"
                                title="Agregar compatibilidad">
                            <span class="fa fa-plus"></span>
                            Agregar
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-10">
                <labe class="control-label">Modelo de Auto</labe>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-car"></i></span>
                    @Html.DropDownList("CarModelFilter", Model.CarModels, "", htmlAttributes: new { @class = "form-control  text-uppercase" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 form-group">
                @Html.Label("Año Inicial", htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar-minus-o"></i></span>
                    @Html.TextBox("Ini", "", htmlAttributes: new { @class = "form-control", type = "number" })
                </div>
            </div>

            <div class="form-group col-md-3 col-md-offset-4">
                @Html.Label("Año final", htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar-plus-o"></i></span>
                    @Html.TextBox("End", "", htmlAttributes: new { @class = "form-control", type="number" })
                </div>
            </div>
        </div>
        <div id="divModels">
            @Html.Partial("_Compatibilities",Model.Compatibilities)
        </div>
    </div>
</div>

<script>
    var ModelCount = 0;
    $(document).ready(function ()
    {
        SetCascade("#CarMakeFilter", "#CarModelFilter", "GetModels");

        $("#Ini").attr("readonly", true);
        $("#End").attr("readonly", true);

        $("#CarModelFilter").change(function ()
        {
            if ($("#CarModelFilter").val() != "") {
                $("#Ini").attr("readonly", false);
                $("#End").attr("readonly", false);
            }
            else {
                $("#Ini").attr("readonly", true);
                $("#End").attr("readonly", true);
            }
        });

        $("#btnRemove").click(function () {

            $("#selectId > option:selected").each(function () {
                console.log(this.text + ' ' + this.value);
            });

            $("#tcPending option").remove();
            $("#divValues").empty();
            ModelCount = 0;
            SetLabelModels();
        });
    });


    function AddModel(productId)
    {
      
        if ($("#Ini").val() > 1900 & $("#End").val() >= $("#Ini").val()) {
            ShowLoading();
            var param =
                {
                    productId: productId,
                    modelId: $("#CarModelFilter").val(),
                    begin: $("#Ini").val(),
                    end: $("#End").val()
                }

            ExecuteAjax('@Url.Action("AddCompatibility")', param, function (response) {
                HideLoading();
                if ($.isPlainObject(response))
                {
                    ShowMessage(response.Result, response.Message, 'warning');
                }
                else {
                    $("#divModels").html(response);
                }
            });
        }
        else
            ShowMessage("Error de datos!!",
                "los años no pueden ser menores a 1900 y el año final no puede ser menor que el incial", "warning");
            
    }

</script>