@model CerberusMultiBranch.Models.ViewModels.Catalog.ProductViewModel


<div id="divCompModal" class="modal" role="dialog">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content panel panel-danger ">
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-7 ">
                        <div class="col-md-12">
                            <h4>Marcas de Autos</h4>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-car"></i></span>
                                @Html.DropDownList("CarModelFilter", Model.CarMakes, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 btn-group-vertical">
                            <h4>
                                Disponibles
                            </h4>
                            
                            <select multiple class="form-control"  id="AvailableModels" name="AvailableModels" ondrop="drop(event)" ondragover="allowDrop(event)"></select>
                            <button class="btn btn-success btn-xs" id="btnAdd" type="button">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </button>
                        </div>

                        <div class="col-md-12 btn-group-vertical">

                            <h4>
                                Pendientes de Guardar
                            </h4>
                            <button class="btn btn-danger btn-xs" id="btnRemove" type="button">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </button>
                            <select multiple class="form-control" id="tcPending" ondrop="drop(event)" ondragover="allowDrop(event)"></select>
                        </div>

                    </div>

                    <div class="btn-group-vertical col-md-5">
                        <h4>
                            Asignados
                        </h4>
                      
                        <select multiple class="form-control" id="tcAssigned" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:220px">
                            @foreach(var com in Model.Compatibilities)
                            {
                                <option value="@com.CompatibilityId">@com.CarYear.CarModel.CarMake.Name - @com.CarYear.CarModel.Name - @com.CarYear.Year</option>
                            }
                        </select>
                        <button class="btn btn-danger btn-xs" type="button">
                            <span class="glyphicon glyphicon-remove" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ModelCount = 0;
    $(document).ready(function () {
        

        $("#CarModelFilter").change(function () {
            GetAvailables();
        });

        GetAvailables();

        $("#btnAdd").click(function ()
        {
           
            $("#AvailableModels option:selected").each(function () {
                if (!$("#tcPending option[value=" + $(this).val() + "]").length)
                {
                    $("#tcPending").append($(this).clone());
                    ModelCount++;
                    SetLabelModels();
                }
            });
        });


        $("#btnRemove").click(function ()
        {
            $("#tcPending option:selected").remove();
            ModelCount--;
            SetLabelModels();
        });
    });

    function SetLabelModels()
    {
        if (ModelCount == 0)
            $("#lblMessageModel").text("");
        else
            $("#lblMessageModel").text("Modelos pendientes de guardar " + ModelCount);
    }


    function GetAvailables() {
        var id = $("#CarModelFilter").val();
        console.log("Getting Availables for Id" + id);
        $.ajax({
            url: "@Url.Action("GetModelsAvailable", "CarModels")",
            type: "POST",

            data: { carMakeId: $("#CarModelFilter").val() },
            success: function (response) {
                console.log(response);

                var trHTML = '';
                $.each(response, function (key, value) {
                    trHTML +=
                       '<option value="' + value.CarYearId + '" draggable="true" ondragstart="drag(event)">' + $("#CarModelFilter option:selected").text() + '-' + value.CarModel + '-' + value.Year + '</option>';
                });
                $('#AvailableModels').empty();
                $('#AvailableModels').append(trHTML);

            },
            error: function (response) {
                console.log(response);
            }
        });
    }

    function allowDrop(ev) {
        console.log(ev);
        ev.preventDefault();
    }

    function drag(ev) {
        console.log(ev);
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        console.log(ev);
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }

</script>