@model IEnumerable<CerberusMultiBranch.Models.Entities.Catalog.Compatibility>


<table id="tbEditCompatibilities" class="table table-striped col-md-9 panel panel-danger panel-body small">
    <thead>
        <tr>
            <th>@Html.DisplayName("Marca")</th>
            <th>@Html.DisplayName("Modelo")</th>
            <th>@Html.DisplayName("Año")</th>
            <th/>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CarYear.CarModel.CarMake.Name</td>
                <td>@item.CarYear.CarModel.Name</td>
                <td>@item.CarYear.Year</td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs" title="Eliminar compatibilidad"
                            onclick="RemoveModel('@item.ProductId','@item.CarYearId')">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function ()
    {
        Paginate("#tbEditCompatibilities", 4)
    });
    function RemoveModel(productId, carYearId)
    {
        ShowModLoading();

        var param = {productId:productId, yearId: carYearId};
        ExecuteAjax('@Url.Action("RemoveCompatibility")', param, function (response)
        {
            HideModLoading(function ()
            {
                $("#divModels").html(response);
            });
        });
    }
</script>