@model IEnumerable<List<CerberusMultiBranch.Models.Entities.Catalog.Product>>


@{ int i = Model.FirstOrDefault() != null ? Model.FirstOrDefault().Count : 1; }

<table id="tbProducts" class="table  text-uppercase" style="width:100%">
    <thead class="panel-heading">
        <tr hidden="hidden">
            @for (var j = 0; j < i; j++)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
           
            <tr>
                @foreach (var prod in item)
                {
                    string c = string.Format("prodRow col-md-{0}  col-xs-4 col-sm-4 {1}", (12 / i),prod.IsIncart?"info":"");

                    var rowId = "prodRow" + prod.ProductId.ToString();

                    <td id='@rowId' class="@c">

                        @{ string imgC = string.Format("col-md-{0} col-xs-4 col-sm-4", 2); }

                        <div class='@imgC' style="vertical-align:central">
                            @if (prod.Images.Count > 0)
                            {
                                <img src="@prod.Images.First().Path" class="img-responsive img-rounded" style="max-height:150px" />
                            }
                            else
                            { 
                                <img src="~/Content/Images/sinimagen.jpg" class="img-responsive" />
                            }
                        </div>
                        @{ string txtC = string.Format("col-md-{0} {1}", (i == 2 ? 8 : 9), !prod.IsActive ? "text-danger" : string.Empty); }
                        <div class='@txtC' onclick="Detail(@prod.ProductId,@prod.IsActive)" onmouseover="SetPointer(this)">
                            <h4>
                                <label>@prod.Code</label>
                            </h4>

                            <h4>

                                @Html.DisplayFor(model => prod.Name)

                                @if (prod.ModelCompatibilities.Count > 0)
                                {
                                    string content = string.Empty;

                                    foreach (var m in prod.ModelCompatibilities)
                                    {
                                        content += "<h6>" + m.CarMake.Name + " " + m.Name + " " + m.CarYears.Min(y => y.Year) + '-' + m.CarYears.Max(y => y.Year) + "</h5>";
                                    }

                                    <span class="glyphicon glyphicon-eye-open text-warning" type="button" rel="popover" onmouseover="SetPointer(this)"
                                          title="Modelos Compatibles" onclick="CompatibilitiesPop('@content')">
                                    </span>
                                }
                            </h4>


                            @if (prod.TradeMark != null)
                            {
                                <h6>
                                    Por @prod.TradeMark
                                    <span class="fa fa-registered"></span>
                                </h6>
                            }
                            else
                            {
                                <h6>
                                    Código @prod.Code
                                </h6>
                            }
                            <h4>
                                <label>
                                    @Html.DisplayFor(model => prod.StorePrice)
                                </label>
                                |
                                <label>
                                    @Html.DisplayFor(model => prod.DealerPrice)
                                </label>
                                |
                                <label>
                                    @Html.DisplayFor(model => prod.WholesalerPrice)
                                </label>
                            </h4>
                            @*<h5 onmouseover="SetPointer(this)" onclick="StockInBranches('@prod.ProductId')">*@
                            <h5>
                                <span class="badge bg-info">
                                    @prod.Quantity
                                </span>
                                disponibles
                                <span class="fa fa-cubes"></span>
                                Unidad: @prod.Unit
                            </h5>
                            <h6>
                                Fila @prod.Row
                                <span class="fa fa-bars"></span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Anaquel @prod.Ledge
                                <span class="fa fa-archive"></span>
                            </h6>
                        </div>

                        @if (User.IsInRole("Capturista") || User.IsInRole("Supervisor"))
                        {
                            var btnC = string.Format("col-md-{0} btn-group-vertical hidden-xs hidden-sm", (i == 2 ? i : 1));

                            <div class='@btnC' style="vertical-align:central">

                                @if (prod.IsActive && !prod.StockLocked)
                                {
                                    if (!prod.IsLocked || (prod.IsLocked && prod.UserLock == User.Identity.Name))
                                    {
                                        <button class="btn btn-warning" title="Editar datos de producto"
                                                onclick="BeginEdit('@prod.ProductId')">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>

                                        <button class="btn btn-danger" title="Eliminar producto"
                                                onclick="BeginDelete('@prod.ProductId')">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    }
                                }
                                else if (User.IsInRole("Supervisor") && (!prod.IsLocked || (prod.IsLocked && prod.UserLock == User.Identity.Name)))
                                {
                                    if (prod.IsActive)
                                    {
                                        <button class="btn btn-warning" title="Editar datos de producto"
                                                onclick="BeginEdit('@prod.ProductId')">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>

                                        <button class="btn btn-danger" title="Eliminar producto"
                                                onclick="BeginDelete('@prod.ProductId')">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success" title="Reactivar producto"
                                                onclick="BeginActivate('@prod.ProductId')">
                                            <span class="fa fa-recycle"></span>
                                        </button>
                                    }
                                }
                            </div>
                        }
                    </td>
                 }
                @for (var g = item.Count; g < i; g++)
                {
                    <td class="col-md-6"></td>
                }
            </tr>
           }
    </tbody>
</table>

<input type="hidden" id="transId" />

<div id="divMovement"></div>

<script>
    $(document).ready(function ()
    {
        Paginate("#tbProducts",20, false, "#txtName", false);
    });

    function Detail(id, isActive)
    {
        if (!isActive)
            ShowNotify("Producto Desactivado","info", "Este producto ha sido desactivado, contacte a un supervisor para solicitar una activación", 3000);
        else
        {
            ShowLoading('static');

            ExecuteAjax('@Url.Action("ShowDetail", "Products")', { id: id }, function (response)
            {
                HideLoading(function ()
                {
                    ShowModal(response, 'static', "lg");
                });
            });
        }

    }

    function BeginDelete(id) {
        console.log(id);
        $("#transId").val(id);
        ShowConfirm("¿Estas seguro de eliminar el producto?",
            "Al eliminar tambien se borraran las imagenes y el registro no se podra recuperar", true, Delete);
    }

    function BeginActivate(id) {
        $("#transId").val(id);
        ShowConfirm("¿Estas seguro de la activación del producto?",
            "Al activarlo, el producto estara disponible para venta y edición, ¿deseas continuar?", true, Activate);
    }

    function Activate() {
        ShowLoading();
        ExecuteAjax('@Url.Action("Activate")', { id: $("#transId").val(), isGrid: $("#IsGrid").val() }, function (response) {
            HideLoading();

            if (response.Result == "OK")
                LookFor();
            else
                ShowMessage(response.Result, response.Message, 'warning');
        });
    }

    function Delete() {
        ShowLoading();
        ExecuteAjax('@Url.Action("Delete")', { id: $("#transId").val() }, function (response) {
            HideLoading();

            if (response.Result == "OK")
                LookFor();
            else
                ShowMessage(response.Result, response.Message, 'warning');
        });
    }

    function BeginEdit(id) {
        ShowLoading();

        ExecuteAjax('@Url.Action("Edit", "Products")', { productId: id }, function (response) {
            HideLoading();

            if ($.isPlainObject(response))
                ShowMessage(response.Result, response.Message, 'warning');
            else
                $("#divModals").html(response);
        });
    }

    function BeginMovement(pid) {
        ShowLoading();
        var param = { productId: pid };

        ExecuteAjax('@Url.Action("BeginMovement", "Products")', param, function (view) {
            HideLoading();
            $("#divModals").html(view);
        });
    }


</script>