@model IEnumerable<CerberusMultiBranch.Models.Entities.Catalog.Product>

@{var index = 0; }
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>


<table id="tbProducts" class="table  table-striped">
    <thead class="panel-heading">
        <tr hidden="hidden">
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-2">
                    @if (item.Images.Count > 0)
                    {
                        <img src="@item.Images.First().Path" class="img-thumbnail img-responsive"
                             onmouseover="$(this).css('cursor', 'pointer')" onclick="ShowSlide('@item.ProductId')" />
                    }
                    else
                    {
                        <img src="~/Content/Images/sinimagen.jpg" class="img-thumbnail .img-responsive" />
                    }
                </td>

                <td class="col-md-9">
                    <h3>
                        @Html.DisplayFor(model => item.Name)

                        @if (item.ModelCompatibilities.Count > 0)
                        {
                            string content = string.Empty;

                            foreach (var m in item.ModelCompatibilities)
                            {
                                content += "<h5>" + m.CarMake.Name + " " + m.Name + " " + m.CarYears.Min(y => y.Year) + '-' + m.CarYears.Max(y => y.Year) + "</h5>";
                            }

                            <span class="glyphicon glyphicon-eye-open text-warning" type="button" rel="popover" onmouseover="$(this).css('cursor', 'pointer')"
                                  title="Modelos Compatibles" onclick="CompatibilitiesPop('@content')">
                            </span>
                        }
                    </h3>
                    <h5>
                        Código: @Html.DisplayFor(model => item.Code)
                    </h5>
                    <h4>
                        @Html.DisplayFor(model => item.StorePrice)
                    </h4>
                    <h5>
                        <label>Descripcion: </label> @Html.DisplayFor(model => item.Description)
                    </h5>
                    <h5>
                        <label>Fabricante: </label>@Html.DisplayFor(model => item.TradeMark)
                    </h5>
                </td>


                <td class="form-group" align="center">
                    <button type="button" class="btn btn-primary" onclick="Edit(@item.ProductId)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>

<div id="divImagesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel panel-danger">
            <div id="divImages" class="modal-body panel-body">
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        SetDataTable("#tbProducts", "#txtName");
    })


    function Edit(id) {
        console.log("redirect " + id);
        window.location = '/Products/Create/' + id;
    }

    function ShowSlide(id) {
        $.ajax({
            url: '@Url.Action("GetImages", "Products")',
            type: "POST",
            data: { productId: id },
            error: function (data) {
                console.log("Error Executing"); console.log(data);
            },
            statusCode:
            {
                200: function (view) {
                    $("#divImages").html(view);
                    $(".carousel-caption").hide()
                    $("#divImagesModal").modal('show');
                },
                401: function (data) {
                    alert('401: Unauthenticated');
                }
            }
        });
    }

    function Show(carousel) {
        console.log("Show Carousel");
        $(divContent).html($(carousel).clone());
        $(divModal).modal('show');
    }

    function CompatibilitiesPop(content) {
        console.log(content);
        $('body').popover("destroy")
        var popOverSettings =
        {
            placement: 'right',
            container: 'body',
            html: true,
            selector: '[rel="popover"]', //Sepcify the selector here
            content: content
        }

        $('body').popover(popOverSettings);
    }


</script>