@model IEnumerable<List<CerberusMultiBranch.Models.Entities.Catalog.Product>>


@{ int i = Model.FirstOrDefault() != null ? Model.FirstOrDefault().Count : 1; }

<table id="tbProducts" class="table table-condensed">
    <thead class="panel-heading">
        <tr hidden="hidden">
            @for (var j = 0; j < i; j++)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                @foreach (var prod in item)
                {
                    string c = string.Format("col-md-{0}  col-xs-4 col-sm-4", (12 / i));
                    <td class='@c'>

                        @{ string imgC = string.Format("col-md-{0} col-xs-4 col-sm-4", (i * 2)); }

                        <div class='@imgC' style="vertical-align:central" onmouseover="SetPointer(this)"
                             onclick="Detail('@prod.ProductId')">
                            @if (prod.Images.Count > 0)
                            {
                                <img src="@prod.Images.First().Path" class="img-responsive" />
                            }
                            else
                            {
                                <img src="~/Content/Images/sinimagen.jpg" class="img-responsive" />
                            }
                        </div>
                        @{ string txtC = string.Format("col-md-{0}", (11 - i * 2)); }
                        <div class='@txtC' onmouseover="SetPointer(this)" onclick="Detail('@prod.ProductId')">
                            <h4>
                                <label>@prod.Code</label>
                            </h4>
                            <h4>

                                @Html.DisplayFor(model => prod.Name)

                                @if (prod.ModelCompatibilities.Count > 0)
                                {
                                    string content = string.Empty;

                                    foreach (var m in prod.ModelCompatibilities)
                                    {
                                        content += "<h6>" + m.CarMake.Name + " " + m.Name + " " + m.CarYears.Min(y => y.Year) + '-' + m.CarYears.Max(y => y.Year) + "</h5>";
                                    }

                                <span class="glyphicon glyphicon-eye-open text-warning" type="button" rel="popover" onmouseover="SetPointer(this)"
                                      title="Modelos Compatibles" onclick="CompatibilitiesPop('@content')">
                                </span>
                                }
                            </h4>
                            @if (prod.TradeMark != null)
                            {
                                <h6>
                                    Por @prod.TradeMark
                                    <span class="fa fa-registered"></span>
                                </h6>
                            }
                            else
                            {
                                <h6>
                                    Código @prod.Code
                                </h6>
                            }
                            <h4>
                                <label>
                                    @Html.DisplayFor(model => prod.StorePrice)
                                </label>
                            </h4>
                            @*<h5 onmouseover="SetPointer(this)" onclick="StockInBranches('@prod.ProductId')">*@
                            <h5>
                                <span class="badge bg-info">
                                    @prod.Quantity
                                </span>
                                disponibles
                                <span class="fa fa-cubes"></span>
                                Unidad: @prod.Unit
                            </h5>
                            <h6>
                                Fila @prod.Row
                                <span class="fa fa-bars"></span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Anaquel @prod.Ledge
                                <span class="fa fa-archive"></span>
                            </h6>
                        </div>
                        
                        @if (User.IsInRole("Capturista") || User.IsInRole("Supervisor"))
                        {
                            <div class="col-md-1" style="vertical-align:central">
                                @if (User.IsInRole("Capturista"))
                                {
                                    <button class="btn btn-default btn-sm" title="Editar producto"
                                            onclick="window.location = '@Url.Action("Create", new { id = prod.ProductId })'">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                }

                                @if (User.IsInRole("Supervisor"))
                                {
                                    <button class="btn btn-default btn-sm" title="Registrar movimiento en inventario"
                                            onclick="BeginMovement('@prod.ProductId')">
                                        <span class="fa fa-arrows"></span>
                                    </button>
                                }
                            </div>
                        }
                    </td>
                 }
                @for (var g = item.Count; g < i; g++)
                {
                    <td class="col-md-6"></td>
                }
            </tr>

        }
    </tbody>
</table>



<div id="divMovement"></div>

<script>
    $(document).ready(function () {
        SetDataTable("#tbProducts", "#txtName");
    });

    function Detail(id)
    {
        ShowLoading();

        ExecuteAjax('@Url.Action("Detail", "Products")', { id: id }, function (view) {
            HideLoading();
            $("#divProductDetail").html(view);
        });
    }


    function BeginMovement(pid)
    {
        ShowLoading();
        var param = { productId: pid };

        ExecuteAjax('@Url.Action("BeginMovement", "Products")', param, function (view)
        {
            HideLoading();
            $("#divMovement").html(view);
        });
    }


</script>