@model IEnumerable<List<CerberusMultiBranch.Models.Entities.Catalog.Product>>


@{ int i = Model.FirstOrDefault() != null ? Model.FirstOrDefault().Count : 1; }

<table id="tbProducts" class="table table-condensed">
    <thead class="panel-heading">
        <tr hidden="hidden">
            @for (var j = 0; j < i; j++)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                @foreach (var prod in item)
                {
                    string c = string.Format("col-md-{0}", (12 / i));
                    <td class='@c'>

                        @{ string imgC = string.Format("col-md-{0}", (i * 2)); }

                        <div class='@imgC' style="vertical-align:central" onmouseover="SetPointer(this)"
                             onclick="Detail('@prod.ProductId')">
                            @if (prod.Images.Count > 0)
                            {
                                <img src="@prod.Images.First().Path" class="img-responsive" />
                            }
                            else
                            {
                                <img src="~/Content/Images/sinimagen.jpg" class="img-responsive" />
                            }
                        </div>
                        @{ string txtC = string.Format("col-md-{0}", (11 - i * 2)); }
                        <div class='@txtC' onmouseover="SetPointer(this)" onclick="Detail('@prod.ProductId')">
                            <h4>
                                <label>@prod.Code</label>
                            </h4>
                            <h4>

                                @Html.DisplayFor(model => prod.Name)

                                @if (prod.ModelCompatibilities.Count > 0)
                                {
                                    string content = string.Empty;

                                    foreach (var m in prod.ModelCompatibilities)
                                    {
                                        content += "<h6>" + m.CarMake.Name + " " + m.Name + " " + m.CarYears.Min(y => y.Year) + '-' + m.CarYears.Max(y => y.Year) + "</h5>";
                                    }

                                <span class="glyphicon glyphicon-eye-open text-warning" type="button" rel="popover" onmouseover="SetPointer(this)"
                                      title="Modelos Compatibles" onclick="CompatibilitiesPop('@content')">
                                </span>
                                }
                            </h4>
                            @if (prod.TradeMark != null)
                            {
                                <h6>
                                    Por @prod.TradeMark
                                    <span class="fa fa-registered"></span>
                                </h6>
                            }
                            else
                            {
                                <h6>
                                    Código @prod.Code
                                </h6>
                            }
                            <h4>
                                <label>
                                    @Html.DisplayFor(model => prod.StorePrice)
                                </label>
                            </h4>
                            @*<h5 onmouseover="SetPointer(this)" onclick="StockInBranches('@prod.ProductId')">*@
                            <h5>
                                <span class="badge bg-info">
                                    @prod.Quantity
                                </span>
                                disponibles
                                <span class="fa fa-cubes"></span>
                                Unidad: @prod.Unit
                            </h5>
                            <h6>
                                Fila @prod.Row
                                <span class="fa fa-bars"></span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Anaquel @prod.Ledge
                                <span class="fa fa-archive"></span>
                            </h6>
                        </div>

                        @if (User.IsInRole("Capturista"))
                        {
                            <div class="col-md-1" style="vertical-align:central">
                                <button class="btn btn-default btn-sm" title="Editar producto"
                                        onclick="window.location = '@Url.Action("Create", new { id = prod.ProductId })'">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </div>
                        }
                    </td>
                            }
                @for (var g = item.Count; g < i; g++)
                {
                    <td class="col-md-6"></td>
                }
            </tr>

                            }
    </tbody>
</table>

<div id="divImagesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel panel-danger">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="divImages" class="modal-body panel-body">
            </div>
        </div>
    </div>
</div>

<div id="ModalStock" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span class="fa fa-cubes"></span>
                    Existencias en Sucursales
                </h4>
            </div>
            <div id="divModalStock" class="modal-body">
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        SetDataTable("#tbProducts", "#txtName");
    });

    function Detail(id) {
        ShowLoading();

        ExecuteAjax('@Url.Action("Detail", "Products")', { id: id }, function (view) {
            HideLoading();
            $("#divProductDetail").html(view);
        });
    }


    function StockInBranches(id) {
        $.ajax({
            url: '@Url.Action("GetStockInBranches", "Products")',
            type: "POST",
            data: { productId: id },
            error: function (data) {
                console.log("Error Executing"); console.log(data);
            },
            statusCode:
            {
                200: function (view) {
                    $("#divModalStock").html(view);
                    $("#ModalStock").modal('show');
                },
                401: function (data) {
                    alert('401: Unauthenticated');
                }
            }
        });
    }

    function ShowSlide(id) {
        $.ajax({
            url: '@Url.Action("GetImages", "Products")',
            type: "POST",
            data: { productId: id },
            error: function (data) {
                console.log("Error Executing"); console.log(data);
            },
            statusCode:
            {
                200: function (view) {
                    $("#divImages").html(view);
                    $(".carousel-caption").hide()
                    $("#divImagesModal").modal('show');
                },
                401: function (data) {
                    alert('401: Unauthenticated');
                }
            }
        });
    }

    function Show(carousel) {
        $(divContent).html($(carousel).clone());
        $(divModal).modal('show');
    }

    function CompatibilitiesPop(content) {
        $('body').popover("destroy")
        var popOverSettings =
        {
            placement: 'right',
            container: 'body',
            html: true,
            selector: '[rel="popover"]', //Sepcify the selector here
            content: content
        }

        $('body').popover(popOverSettings);
    }


</script>