@model CerberusMultiBranch.Models.Entities.Operative.BranchProduct


<div id="ModalMovement" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Moviento de inventario</h4>
            </div>
            <div class="modal-body panel-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        @if (Model.Product.Images != null && Model.Product.Images.Count > 0)
                        {
                            <img class="img-responsive" src="@Model.Product.Images.First().Path" style="max-height:130px" />
                        }
                        else
                        {
                            <img class="img-responsive" src="~/Content/Images/sinimagen.jpg" />
                        }
                    </div>
                    <div class="col-md-8">
                        <h5><label>@Model.Product.Code</label></h5>
                        <h5>
                            @Model.Product.Name
                        </h5>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <h5>
                        <span class="badge bg-info">
                            @Model.Stock
                        </span>
                        disponibles
                        <span class="fa fa-cubes"></span>
                        Unidad @Model.Product.Unit
                    </h5>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-control">
                        <label class="radio-inline">
                            <input type="radio" value="1" name="type" checked>
                            Entrada
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="2" name="type">
                            Salida
                        </label>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                    @Html.Label("Cantidad a mover", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-cubes"></i>
                        </span>
                        <input id="txtQuantityMovement" class="form-control" onmouseup="Check(this)"
                               type="number"  max='@Model.Stock' min="0" value="0" onkeyup="Check(this)" />

                        <span class="input-group-btn">
                            <button id="btnMove" class="btn btn-primary" type="button" 
                                    title="Confirmar movimiento de inventario"
                                    onclick="Move('@Model.ProductId')" disabled>
                                <span class="glyphicon glyphicon-ok" />
                                Confirmar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $("#ModalMovement").modal("show");
    });

    $("#txtQuantityMovement").keypress(function (e) {
        if (e.which == 13)
        {
            $("#btnMove").click();
        }
    });

    function Check(element)
    {
        var quantity = parseFloat($(element).val());

        if (quantity > 0)
            $("#btnMove").prop("disabled", false);
        else
            $("#btnMove").prop("disabled", true);
    }

    function Move(productId)
    {
        $("#ModalMovement").modal("hide");

        ShowLoading();
        var param = {
            productId: productId, quantity: $("#txtQuantityMovement").val(),
            type: $("input[name=type]:checked").val()
        }

        ExecuteAjax('@Url.Action("Move")', param, function (j)
        {
            HideLoading();
            if (j.Result == 'OK')
            {
                $("#txtName").val(j.Code);
                 LookFor();
                //ShowMessage(j.Result, j.Message, 'success');
            }
            else
            {
                ShowMessage(j.Result, j.Message, 'warning');
            }
        });
    }
</script>