@model CerberusMultiBranch.Models.ViewModels.Catalog.ProductViewModel
@using CerberusMultiBranch.Support


@Scripts.Render("~/bundles/jqueryval")


@{
    var pnlClass = "modal-content panel panel-primary panel-group";
    if (Model.ProductType == CerberusMultiBranch.Models.Entities.Catalog.ProductType.Package)
    {
        pnlClass = "modal-content panel panel-info panel-group";
    }
}

<form id="mForm">
    <div id="ModalQuickAddProduct" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="@pnlClass">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">
                        <span class="fa fa-archive"></span>
                        Edición de Producto
                    </h5>
                </div>
                <div class="modal-body panel-body panel-group row">

                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#general">
                                <span class="fa fa-columns"></span>
                                Detalle
                            </a>
                        </li>

                        @if (Model.ProductId > Cons.Zero)
                        {
                            <li>
                                <a data-toggle="tab" href="#models">
                                    <span class="fa fa-car"></span>
                                    Compatibilidad
                                    <span class="bg-danger badge">
                                        @Model.Compatibilities.Count
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#images">
                                    <span class="fa fa-image"></span> Imagenes
                                    <span class="bg-danger badge">
                                        @Model.Images.Count
                                    </span>
                                </a>
                            </li>
                        }

                        @if (Model.ProductType == CerberusMultiBranch.Models.Entities.Catalog.ProductType.Package)
                        {
                            <li>
                                <a data-toggle="tab" href="#detail">
                                    <span class="fa fa-cubes"></span> Productos
                                    <span  id="spDetCount" class="bg-danger badge">
                                        @Model.PackageDetails.Sum(pd => pd.Quantity)
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>

                    <div class="tab-content">
                        <div id="general" class="tab-pane fade in active small">
                            @Html.Partial("_GeneralData", Model)
                        </div>
                        
                        @if (Model.ProductType == CerberusMultiBranch.Models.Entities.Catalog.ProductType.Package)
                        {
                            <div id="detail" class="tab-pane fade small">
                                <div id="divPackageDetails">
                                    @Html.Partial("_PackageDetails", Model.PackageDetails)
                                </div>
                            </div>
                        }
                        @if (Model.Quantity > Cons.Zero)
                        {
                            <script>
                                $(".btnToHide").prop("disabled", true);
                            </script>
                        }
                        <div id="models" class="tab-pane fade">
                            <div>
                                @Html.Partial("_CarModelSelector", Model)
                            </div>
                        </div>

                        <div id="images" class="tab-pane fade">
                            <div>
                                <div class="col-md-12" id="divImages" style="align-items:center">
                                    @Html.Partial("_ImagesLoaded", Model.Images)
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" id="btnQuickSave" onclick="Send()" type="button">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <u>G</u>uardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="exCode" />
    <input type="hidden" id="ProviderId" />
</form>

<script>
    $(document).ready(function ()
    {
        SetCascade("#PartSystemId", "#CategoryId", '@Url.Action("GetCategories", "Json")');

        $("#ModalQuickAddProduct").on("hidden.bs.modal", function ()
        {
            ExecuteAjax('@Url.Action("UnLock","Products")', { productId: $("#ProductId").val() }, function (response)
            {
                
            });
        });

        var form = $("#mForm");
        form.validate();

        $("#StorePercentage").keyup(SetPrice);
        $("#StorePercentage").click(SetPrice);

        $("#WholesalerPercentage").keyup(SetPrice);
        $("#WholesalerPercentage").click(SetPrice);

        $("#DealerPercentage").keyup(SetPrice);
        $("#DealerPercentage").click(SetPrice);

        $("#BuyPrice").keyup(SetPrice);
        $("#BuyPrice").click(SetPrice);

        $("#ModalQuickAddProduct").modal("show");

    }).keydown(function (e)
    {
        if ($("#ModalQuickAddProduct").hasClass('in'))
        {
            if (e.keyCode == 13 || (e.altKey && e.keyCode == 71))
            {
                e.preventDefault();
                e.stopImmediatePropagation();
                $("#btnQuickSave").click();
            }
        }
    });


    function SetPrice()
    {
        var sp = (1 + $("#StorePercentage").val() / 100);
        var wp = (1 + $("#WholesalerPercentage").val() / 100);
        var dp = (1 + $("#DealerPercentage").val() / 100);

        $("#StorePrice").val(($("#BuyPrice").val() * sp).toFixed(0));
        $("#WholesalerPrice").val(($("#BuyPrice").val() * wp).toFixed(0));
        $("#DealerPrice").val(($("#BuyPrice").val() * dp).toFixed(0));
    }

    function Send()
    {
        $("lblQuickAddError").text("");
        var form = $("#mForm");

        if (!form.valid())
            return;

        ShowLoading();
        var product =
        {
            Code: $("#Code").val().toUpperCase(), CategoryId: $("#CategoryId").val(), TradeMark: $("#TradeMark").val().toUpperCase(), Name: $("#Name").val().toUpperCase(), PartSystemId: $("#PartSystemId").val(),
            WholesalerPrice: $("#WholesalerPrice").val(), DealerPrice: $("#DealerPrice").val(), BuyPrice: $("#BuyPrice").val(),
            StorePrice: $("#StorePrice").val(), Unit: $("#Unit").val().toUpperCase(), DealerPercentage: $("#DealerPercentage").val(),
            WholesalerPercentage: $("#WholesalerPercentage").val(), StorePercentage: $("#StorePercentage").val(),Row: $("#Row").val(),Ledge: $("#Ledge").val(),
            ProductId: $("#ProductId").val(), Quantity: $("#Quantity").val(), IsActive: $("#IsActive").val(), ProductType: $("#ProductType").val(),
            MinQuantity: $("#MinQuantity").val(), MaxQuantity: $("#MaxQuantity").val(), StockRequired: $("#StockRequired").is(':checked'), StockLocked: $("#StockLocked").is(':checked')
        };

        //si el ProviderId tiene valor, quiere decir que es una copia de producto del proveedor
        if ($("#ProviderId").val() != '')
        {
            var param =
                {
                    product: product, providerId: $("#ProviderId").val(),
                    code: $("#Code").val()
                };

            ExecuteAjax('@Url.Action("Copy","Products")', param, function (response) {
                HideLoading();
                if ($.isPlainObject(response)) {
                    if (response.Result != "OK")
                    {
                        ShowMessage(response.Result, response.Message, 'warning');
                    }
                }
                else {
                    $("#ModalQuickAddProduct").modal("hide");
                    $("#ModalQuickAddProduct").on("hidden.bs.modal", function () {
                        $("#divQuickAdd").html(response);
                        LookFor();
                    });
                }
            });
        }
            //de lo contrario es una edición o creación nuevo registro
        else {
            var param = { product: product };

            ExecuteAjax('@Url.Action("QuickSave","Products")', param, function (response)
            {
                HideLoading();
                if ($.isPlainObject(response)) {
                    $("#ModalQuickAddProduct").modal("hide");
                    $("#ModalQuickAddProduct").on("hidden.bs.modal", function () {
                        if (response.Result != "OK") {
                            ShowMessage(response.Result, response.Message, 'warning');
                        }
                        else {
                            SearchEdited(product.Code);
                            ShowMessage(response.Result, response.Message, 'success');
                        }
                    });
                }
                else
                {
                    $("#ModalQuickAddProduct").modal("hide");
                    $("#ModalQuickAddProduct").on("hidden.bs.modal", function ()
                    {
                        SearchEdited(product.Code);
                        $("#divQuickAdd").html(response)
                    });
                }
            });
        }
    }


    function SearchEdited(code)
    {
        ExecuteAjax('@Url.Action("SearchEdit")', { code: code }, function (response) {
            $("#divProducts").html(response);
        });
    }   
</script>
