@model PagedResult<CerberusMultiBranch.Models.Entities.Catalog.Product>

@using CerberusMultiBranch.Support

<hr />
@Html.Partial("_Pagination", Model)

<table id="tbQuickProduct" class="table table-hover small" style="width:100%">
    <thead>
        <tr>
            <th ></th>
            <th >
                @Html.DisplayName("Code")
            </th>
            <th >
                @Html.DisplayName("Name")
            </th>
            <th >
                @Html.DisplayName("TradeMark")
            </th>
            <th>
                @Html.DisplayName("BuyPrice")
            </th>
            <th>
                @Html.DisplayName("Cantidad")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr class="text-uppercase">
                <td>
                    @if (item.Images != null && item.Images.Count > 0)
                    {
                        <img src="@item.Images.First().Path" class="img-responsive" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TradeMark)
                </td>
                <td>
                    @Html.Hidden("ProductId", item.ProductId)
                    @Html.EditorFor(modelItem => item.BuyPrice, new { htmlAttributes = new { @class = "form-control", type = "number", id = "txtBuyPrice" } })
                </td>

                <td>
                    <div class="input-group">
                        @Html.TextBox("Quantity", "1", htmlAttributes: new { @class = "form-control", type = "number" })
                        <span class="input-group-btn">
                            <button class="btn btn-warning" onclick="AddDetail(this)">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </span>
                    </div>
                </td>
            </tr>
        }
    </tbody>
  
</table>

@Html.Partial("_Pagination", Model)
