@model CerberusMultiBranch.Models.Entities.Operative.BranchProduct


<div id="ModalTransference" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel panel-danger panel-group">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Transferencia desde @Model.Branch.Name</h4>
            </div>
            <div class="modal-body panel-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        @if (Model.Product.Images != null && Model.Product.Images.Count > 0)
                        {
                            <img class="img-responsive" src="@Model.Product.Images.First().Path" />
                        }
                        else
                        {
                            <img class="img-responsive" src="~/Content/Images/sinimagen.jpg" />
                        }
                    </div>
                    <div class="col-md-8">
                        <h5><label>@Model.Product.Code</label></h5>
                        <h5>
                            @Model.Product.Name
                        </h5>
                    </div>

                </div>
                <div class="col-md-12 text-center">
                    <h5>
                        <span class="badge bg-info">
                            @Model.Stock
                        </span>
                        disponibles
                        <span class="fa fa-cubes"></span>
                        Unidad @Model.Product.Unit
                    </h5>
                </div>
                <div class="col-md-8 col-md-offset-2 text-center">
                    @Html.Label("Cantidad a transferir", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                        <input id="txtQuantityTransfer" class="form-control" type="number" , max='@Model.Stock' min="1" value="0" />

                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button" title="Realizar transferencia"
                                    onclick="Transfer('@Model.BranchId','@Model.ProductId')">
                                <span class="glyphicon glyphicon-ok" />
                                Autorizar transferencia
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ModalTransference").modal("show");
    });

    function Transfer(branchId, productId)
    {
        $("#ModalTransference").modal("hide");
        ShowLoading();
        var param ={originBranchId:branchId, productId:productId, quantity:$("#txtQuantityTransfer").val()}
        ExecuteAjax('@Url.Action("Transfer")', param, function (j)
        {
            HideLoading();
            if (j.Result == 'OK')
            {
                $("#txtName").val(j.Code);
                LookFor();
                ShowMessage(j.Result, j.Message, 'success');
            }
            else
                ShowMessage(j.Result, j.Message, 'warning');
        });
    }
</script>