@model CerberusMultiBranch.Models.ViewModels.Catalog.TransferViewModel



<div class="panel panel-primary">
    <div class="panel-heading">
        <button type="button" class="close" onclick="HideModal(null,true)">
            <span class="fa fa-times"></span>
        </button>
        <h4 class="panel-title">
            <span class="fa fa-send"></span>
            Transferencia de producto
        </h4>
    </div>
    <div class="panel-body text-uppercase">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center panel-title">
                    Tranferencia a sucursal @Model.TransBranch
                </h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    <img class="img-responsive img-rounded" src="@Model.TransImage" style="max-height:130px" />
                </div>
                <div class="col-md-8">
                    <h5><label>@Model.TransCode</label></h5>
                    <h5>
                        @Model.TransName
                    </h5>
                    <h5>
                        <span class="badge bg-info">
                            @Model.TransStock
                        </span>
                        disponibles
                        <span class="fa fa-cubes"></span>
                        Unidad @Model.TransUnit
                    </h5>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4 col-md-push-4">
            <label class="control-label">Cantidad</label>
            <div class="input-group">

                <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                <input id="txtQuantityTransfer" class="form-control"
                       type="number" max='@Model.TransStock' min="1" value="1" />
            </div>    
        </div>
     
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
           
            <button class="btn btn-primary" type="button" title="Realizar transferencia" onclick="Transfer('@Model.TransBranchId','@Model.TransProductId')">
                <span class="fa fa-check" />
                Autorizar
            </button>

            <button class="btn btn-danger" type="button" title="Realizar transferencia" onclick="HideModal(null,true)">
                <span class="fa fa-times" />
                Cancelar
            </button>
        </div>
    </div>
</div>

<script>

    function Transfer(branchId, productId)
    {
        HideModal(function ()
        {
            ShowLoading('static');

            var param = { detsBranchId: branchId, productId: productId, quantity: $("#txtQuantityTransfer").val() };

            ExecuteAjax('@Url.Action("Transfer")', param, function (response)
            {
                HideLoading(function ()
                {
                    LookFor();
                });
            });
        }, true);
    }
</script>