@model CerberusMultiBranch.Models.ViewModels.Catalog.ProductViewModel

@{
    ViewBag.Title = "Productos";
}


<div class="col-md-11">
    <h3>
        <span class="fa fa-car" style="float:left"></span>
        &nbsp;&nbsp;Edición de Productos
    </h3>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-md-11 panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.HiddenFor(model => model.ProductId)
                <div class="row">
                    <div class="form-group col-md-8 ">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-star-empty"></i></span>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-2 col-md-offset-2">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                            @*<span class="input-group-addon"><input type="checkbox" id="cbCode" onclick="EditCode(this)"></span>*@
                        </div>
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                            @Html.DropDownListFor(model => model.CategoryId, Model.Categories, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        @Html.Label("Modelos Compatibles", htmlAttributes: new { @class = "control-label" })
                        <div class="input-group" id="divModComp">
                            <span class="input-group-addon"><i class="fa fa-car"></i></span>
                            @Html.TextBox("Compatibilities", "", htmlAttributes: new { @class = "form-control disabled" })
                        </div>
                        <label id="lblMessageModel" class="text-danger" />
                    </div>

                    <div class="form-group col-md-2 col-md-offset-2">
                        @Html.Label("Imagenes Adjuntas", htmlAttributes: new { @class = "control-label" })
                        <div class="input-group" onclick="ShowImages()">
                            <span class="input-group-addon"><i class="fa fa-camera"></i></span>
                            @Html.TextBox("Pictures", "", htmlAttributes: new { @class = "form-control disabled" })
                        </div>
                        <label id="lblMessage" class="text-danger" />
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4 form-group">
                        @Html.LabelFor(model => model.TradeMark, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-registration-mark"></i></span>
                            @Html.EditorFor(model => model.TradeMark, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TradeMark, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                            @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.StorePercentage, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                            @Html.EditorFor(model => model.StorePercentage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StorePercentage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.DealerPercentage, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                            @Html.EditorFor(model => model.DealerPercentage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DealerPercentage, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.WholesalerPercentage, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                            @Html.EditorFor(model => model.WholesalerPercentage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.WholesalerPercentage, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-2 col-md-offset-2">
                        @Html.LabelFor(model => model.BuyPrice, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                            @Html.EditorFor(model => model.BuyPrice, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.5", @value = "0" } })
                            @Html.ValidationMessageFor(model => model.BuyPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.MinQuantity, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calculator"></i></span>
                            @Html.EditorFor(model => model.MinQuantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MinQuantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.StorePrice, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                            @Html.EditorFor(model => model.StorePrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StorePrice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.DealerPrice, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                            @Html.EditorFor(model => model.DealerPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DealerPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-2 form-group">
                        @Html.LabelFor(model => model.WholesalerPrice, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                            @Html.EditorFor(model => model.WholesalerPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.WholesalerPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4 col-md-offset-2">
                        @Html.LabelFor(model => model.BarCode, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                            @Html.EditorFor(model => model.BarCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BarCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group">
                    @Html.Partial("_CatalogButtonGroup")

                    <button type="button" class="btn btn-default" id="btnUpload">
                        <span class="fa fa-cloud-upload" />
                    </button>
                </div>

            </div>
        </div>
    </div>


    <div id="divImagesModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content panel panel-danger">
                <div id="divImages" class="modal-body panel-body" style="height:150px;  overflow-y: scroll;">
                </div>

                <div id="divUploader" class="modal-footer panel-footer">
                    <label id="upl0" class="btn btn-warning btn-file ">
                        <span class="glyphicon glyphicon-picture" />
                        <input type="file" name="Files" onchange="ImageLoaded(this)" style="display: none;">
                    </label>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_CarModelSelector", Model)

}


<div id="divImagesLoaded" class="modal" role="dialog">
    <div class="modal-dialog">
        <div id="imgPartial" class="modal-content">
            @Html.Partial("_ImagesLoaded", Model.Images)
        </div>
    </div>
</div>


<script>
    var imgLoaded = 0;
    var count = 0;

    $(document).ready(function () {
        //$("#Code").attr("readonly", true);
        $("#Pictures").attr("readonly", true);
        $("#Compatibilities").attr("readonly", true);

        $("#Compatibilities").val('@Model.Compatibilities.Count');

        $("#StorePrice").attr("readonly", true);
        $("#WholesalerPrice").attr("readonly", true);
        $("#DealerPrice").attr("readonly", true);


        $("#StorePercentage").keyup(SetPrice);
        $("#StorePercentage").click(SetPrice);

        $("#WholesalerPercentage").keyup(SetPrice);
        $("#WholesalerPercentage").click(SetPrice);

        $("#DealerPercentage").keyup(SetPrice);
        $("#DealerPercentage").click(SetPrice);

        $("#BuyPrice").keyup(SetPrice);
        $("#BuyPrice").click(SetPrice);


        $("#btnUpload").click(function () { $("#divImagesModal").modal(); });
        $("#divModComp").click(function () { $("#divCompModal").modal(); });

        $("#Code").change(CheckCode);

    });

    function CheckCode() {
        console.log("Checar Codigo");
        $.ajax({
            url: '@Url.Action("CheckProductCode", "Json")',
            type: "POST",
            data: { code: $("#Code").val() },
            sucess: function (exist) {
                console.log("Result " + exist);
                if (exist)
                    alert("El Codigo ya existe");
            },
            error: function () {
                console.log("Error al ejecutar " + exist);
            },
            statusCode:
           {
               200: function (exist) {
                   console.log("Result " + exist);
                   if (exist)
                       alert("El Codigo ya existe");
               },
               401: function (exist) {
                   alert('401: Unauthenticated');
               }
           }
        });
    }

    function ShowCompatibilities() {

        console.log("Loading CarModels Ajax..");

        $.ajax({
            url: '@Url.Action("GetModels", "CarModels")',
            type: "POST",

            sucess: function (view) {
                console.log("Success");
                $("#divComp").html(view);
                $("#divCompModal").modal();
            },

            error: function (data) { console.log("Error Executing"); console.log(data); },
            statusCode:
            {
                200: function (view) {
                    console.log("200: Authenticated ");
                    $("#divComp").html(view);
                    $("#divCompModal").modal();
                },
                401: function (data) {
                    alert('401: Unauthenticated');
                }
            }
        });
    }

    function SetPrice() {
        console.log("KeyPressed");

        var sp = (1 + $("#StorePercentage").val() / 100);
        var dp = (1 + $("#WholesalerPercentage").val() / 100);
        var wp = (1 + $("#DealerPercentage").val() / 100);

        $("#StorePrice").val(($("#BuyPrice").val() * sp).toFixed(2));
        $("#WholesalerPrice").val(($("#BuyPrice").val() * dp).toFixed(2));
        $("#DealerPrice").val(($("#BuyPrice").val() * wp).toFixed(2));
    }



    function EditCode(checkBox) {
        console.log($(checkBox).is(':checked'));
        $("#Code").attr("readonly", !$(checkBox).is(':checked'));
    }


    function ShowImages() {
        $("#divImagesLoaded").modal();
    }

    function DropImage(index) {
        console.log("Drop #div" + index);
        $("#div" + index).remove();

        console.log("Drop #upl" + index);
        $("#upl" + index).remove();

        count--;
        console.log(count);

        if (count == 0)
            $("#lblMessage").text("");
        else
            $("#lblMessage").text("Imagenes a cargar " + count);

    }

    function ImageLoaded(input) {
        var files = input.files;

        var reader = new FileReader();

        reader.onload = function (e) {
            $('#divImages').append(" <div id='div" + imgLoaded + "' class='thumbnail col-md-4' ><a class='close'  onclick='DropImage(" + imgLoaded + ")'>×</a><img  src='" + e.target.result + "' class='img-responsive' style='min-height:50px;height:70px;'/>");
            console.log("Imagen Index " + imgLoaded);

            imgLoaded++;

            AddUploader();
        }
        reader.readAsDataURL(files[0]);

        $(input).closest("label").hide();
    }

    function AddUploader() {
        console.log("Creating Upload " + imgLoaded);

        var ctrl = ' <label id="upl' + imgLoaded + '" class="btn btn-warning btn-file ">' +
                    '<span class="glyphicon glyphicon-folder-open" />' +
                    '<input  type="file" name="Files" multiple onchange="ImageLoaded(this)" style="display: none;">' +
                    '</label>';

        $('#divUploader').append(ctrl);

        count++;
        console.log(count);
        $("#lblMessage").text("Imagenes a cargar " + count);
    }

    function Preview(input) {
        var files = input.files;

        if (files && files[0]) {
            var j = 0;
            //console.log("Allow Attach Files " + files.length);
            for (var i = 0, file; file = files[i]; i++) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    console.log("Read Image " + j);

                    if (j == 0) {
                        console.log("Setting Active Image");
                        $('#olSlides').append("  <li data-target='#myCarousel' data-slide-to='" + j + "' class='active'></li>")
                        $('#divGallery').append(" <div class='item active'><img  src='" + e.target.result + "' /></div>")
                    }
                    else {
                        console.log("Place Images ");
                        $('#olSlides').append("  <li data-target='#myCarousel' data-slide-to='" + j + "' ></li>")
                        $('#divGallery').append(" <div class='item'><img  src='" + e.target.result + "' /></div>")
                    }
                    j++;
                }

                console.log("Loading Image " + i);
                reader.readAsDataURL(file);
            }
        }
    }

</script>
