@model CerberusMultiBranch.Models.Entities.Catalog.Product
@using CerberusMultiBranch.Support;
@{
    int imgIndex = 0;
}


<div id="ModalProductDetail" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content panel panel-danger panel-group">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalle de producto</h4>
            </div>
            <div class="modal-body panel-body panel-group">

                <div class="panel panel-danger col-md-6">
                    <div class="panel-body">
                        @if (Model.Images != null && Model.Images.Count > 0)
                        {
                            <div id="divCarousel" class="carousel slide" data-ride="carousel">
                                <div id="imgContainer" class="carousel-inner">
                                    @foreach (var file in Model.Images)
                                    {
                                        var imgSrc = file.Path;
                                        var a = imgIndex == Decimal.Zero ? "active" : "";

                                        <div id="div+@file.ProductImageId" class="item @a">
                                            <img src="@imgSrc" style="max-height:300px" />
                                        </div>
                                        imgIndex++;
                                    }

                                    @if (imgIndex == 0)
                                    {
                                        <div class="item active thumbnail">
                                            <img src="~/Content/Images/sinimagen.jpg" />
                                        </div>
                                    }
                                </div>

                                <a class="left carousel-control" href="#divCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>

                                <a class="right carousel-control" href="#divCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <img src="~/Content/Images/sinimagen.jpg" class="img-responsive" />
                        }
                    </div>
                </div>
                <div class="panel panel-danger col-md-6">
                    <div class="panel-body">
                        <h4>
                            <label>@Model.Code</label>
                        </h4>
                        <h4>
                            @Html.DisplayFor(model => Model.Name)
                        </h4>
                        @if (Model.TradeMark != null)
                        {
                            <h5>
                                Por @Model.TradeMark
                                <span class="fa fa-registered"></span>
                            </h5>
                        }
                       
                        <h4>
                            @Html.DisplayFor(model => Model.StorePrice)
                        </h4>
                        <h5>
                            <span class="badge bg-info">
                                @Model.Quantity
                            </span>
                            disponibles
                            <span class="fa fa-cubes"></span>
                            Unidad @Model.Unit
                        </h5>
                        @if (User.IsInRole("Vendedor"))
                        {
                            <div class="col-md-8 row input-group">
                                @Html.TextBox("txtQuantity", "", htmlAttributes: new { @class = "form-control", type = "number", min = "1" })
                                <span class="input-group-btn">
                                    @if (Model.ProductType == CerberusMultiBranch.Models.Entities.Catalog.ProductType.Single)
                                    {
                                        <button class="btn btn-warning" onclick="AddToCart('@Model.ProductId','@Model.Quantity','@Model.StorePrice')">
                                            <span class="fa fa-cart-plus"></span>
                                            Agregar al carrito
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary" onclick="AddToCart('@Model.ProductId','@Model.Quantity')">
                                            <span class="fa fa-cart-plus"></span>
                                            Agregar al carrito
                                        </button>
                                    }

                                </span>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <div class="col-md-12 row">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="pill" href="#information">Existecias</a></li>
                        <li><a data-toggle="pill" href="#compatibilities">Compatibilidad</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="information" class="tab-pane fade in active">
                            <div class="panel panel-danger">
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayName("Sucursal")</th>
                                                <th style="text-align:center">@Html.DisplayName("Disponibles")</th>
                                                <th></th>
                                                <th>@Html.DisplayName("Sucursal")</th>
                                                <th style="text-align:center">@Html.DisplayName("Disponibles")</th>
                                                <th></th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @{
                                                int rows = (Model.Branches.Count % 2 == 0) ? (Model.Branches.Count / 2) : ((Model.Branches.Count + 1) / 2);
                                                var limit = 2;
                                                var begin = 0;
                                            }

                                            @for (int i = 0; i < rows; i++)
                                            {
                                                <tr>
                                                    @for (int j = begin; j < limit; j++)
                                                    {
                                                        if (j < Model.Branches.Count)
                                                        {
                                                            <td class="col-md-4 danger">
                                                                @Html.DisplayFor(modelItem => Model.Branches[j].Name)
                                                            </td>
                                                            <td class="col-md-2" align="center">
                                                                <span class="badge bg-danger"> @Model.Branches[j].Quantity</span>
                                                            </td>
                                                            <td>
                                                                @if (User.IsInRole("Supervisor") && 
                                                                    Model.Branches[j].Quantity > 0 && Model.Branches[j].BranchId != User.Identity.GetBranchId())
                                                                {
                                                                    <button class="btn btn-danger btn-xs" title="Transferir este producto"
                                                                            onclick="BeginTransference('@Model.Branches[j].BranchId','@Model.ProductId')">
                                                                        <span class="fa fa-exchange"></span>
                                                                    </button>
                                                                }

                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="col-md-4 danger"></td>
                                                            <td class="col-md-2"></td>
                                                            <td />
                                                        }
                                                    }
                                                </tr>
                                                limit = limit + 2;
                                                begin = begin + 2;

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="compatibilities" class="tab-pane fade">
                            <div class="panel panel-danger">
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayName("Modelo")</th>
                                                <th>@Html.DisplayName("Años")</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model.ModelCompatibilities)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayName(item.CarMake.Name + " " + item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayName(item.CarYears.Min(y => y.Year).ToString() + " - " + item.CarYears.Max(y => y.Year).ToString())
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#txtQuantity").val(1);

        $("#ModalProductDetail").modal("show");
    });

    function BeginTransference(branchId, productId) {
        $("#ModalProductDetail").modal("hide");
        var param = { branchId: branchId, productId: productId }

        ExecuteAjax('@Url.Action("BeginTransference")', param, function (view) {
            $("#divTransference").html(view);
        });
    }

    function AddToCart(productId, available)
    {
        quantity = parseFloat($("#txtQuantity").val());

        var data =
        {
            productId: productId,
            quantity: $("#txtQuantity").val()
        }

        ExecuteAjax('@Url.Action("AddToCart", "Sales")', data, function (data) {
            $("#ModalProductDetail").modal("hide");
            if (data.Result == "OK") {
                CheckCart();
            }
            else {
                ShowMessage(data.Result, data.Message, "warning");
            }
        });
    }
</script>