@model CerberusMultiBranch.Models.Entities.Catalog.Product

@{
    ViewBag.Title = "Details";
    int liIndex = 0;
    int imgIndex = 0;
}

<br/>
<div class="col-md-4">
    <div id="divCarousel" class="carousel slide" data-ride="carousel">
        <ol id="olSlides" class="carousel-indicators">
            @foreach (var file in Model.Images)
            {
                var a = liIndex == Decimal.Zero ? "active" : "";
                <li data-target="#divCarousel" data-slide-to="@liIndex" class='@a'>
                </li>

                    liIndex++;
                }
        </ol>
        <div id="divGallery" class="carousel-inner">
            @foreach (var file in Model.Images)
            {
                var base64 = Convert.ToBase64String(file.File);
                var imgSrc = String.Format("data:{0};base64,{1}", file.Type, base64);
                var a = imgIndex == Decimal.Zero ? "active" : "";

                <div class="item @a">
                    <img src="@imgSrc" />
                </div>

                    imgIndex++;
                }
        </div>

        <a class="left carousel-control" href="#divCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#divCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="col-md-8">
    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Code, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            
            @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })

        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.StorePrice, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.StorePrice, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.DealerPrice, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DealerPrice, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>




<script>

    $(document).ready(function ()
    {
        $('#divCarousel').carousel();
    })

</script>


