@model CerberusMultiBranch.Models.ViewModels.Catalog.SearchProductViewModel

@{
    ViewBag.Title = "Index";
}

@*<h3>Catálogo de Productos</h3>*@
<h3>
    <span class="fa fa-car" style="float:left"></span>
    &nbsp;&nbsp;Catálogo de Producto
</h3>

<div class="col-md-6">
    <div class="input-group ">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        @Html.TextBox("txtName", "", htmlAttributes: new { @class = "form-control" })
    </div>
</div>
<div class="btn-group">
    <button id="btnFilter" type="button" class="btn btn-warning" data-toggle="collapse" data-target="#divFilters">
        <span class="glyphicon glyphicon-eye-open"></span>
    </button>
    <button type="button" class="btn btn-success" onclick="window.location='/Clients/Create';">
        <span class="glyphicon  glyphicon-file"></span>
    </button>

</div>
<br /><br /><br />

<div id="divFilters" class="col-md-4  collapse">
    <div class="panel panel-danger">
        @*<div class="panel-heading">
                Filtros de busqueda
            </div>*@
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.Label("Categoría", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("CategoryId", Model.Categories, "", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Marca", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("MakeId", Model.Makes, "", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Modelo", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("ModelId", Model.Models, "", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Año", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("YearId", Model.Years, "", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Nombre del Producto", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("Name", "", htmlAttributes: new { @class = "form-control", id = "txtName" })

                    </div>
                </div>

                <div class="form-group col-md-8">
                    @Html.Label("Código", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("Code", "", htmlAttributes: new { @class = "form-control", id = "txtCode" })

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="button" onclick="Search()">
                <span class="glyphicon glyphicon-search" />
            </button>
            @Html.ActionLink(" ", "Create", new { }, new { @class = "btn btn-warning glyphicon glyphicon-file" })
        </div>
    </div>
</div>

<div id="divProducts" class="col-md-12">
    @Html.Partial("_List", Model.Products)
</div>


<script>

    $(document).ready(function () {
        SetCascade("#MakeId", "#ModelId", "GetModels");

        $("#divFilters").on("hide.bs.collapse", function () {
            $("#btnFilter").attr("class", "btn btn-warning");
            $("#btnFilter").html('<span class="glyphicon glyphicon-eye-open"></span>');
            $("#divProducts").attr("class", "col-md-12");
        });
        $("#divFilters").on("show.bs.collapse", function () {
            $("#btnFilter").attr("class", "btn btn-default");
            $("#btnFilter").html('<span class="glyphicon glyphicon-eye-close"></span>');
            $("#divProducts").attr("class", "col-md-8");
        });
    });

    function Search() {
        console.log("Searching");

        //$("#prg .progress-bar").css("width", "50%").addClass("progress-bar-striped active").html("50%");

        $.ajax({
            url: "/Products/Search",
            type: "POST",
            data: {
                categoryId: $("#CategoryId").val(),
                subCategoryId: $("#SubCategoryId").val(),
                Name: $("#txtName").val(),
                Code: $("#txtCode").val()
            },
            sucess: function (view) {
                console.log("Succes");
                $("#divProducts").html(view);
                // $("#prg .progress-bar").css({ "width": "100%" }).removeClass("active").html("100%");
            },

            error: function (data) { console.log("Usuario Invalido"); console.log(data); },
            statusCode:
            {
                200: function (view) {
                    console.log("200: Authenticated ");
                    $("#divProducts").html(view);
                    //$("#prg .progress-bar").css({ "width": "100%" }).removeClass("active").html("100%");
                },
                401: function (data) {
                    alert('401: Unauthenticated');
                    // Handle the 401 error here.
                }
            }
        });


    }

</script>
