@model CerberusMultiBranch.Models.ViewModels.Catalog.SearchProductViewModel

@{
    ViewBag.Title = "Cátalogo productos";
}


<h3>
    <span class="fa fa-book" style="float:left"></span>
    &nbsp;&nbsp;Catálogo de Producto
</h3>

<div class="col-md-10">
    <div class="input-group ">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        @Html.TextBox("txtName", "", htmlAttributes: new { @class = "form-control" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="btnSearch" title="Buscar">
                <span class="glyphicon glyphicon-search" />
            </button>
            <button id="btnSwitch" type="button" class="btn btn-default" title="Ver como tabla" >
                <span id="spSwitch" class="fa fa-th-large"></span>
            </button>
            <button class="btn btn-default" type="button" id="btnClear" title="Recargar">
                <span class="glyphicon glyphicon-refresh" />
            </button>
            <button id="btnFilter" type="button" class="btn btn-warning" data-toggle="collapse" data-target="#divFilters" title="Mostrar filtros">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            @if (User.IsInRole("Capturista"))
            {
                <button type="button" class="btn btn-success" id="btnCreate" title="Crear nuevo registro">
                    <span class="glyphicon  glyphicon-file"></span>
                </button>
            }
        </span>
    </div>
</div>


<br /><br /><br />

<div id="divFilters" class="col-md-4  collapse">
    <div class="panel panel-danger">
        @*<div class="panel-heading">
                Filtros de busqueda
            </div>*@
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.Label("Sistema", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("PartSystemId", Model.Systems, "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.Label("Categoría", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("CategoryId", Model.Categories, "", new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group col-md-12">
                    @Html.Label("Marca", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("CarMakeId", Model.Makes, "", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Modelo", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("CarModelId", Model.Models, "", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Año", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("CarYearId", Model.Years, "", new { @class = "form-control" })
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<input id="IsGrid" type="hidden" value="false" />

<div id="divProducts" class="col-md-12">
    @Html.Partial("_List", Model.Products)
</div>

<div id="divProductDetail">

</div>

<div id="divTransference">

</div>
<script>

    $(document).ready(function ()
    {
        SetCascade("#CarMakeId", "#CarModelId", "GetModels");

        SetCascade("#CarModelId", "#CarYearId", "GetYears");

        $("#btnCreate").click(function () { window.location = '@Url.Action("Create","Products")'; });

        SetFilterControls("#divFilters", "#btnFilter", "#divProducts");

        $("#btnSearch").click(function () 
        {
            LookFor();
        });

        $("#btnSwitch").click(function ()
        {
            if ($("#IsGrid").val() != 'false')
            {
                $("#IsGrid").val('false');
                LookFor();
                $("#spSwitch").attr("class", "fa fa-th-large");
                $("#btnSwitch").prop("title", "ver como tabla");

            }
            else
            {
                $("#IsGrid").val('true');
                LookFor();
                $("#spSwitch").attr("class", "fa fa-list");
                $("#btnSwitch").prop("title", "ver como lista");
            }

        });

        $("#btnClear").click(function () { window.location = '@Url.Action("Index",new { })' })

        $("#CarMakeId").change(function () {
            $("#CarYearId").empty();
            $("#CarYearId").attr("readonly", true);
        });

       
    });

    function LookFor()
    {
        ShowLoading();
        var data = {
            categoryId: $("#CategoryId").val(),
            carMakeId: $("#CarMakeId").val(),
            carModelId: $("#CarModelId").val(),
            carYear: $("#CarYearId").val(),
            name: $("#txtName").val(),
            isGrid: $("#IsGrid").val(),
            partSystemId: $("#PartSystemId").val()
        };
        ExecuteAjax('@Url.Action("Search")', data, function (view)
        {
            HideLoading();
            $("#divProducts").html(view);
        });
    }

</script>
