@model IEnumerable<CerberusMultiBranch.Models.Entities.Catalog.Client>



<table id="tbClients" class="table  table-striped ">
    <thead>
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.FTR)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Address)
            </th>
          
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.FTR)
                </td>
                <td  class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td  class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
               
                <td  class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td align="right">
                    <div class="btn-group">

                        @if (User.IsInRole("Capturista") || User.IsInRole("Vendedor"))
                        {
                            <button class="btn btn-warning  btn-xs" title="Editar"
                                    onclick="ShowLoading(); window.location = '@Url.Action("Create", new {id = item.ClientId})'">
                                <span class="glyphicon glyphicon-pencil" />
                            </button>
                        }
                     
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>

    $(document).ready(function () {
        SetDataTable("#tbClients", "#txtName");
        console.log("Client List Loaded");
    });



    function RowCreated() {
        function RowCreated(row) {
            var id = $(row).find('td:eq(0)').text();
            var options = {
                title: "Quieres borrar el registro?", placement: "left", buttons: [
             { label: "Si", class: 'btn btn-primary', icon: 'glyphicon glyphicon-ok', onClick: function () { Delete(id, row); } },
             { label: "No", class: 'btn btn-danger', icon: 'glyphicon glyphicon-remove' }]
            }

            $(row).find('td:eq(6)').children("button").confirmation(options);
            $(row).dblclick(Select);
        }
    }

</script>