@model IEnumerable<ClientViewModel>

@using CerberusMultiBranch.Support
@using CerberusMultiBranch.Models.ViewModels.Catalog


@using CerberusMultiBranch.Support

    <table id="tbClients" class="table dt-responsive nowrap table-bordered small hidden" style="width:100%">
        <thead>
            <tr class="panel panel-danger panel-heading ">
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FTR)
                </th>

           
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phones)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditComment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StringAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email2)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Edition)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
                <tr>
                    <td class="text-uppercase">
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td class="text-uppercase">
                        @Html.DisplayUpperFor(modelItem => item.Name)
                    </td>
                    <td class="text-uppercase">
                        @Html.DisplayUpperFor(modelItem => item.FTR)
                    </td>

                    <td class="text-lowercase">
                        @Html.DisplayLowerFor(modelItem => item.Email)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.Phones)
                    </td>

                    <td class="text-uppercase">
                        @Html.DisplayFor(modelItem => item.CreditLimit)
                    </td>
                    <td class="text-uppercase">
                        @Html.DisplayFor(modelItem => item.CreditAvailable)
                    </td>
                    <td class="text-uppercase">
                        @Html.DisplayUpperFor(modelItem => item.CreditComment)
                    </td>

                    <td>
                        @Html.DisplayUpperFor(modelItem => item.StringAddress)
                    </td>
                    <td class="text-lowercase">
                        @Html.DisplayLowerFor(modelItem => item.Email2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edition)
                    </td>

                    <td>
                        <button class="btn btn-warning  btn-sm" title="Editar cliente" onclick="BeginEdit('@item.ClientId')" disabled="@item.EditionDisabled">
                            <span class="fa fa-edit"></span>
                            Editar
                        </button>

                        <button class="btn btn-danger  btn-sm" title="Eliminar cliente" disabled="@item.DeleteDisabled" onclick="BeginDelete('@item.ClientId','@item.Name')">
                            <span class="fa fa-trash-o"></span>
                            Eliminar
                        </button>
                    </td>
                </tr>
        }
        </tbody>
    </table>


<script>

    $(document).ready(function ()
    {
        $("#tbClients").removeClass("hidden");

        var printOp = { Title: '@Html.Raw(Extension.GetTitle("Catálogo de Clientes"))', Columns: [0, 1, 2, 3, 4,5,6] };

        Paginate("#tbClients", 10, true, "#txtName", false, "#tbButtons",printOp);
    });


    function BeginEdit(id)
    {
        ShowCatalogModal(SearchById, null, 'Client', id);
    }

    function BeginDelete(id, name)
    {
        var text = "Estas a punto de eliminar al cliente <br/>" + name + "<br/> ¿Estas seguro que deseas continuar?";

        ShowConfirm(text, '@Url.Action("Deactivate","Clients")', id, function ()
        {
            ExecuteAjax('@Url.Action("Search")', {}, function (view)
            {
                $("#divClients").html(view);
            });
        });
    }

</script>