@model IEnumerable<CerberusMultiBranch.Models.Entities.Config.Make>

@{
    ViewBag.Title = "Index";
}

<h3>Marcas de Autos</h3>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create")
</p>
<div class="col-md-10">
    <table id="tbMarks" class="table TablePrimary table-striped ">
        <thead>
            <tr>
                <th class="col-md-6">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="form-group" align="center">
                        @Html.ActionLink(" ", "Edit", new { id = item.MakeId }, new { @class = "btn btn-primary glyphicon glyphicon-pencil btn-xs" })
                    </td>
                    <td class="form-group" align="center">
                        @Html.ActionLink(" ", "Delete", new { id = item.MakeId }, new { @class = "btn btn-danger glyphicon glyphicon-trash btn-xs" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script>
    $(document).ready(function () {
        LoadList();
    })

    function LoadList() {
        $("#tbMarks").DataTable(
       {
           destroy: true,
           // "createdRow": function (row) { RowCreated(row); },
           "lengthChange": true,
           "searching": true,
           "lengthMenu": [[3, 5, 10, -1], [3, 5, 10, "All"]],
           "pageLength": 10,
           "language": {
               "search": "filtrar resultados",
               "lengthMenu": "mostrar  _MENU_ ",
               "zeroRecords": "no hay datos disponibles",
               "info": "página _PAGE_ de _PAGES_",
               "infoEmpty": "",
               "infoFiltered": "(filtered from _MAX_ total records)",
               "paginate": {
                   "previous": "Anterior",
                   "next": "Siguiente"
               }
           }
       });

        console.log("Client List Loaded");
    }
</script>
