@model CerberusMultiBranch.Models.Entities.Config.Category

@Scripts.Render("~/bundles/jqueryval")

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-black-tie"></i>
            Edición de Categoría SAT
        </h4>
    </div>
    <div class="panel-body">
        <form id="catForm">
            @Html.HiddenFor(model => model.CategoryId)

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.SatCode, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                    @Html.EditorFor(model => model.SatCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Clave del SAT" } })
                </div>
                @Html.ValidationMessageFor(model => model.SatCode, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-comment-o"></i></span>
                    @Html.TextAreaFor(model => model.Name, new { @class = "form-control", placeholder = "Descripción del SAT", id = "CategoryName" })
                </div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" onclick="SaveCategory()" id="btnSaveCategory">
                <span class="fa fa-save"></span>
                Guardar
            </button>

            <button type="button" class="btn btn-danger" onclick="HideModal(null,true)">
                <span class="fa fa-times"></span>
                Cancelar
            </button>
        </div>
    </div>
</div>


<script>
    $(document).ready(function ()
    {
        var form = $("#catForm");
        form.validate();
    });

    function SaveCategory()
    {
        var form = $("#catForm");

        if (!form.valid()) {
            ShowNotify("Error de validación", 'warning', "Existen errores en los datos capturados, por favor verifica", 30000);
            return;
        }

        ShowModLoading();

        var cat = {
            CategoryId: $("#CategoryId").val(),
            Name: $("#CategoryName").val(),
            SatCode: $("#SatCode").val()
        }

        ExecuteAjax('@Url.Action("SaveCategory","Configuration")', { category: cat }, function (response)
        {
            HideModLoading(function ()
            {
                HideModal(function () {
                    $("#divCategories").html(response);
                }, true);
            });
          
        });
    }

</script>
