

@Html.Hidden("CategoryId")

<h4>Categorías de producto</h4>

<div class="col-md-12">
    <div class="col-md-6">
        @Html.Label("Categoría", htmlAttributes: new { @class = "control-label" })
        <div class="input-group ">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
            @Html.TextBox("CategoryName", "", htmlAttributes: new { @class = "form-control" })
        </div>
        <label id="lblCategory" class="text-danger" />
    </div>
    <div class="col-md-4">
        @Html.Label("Clave SAT", htmlAttributes: new { @class = "control-label" })
        <div class="input-group ">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
            @Html.TextBox("SatCode", "", htmlAttributes: new { @class = "form-control" })
            <span class="input-group-btn">
                <button class="btn btn-default" id="btnClearCategory">
                    <span class="fa fa-refresh" />
                </button>
                <button class="btn btn-warning" id="btnCategory">
                    <span class="glyphicon glyphicon-plus" id="spCategory" />
                </button>
            </span>
        </div>
    </div>
</div>
<br />
<div class="col-md-10">
    <div id="divCategories"></div>
</div>


<script>
    $(document).ready(function ()
    {
        $("#btnClearCategory").hide();

        $("#btnClearCategory").click(function () { ClearCategory(); });

        $("#btnCategory").click(function ()
        {
            ShowLoading();
            if ($("#CategoryName").val().length < 5)
            {
                $("#lblCategory").text("La categoría debe tener una longitud mayor a 5 caracteres");
            }
            else
            {
                $("#lblCategory").text("");

                var param = { categoryId: $("#CategoryId").val(), name: $("#CategoryName").val(), satCode: $("#SatCode").val() };

                ExecuteAjax('@Url.Action("SaveCategory", "Configuration")', param, function (view)
                {
                    $("#divCategories").html(view);
                    HideLoading();
                });
            }
        });

        ExecuteAjax('@Url.Action("GetCategories", "Configuration")', {}, function (view)
        {
            $("#divCategories").html(view);
        });
    });

    function ClearCategory()
    {
        $("#CategoryId").val("");
        $("#CategoryName").val("");
        $("#btnClearCategory").hide();

        $("#spCategory").attr("class", "glyphicon glyphicon-plus");
        $("#btnCategory").attr("class", "btn btn-warning");
    }

</script>