

@Html.Hidden("CategoryId")

<h4>Categorías de producto</h4>

<div class="col-md-12">
    <div class="col-md-5">
        @Html.Label("Categoría", htmlAttributes: new { @class = "control-label" })
        <div class="input-group ">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
            @Html.TextBox("CategoryName", "", htmlAttributes: new { @class = "form-control" })
        </div>
        <label id="lblCategory" class="text-danger" />
    </div>
    <div class="col-md-2">
        @Html.Label("Clave SAT", htmlAttributes: new { @class = "control-label" })
        <div class="input-group ">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
            @Html.TextBox("SatCode", "", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-3">
        @Html.Label("% Comision", htmlAttributes: new { @class = "control-label" })
        <div class="input-group ">
            <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
            @Html.TextBox("Commission", "", htmlAttributes: new { @class = "form-control",@type="number",min="0" })
            <span class="input-group-btn">
                <button class="btn btn-default" id="btnClearCategory">
                    <span class="fa fa-refresh" />
                </button>
                <button class="btn btn-warning" id="btnCategory">
                    <span class="glyphicon glyphicon-plus" id="spCategory" />
                </button>
            </span>
        </div>
        <label id="lblCategory" class="text-danger" />
    </div>
</div>
<br />
<div class="col-md-10">
    <div id="divCategories"></div>
</div>


<script>
    $(document).ready(function () {
        $("#btnClearCategory").hide();

        $("#btnClearCategory").click(function () { ClearCategory(); });

        $("#btnCategory").click(function () {
            ShowLoading();
            if ($("#CategoryName").val().length < 5)
            {
                ShowMessage("Error en el nombre",
                    "La categoría debe tener una longitud mayor a 5 caracteres", "warning");
            }
            else if (parseInt($("#Commission").val()) < 0 || parseInt($("#Commission").val()) > 100)
            {
                ShowMessage("Error en la comisión",
                    "El porcentade de comisión debe ser un valor entre 0 y 100%", "warning");
            }
            else
            {
                var param = {
                    categoryId: $("#CategoryId").val(),
                    name: $("#CategoryName").val(),
                    satCode: $("#SatCode").val(),
                    commission: $("#Commission").val(),
                };

                ExecuteAjax('@Url.Action("SaveCategory", "Configuration")', param, function (view) {
                    $("#divCategories").html(view);
                    HideLoading();
                });
            }
        });

        ExecuteAjax('@Url.Action("GetCategories", "Configuration")', {}, function (view) {
            $("#divCategories").html(view);
        });
    });

    function ClearCategory()
    {
        $("#CategoryId").val("");
        $("#CategoryName").val("");
        $("#SatCode").val("");
        $("#Commission").val("0");
        $("#btnClearCategory").hide();

        $("#spCategory").attr("class", "glyphicon glyphicon-plus");
        $("#btnCategory").attr("class", "btn btn-warning");
    }

</script>