@model IEnumerable<CerberusMultiBranch.Models.Entities.Config.PartSystem>
@using CerberusMultiBranch.Support

    <table id="tbSystems" class="table dt-responsive nowrap table-bordered small hidden" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayName("Categorias")
                </th>
                <th>
                    @Html.DisplayName("Comisión")
                </th>
                <th>
                    @Html.DisplayName("Ultima Modificación")
                </th>
                <th>
                    @Html.DisplayName("Modificado por")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-capitalize">
            @foreach (var item in Model)
            {
                <tr onmouseover="$(this).css('cursor', 'pointer')">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                       @item.SystemCategories.Count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Commission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdUser)
                    </td>
                    <td>
                        <div class="pull-right">
                            <button type="button" class="btn btn-warning btn-sm" title="Editar sistema" onclick="EditSystem(@item.PartSystemId)">
                                <span class="fa fa-edit"></span>
                                Editar
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" title="Eliminar sistema" onclick="DeleteSystem(@item.PartSystemId)">
                                <span class="fa fa-times"></span>
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<script>
    $(document).ready(function () 
    {
        var printSysOp = { Title: '@Html.Raw(Extension.GetTitle("Catálogo de Sistemas"))', Columns: [0, 1, 2, 3, 4] };

        $("#tbSystems").removeClass("hidden");

        Paginate("#tbSystems", 10, false, "#FilterCategory", false, "#tbButtons", printSysOp);
    });

    function EditSystem(id) 
    {

        ShowLoading('static');

        ExecuteAjax('@Url.Action("EditSystem","Configuration")', { id: id }, function (response)
        {
            HideLoading(function ()
            {
                ShowModal(response, 'static');
            });
        });
    }

    function DeleteSystem(id)
    {
        ShowConfirm("¿Estas seguro de querer eliminar este sistema?",'@Url.Action("DeleteSystem","Configuration")', id, function () { SearchSystem(); });
    }
</script>