@model IEnumerable<CerberusMultiBranch.Models.Entities.Operative.WithdrawalCause>
@using CerberusMultiBranch.Support

<table id="tbCauses" class="table dt-responsive nowrap table-bordered small hidden" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Causa de retiro")
            </th>
            <th>
                @Html.DisplayNameFor(m => m.UpdDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.UpdUser)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <div class="pull-right">
                        <button type="button" class="btn btn-warning btn-sm" title="Editar Causa" onclick="EditCause(@item.WithdrawalCauseId)">
                            <span class="fa fa-edit"></span>
                            Editar
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" title="Eliminar Caus" onclick="DeleteCause(@item.WithdrawalCauseId)">
                            <span class="fa fa-times"></span>
                            Eliminar
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    $(document).ready(function ()
    {
        var printCauseOp = { Title: '@Html.Raw(Extension.GetTitle("Motivos de retiro en caja"))', Columns: [0, 1, 2, 3] };
        $("#tbCauses").removeClass("hidden");
        Paginate("#tbCauses", 10, false, "#CauseName", false, "#tbButtonsWithDrawal", printCauseOp);
    });

    function EditCause(id)
    {

        ShowLoading('static');

        ExecuteAjax('@Url.Action("EditCause", "Configuration")', { id: id }, function (response)
        {
            HideLoading(function () {
                ShowModal(response, 'static');
            });
        });
    }

    function DeleteCause(id)
    {
        ShowConfirm("Eliminacion de causas", "¿Estas seguro de querer eliminar esta causa de retiro?", function ()
        {
            ShowLoading("static");

            ExecuteAjax('@Url.Action("DeleteCause","Configuration")', { id: id }, function (json)
            {
                SearchCauses();
            });
        })
    }

</script>