@model IEnumerable<CerberusMultiBranch.Models.Entities.Config.CarMake>

@{
    ViewBag.Title = "Index";
}

<h3><span class="glyphicon glyphicon-registration-mark" style="float:left"></span>
    &nbsp;&nbsp;Marcas</h3>


<div class="col-md-6">
    <div class="input-group ">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        @Html.TextBox("Name", "", htmlAttributes: new { @class = "form-control" })
        <span class="input-group-btn">
            <button class="btn btn-warning" id="btnCreate">
                <span class="glyphicon glyphicon-plus" />
            </button>
        </span>
    </div>
</div>

<br/><br /><br />



<div class="col-md-8">
    <table id="tbMarks" class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td align="right">
                        <div class="btn-group">
                            @Html.ActionLink(" ", "Create", new { id = item.CarMakeId }, new { @class = "btn btn-primary glyphicon glyphicon-pencil btn-xs" })
                            @Html.ActionLink(" ", "Delete", new { id = item.CarMakeId }, new { @class = "btn btn-danger glyphicon glyphicon-trash btn-xs" })
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script>
    $(document).ready(function () {
        
        SetDataTable("#tbMarks", "Name");
        $("#btnCreate").click(function () { window.location.replace('@Url.Action("Create")') });
    })

    function LoadList()
    {
        var oTable = $("#tbMarks").DataTable(
        {
            destroy: true,
            // "createdRow": function (row) { RowCreated(row); },
            "lengthChange": true,
            "searching": true,
            "lengthMenu": [[3, 5, 10, -1], [3, 5, 10, "All"]],
            "pageLength": 10,
           
            "language": {
                "search": "filtrar resultados",
                "lengthMenu": "mostrar  _MENU_ ",
                "zeroRecords": "no hay datos disponibles",
                "info": "página _PAGE_ de _PAGES_",
                "infoEmpty": "",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }
            }
        });


        $("#Name").keyup(function ()
        {
            //oTable.data().filter(function (value, index) { console.log(value); value == $("#txtName").val() ? true : false; }).draw();
            oTable.data().search(this.value).draw();
        });

        //oTable.pager.numbers_length = 3;
        
    }
</script>
