@model Dictionary<string, IEnumerable<CerberusMultiBranch.Models.ViewModels.Catalog.ProductViewModel>>

@using CerberusMultiBranch.Support
@using CerberusMultiBranch.Models.Entities.Purchasing


@foreach (var group in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5 class="panel-title text-center">
                <strong>
                    @group.Key
                </strong>
            </h5>
        </div>
        <div class="panel-body dtContainer table-responsive">
            <table class="table table-bordered small"  style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Producto")
                        </th>
                      
                        <th>
                            @Html.DisplayName("Costo")
                        </th>
                        <th>
                            @Html.DisplayName("Descuento")
                        </th>

                        <th>
                            @Html.DisplayName("Inventario")
                        </th>

                        <th>
                            @Html.DisplayName("Máximo")
                        </th>

                        <th>
                            @Html.DisplayName("Cantidad")
                        </th>
                        <th>
                            @Html.DisplayName("Total")
                        </th>
                        <th>
                        </th>
                </thead>
                <tbody>
                    @foreach (var item in group.Value)
                    {
                        <tr>
                            <td style="max-width:380px; min-width:280px; white-space:normal" class="text-uppercase">

                                @Html.HiddenFor(modelItem => item.ProductId)
                                <h5 style="white-space:nowrap">
                                    <a data-toggle="tooltip" title="Código Interno">
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </a>
                                    | |

                                    <a data-toggle="tooltip" title="Código de proveedor">
                                        <strong> @Html.DisplayFor(modelItem => item.ProviderCode)</strong>
                                    </a>
                                </h5>
                                
                                @Html.DisplayUpperFor(modelItem => item.Name) <br />
                                <strong>Por</strong>  @Html.DisplayUpperFor(modelItem => item.TradeMark)
                            </td>

                            <td class="text-uppercase">
                                @Html.DisplayFor(modelItem => item.BuyPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discount) %
                            </td>

                            <td class="text-lowercase text-center">
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>

                            <td class="text-uppercase  text-center">
                                @Html.DisplayFor(modelItem => item.MaxQuantity)
                            </td>

                            <td class="text-uppercase  text-center">
                                @Html.DisplayFor(modelItem => item.AddQuantity)
                            </td>
                            <td class="text-uppercase  text-center">
                                @Html.DisplayFor(modelItem => item.TotalLine)
                            </td>

                            <td style="max-width:80px">
                                <button type="button" class="btn btn-warning btn-sm" onclick="EditDetail('@item.BranchId','@item.ProductId')" title="has click para editar esta partida" data-toggle="tooltip">
                                    <span class="fa fa-edit"></span>
                                </button>

                                <button type="button" class="btn btn-danger btn-sm" onclick="RemoveFromEstimation('@item.BranchId','@item.ProductId')" title="has click para remover esta partida" data-toggle="tooltip">
                                    <span class="fa fa-trash"></span>
                                </button>
                              
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}



@{ var hasItems = (Model.Count() > Cons.Zero); }

<script>
    $(document).ready(function ()
    {
        var hasItems = ('@hasItems' == 'True');

        LoadEstimationDetails(hasItems);
    });


   
</script>