@model CerberusMultiBranch.Models.ViewModels.Operative.SetProviderCodeViewModel


<div class="panel panel-primary">
    <div class="panel-heading">
        <button type="button" class="close" onclick="HideChildModal()">
            <span class="fa fa-times"></span>
        </button>
        <div class="modal-title">
            <span class="fa fa-handshake-o" style="float:left">
            </span>
            &nbsp;
            Código y precio de proveedor
        </div>
    </div>
    <div class="panel-body small">

        @Html.HiddenFor(m => Model.ProductId)
        <h4 class="text-center">
            Código:
            <label>@Model.InternalCode</label>
        </h4>

        <div class="col-md-12">
            @Html.LabelFor(model => model.ProviderCode, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                @Html.EditorFor(model => model.ProviderCode, new { htmlAttributes = new { @class = "form-control input-sm", autocompleate="off" } })
            </div>
        </div>

        <div class="col-md-12">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control input-sm", type = "number", autocompleate = "off" } })
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button id="btnApplyProviderCode" class="btn btn-primary btn-sm" type="button">
                <span class="glyphicon glyphicon-ok"></span>
                Aplicar
            </button>
            <button class="btn btn-danger btn-sm" type="button" onclick="HideChildModal()">
                <span class="fa fa-times"></span>
                Cancelar
            </button>
        </div>
    </div>
</div>

