@model PurchaseCartViewModel
@using CerberusMultiBranch.Models.Entities.Operative
@using CerberusMultiBranch.Models.ViewModels.Operative
@using CerberusMultiBranch.Support
@using CerberusMultiBranch.Models.Entities.Purchasing
@{
    ViewBag.Title = "Elaboración de Pedido";
    ViewBag.SubTitle = "Captura de ordenes";
    ViewBag.Class = "fa fa-clipboard";
}


@Scripts.Render("~/bundles/PurchaseEstimation")
@Scripts.Render("~/bundles/jqueryval")


@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@Html.HiddenFor(model => model.ProviderId)


<br />
<div class="panel panel-default">
    <div class="panel-body small">

        @Html.HiddenFor(m => m.ProviderId)

        <div class="form-group col-md-7">
            @Html.LabelFor(m => m.ProviderName, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-handshake-o"></i></span>
                @Html.EditorFor(model => model.ProviderName, new { htmlAttributes = new { @class = "form-control text-uppercase input-sm", autocomplete = "off", @readonly = true } })
                @Html.ValidationMessageFor(model => model.ProviderId, "", new { @class = "text-danger" })
                <div class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button" title="Buscar proveedores" onclick="ShowProviderQuickSearch()" id="btnQuickSearchProvider" data-toggle="tooltip" data-placement="right">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group col-md-4 col-md-offset-1">
            @Html.LabelFor(m => m.PurchaseType, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map"></i></span>
                @Html.DropDownListFor(model => model.PurchaseType, Model.PurchaseTypes, htmlAttributes:
               new { @class = "form-control text-uppercase input-sm" })
            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.ShipmentMethodId, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-ship"></i></span>
                @Html.DropDownListFor(model => model.ShipmentMethodId, Model.ShipmentMethodes, htmlAttributes:
               new { @class = "form-control text-uppercase input-sm" })
            </div>
        </div>


        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.Freight, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                @Html.EditorFor(model => model.Freight, new { htmlAttributes = new { @class = "form-control text-uppercase input-sm", autocomplete = "off", type = "number" } })
            </div>
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.Insurance, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                @Html.EditorFor(model => model.Insurance, new { htmlAttributes = new { @class = "form-control text-uppercase input-sm", autocomplete = "off", type = "number" } })
            </div>
        </div>

        <div class="form-group col-md-2 col-md-offset-1">
            @Html.LabelFor(m => m.DaysToPay, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar-check-o"></i></span>
                @Html.EditorFor(model => model.DaysToPay, new { htmlAttributes = new { @class = "form-control text-uppercase input-sm", autocomplete = "off", type = "number" } })
            </div>
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.Discount, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control text-uppercase input-sm", autocomplete = "off", type = "number", id = "GlobalDiscount" } })
            </div>
        </div>

        <div class="form-group col-md-7">
            @Html.LabelFor(m => m.Comment, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-comment"></i></span>
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control text-uppercase input-sm", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4 col-md-offset-1">
            @Html.LabelFor(m => m.BranchId, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map"></i></span>
                @Html.DropDownListFor(model => model.BranchId, Model.Branches, htmlAttributes:
               new { @class = "form-control text-uppercase input-sm" })
               
            </div>
        </div>

    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button class="btn btn-primary btn-sm" type="button" title="Buscar productos para la sucursal" id="btnBeginAddProduct" onclick="ShowProductQuickSearch()" data-toggle="tooltip" data-placement="left">
                <span class="fa fa-search"></span>
                Buscar Productos
            </button> 
            <button class="btn btn-success btn-sm" type="button" title="Generar las ordenes de compra" id="btnGenerate" onclick="GenerateOrders()" data-toggle="tooltip" data-placement="left">
                <span class="fa fa-check"></span>
                Generar pedido(s)
            </button>

            <button class="btn btn-danger btn-sm" type="button" title="Remueve todas las partidas agregadas" id="btnCancelAll" onclick="RemoveAll()" data-toggle="tooltip" data-placement="left">
                <span class="fa fa-trash"></span>
                Eliminar todo
            </button>

        </div>
    </div>
</div>


<div id="divPurchaseDetails" class="panel-group">
    @Html.Partial("_PurchaseEstimationDetails", Model.PurchaseItems)
</div>


<script>
    $(document).ready(function ()
    {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>