@model IEnumerable<CerberusMultiBranch.Models.Entities.Operative.CashRegister>


<table id="tbCashRegister" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalAmount)
            </th>
            <th>
                @Html.DisplayName("Retiros")
            </th>     
            <th>
                @Html.DisplayNameFor(model => model.CloseComment)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserOpen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserClose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalAmount)
                </td>
                <td>
                   @item.Withdrawals.Count()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseComment)
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-xs" onclick="window.location ='@Url.Action("Detail",new {id=item.CashRegisterId })'" >
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function ()
    {
        Paginate("#tbCashRegister", 10)

        CompleateProgress();
    });

   

</script>