@model IEnumerable<CerberusMultiBranch.Models.Entities.Operative.CashRegister>
@using CerberusMultiBranch.Support


<table id="tbCashRegister" class="table dt-responsive nowrap table-bordered small hidden" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Sucursal")
            </th>
            <th>
                @Html.DisplayName("Cajero")
            </th>
            <th>
                @Html.DisplayName("Fecha")
            </th>
            <th>
                @Html.DisplayName("Inicio")
            </th>
            <th>
                @Html.DisplayName("Cierre")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialAmount)
            </th>
            <th>
                @Html.DisplayName("Monto Final")
            </th>
            <th>
                @Html.DisplayName("Retiros")
            </th>     
       
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserOpen)
                </td>
                <td>
                   @item.OpeningDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.OpeningDate.ToString("hh:mm tt")
                </td>
                <td>
                    @if (item.ClosingDate != null)
                    {
                        @item.ClosingDate.Value.ToString("hh:mm tt")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalAmount)
                </td>
                <td>
                   @item.Withdrawals.Count()
                </td>

                <td>
                    <button type="button" class="btn btn-primary btn-sm" title="Ver detalle de caja"
                            onclick="window.location ='@Url.Action("Detail",new {id=item.CashRegisterId })'" >
                        <span class="fa fa-eye"></span>
                        Detalle
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function ()
    {
        $("#tbCashRegister").removeClass("hidden");

        var printOp = { Title: '@Html.Raw(Extension.GetTitle("Historial de Caja"))', Columns: [0, 1, 2, 3, 4,5,6] };
        Paginate("#tbCashRegister", 10, true, "#txtFilter", false, "#divCashButtons", printOp);
    });



</script>