@model IEnumerable<CerberusMultiBranch.Models.Entities.Operative.CashRegister>


<table id="tbCashRegister" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OpeningDate)
            </th>
            <th>
                @Html.DisplayName("Hora Inicio")
            </th>
            <th>
                @Html.DisplayName("Hora Cierre")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialAmount)
            </th>
            <th>
                @Html.DisplayName("Monto Final")
            </th>
            <th>
                @Html.DisplayName("Retiros")
            </th>     
       
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   @item.OpeningDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.OpeningDate.ToString("hh:mm tt")
                </td>
                <td>
                    @if (item.ClosingDate != null)
                    {
                        @item.ClosingDate.Value.ToString("hh:mm tt")
                    }
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalAmount)
                </td>
                <td>
                   @item.Withdrawals.Count()
                </td>

                <td>
                    <button type="button" class="btn btn-primary btn-xs" title="Ver detalle de caja"
                            onclick="window.location ='@Url.Action("MyDetail",new {id=item.CashRegisterId })'" >
                        <span class="glyphicon glyphicon-expand"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function ()
    {
        SetDataTable("#tbCashRegister", "#txtFilter")
    });

   

</script>