@model ICollection<CerberusMultiBranch.Models.Entities.Operative.Sale>
@using CerberusMultiBranch.Support


<table id="tbPendingPayment" class="table dt-responsive  table-bordered small" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Folio")</th>
            <th class="text-center">@Html.DisplayName("Cliente")</th>

            <th class="text-center">@Html.DisplayName("Agente")</th>
            <th class="text-center">@Html.DisplayName("Entrega")</th>
            <th class="text-center">@Html.DisplayNameFor(m => m.First().TotalAmount)</th>

            <th class="text-center">@Html.DisplayName("Tipo")</th>
            <th class="text-center" />
            <th class="text-center" />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-uppercase" >@Html.DisplayFor(m => item.Folio)</td>
                <td style="min-width:120px">
                    @Html.DisplayUpperFor(m => item.Client.Name)
                </td>

                <td align="center" style="min-width:100px">
                    @Html.DisplayUpperFor(m => item.User.UserName)
                </td>
                <td align="center">
                   @item.SendingType.GetName()
                </td>
                <td align="center">@Html.DisplayFor(m => item.TotalTaxedAmount)</td>

                <td align="center">
                    @item.TransactionType.GetName()
                </td>
            
                <td align="center">
                    <button class="btn btn-primary btn-sm" title="Recibir pago" onclick="ShowPaymentModal('@item.SaleId')">
                        <span class="fa fa-dollar" />
                        Cobrar
                    </button>
                </td>
                <td>
                    <button class="btn btn-warning btn-sm" type="button" onclick="BeginCancel('@item.SaleId',false)">
                        <span class="fa fa-refresh"></span>
                        Modificar
                    </button>
                    <button class="btn btn-danger btn-sm" type="button" onclick="BeginCancel('@item.SaleId',true)">
                        <span class="fa fa-trash-o"></span>
                        Cancelar
                    </button>
                </td>
            </tr>
    }
    </tbody>
</table>


<script>
    $(document).ready(function ()
    {
        Paginate("#tbPendingPayment", 10, true, null, false);
    });

    //Inicia la ventana de cobro
    function ShowPaymentModal(id)
    {
        ShowLoading('static');

        GetAjax('@Url.Action("BeginRegistPayment")', { id: id }, function (response)
        {
            HideLoading(function ()
            {
                ShowModal(response, 'static', 'lg');
            });
        });
    }

    function BeginCancel(id, isCancelation)
    {
        ShowLoading('static');

        param = { saleId: id, isCancelation: isCancelation };
        
        GetAjax('/Selling/BeginRequestChange', param, function (response)
        {
            HideLoading(function ()
            {
                ShowModal(response, 'static');

                OnChangeCompleate = function ()
                {
                    CheckPendingPayments();

                    CheckRefunding();
                };
            });

        });
    }

</script>