@model CerberusMultiBranch.Models.Entities.Operative.Sale
@using CerberusMultiBranch.Support
@using CerberusMultiBranch.Models.Entities.Operative


<script src="~/Scripts/printThis.js"></script>

<div class="hidden">
    <div id="divNote" style="width:816px;">
        <table class="Note">
            <tr>
                <td width="300px">
                    <table style="width:100%">
                        @if (User.Identity.GetBranchId() != 2)
                        {
                            <tr>
                                <td>
                                    <img src="~/Content/Images/logo2.png" style="width:150px">
                                </td>
                            </tr>
                            <tr><td colspan="2" style="height:10px"></td></tr>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        Autopartes Bicentenario S.A. de C.V.
                                    </label><br />
                                    APB 1000811 4Q4 <br />AV DE LA MANCHA 568 INT. 11-B<br />
                                    LOMAS DE ZAPOPAN 45130 <br />ZAPOPAN JAL MX
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <img src="~/Content/Images/rebilogo2.png" style="width:180px; height:90px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label">
                                        AUTOPARTES BICENTENARIO
                                    </label><br />
                                    HEME950906491 <br />AV MANUEL CARPIO ESQ. AQUILES SERDAN<br />
                                    COLONIA CENTRO C.P. 95499 <br />COSAMALOAPAN, VER.
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td width="292px" align="center">
                    @if (User.Identity.GetBranchId() != 2)
                    {
                        <div style="width:250px">
                            <label>Expedida en sucursal</label><br />
                            @Model.Branch.Address
                        </div>
                    }
                </td>
                <td width="244px">
                    <table style="width:100%" class="table-bordered">
                        <tr>
                            <td colspan="2" class="text-center">
                                <label>Datos de venta</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <label>Folio</label>
                            </td>
                            <td class="text-center">
                                <label>Fecha</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                @Model.Folio
                            </td>
                            <td class="text-center">
                                @Model.TransactionDate.ToString("dd/MM/yyyy HH:mm")
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <label>Agente</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                @Model.User.UserName
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                @if (Model.Status == TranStatus.Revision)
                                {
                                    var debt = (Model.TotalTaxedAmount - Model.SalePayments.Sum(s => s.Amount));

                                    <label>Monto pagado </label>   <a>@Model.SalePayments.Sum(s => s.Amount).ToString("c")</a><br />
                                    
                                    <label>Monto restante </label> <a>@debt.ToString("c")</a>
                                }

                                else if (Model.SalePayments.Count > Cons.One)
                                {
                                    <label>Tipo de pago:</label>
                                    <a>@PaymentMethod.Mixto.ToString()</a>
                                }
                                else
                                {
                                    <label>Tipo de pago:</label>
                                    <a>@Model.SalePayments.First().PaymentMethod.ToString()</a>
                                }
                            </td>
                        </tr>
                        @if (Model.Status == TranStatus.Revision)
                        {
                            <tr>
                                <td colspan="2" class="text-center"> 
                                    <label>Expira </label> @Model.Expiration.ToString("dd/MM/yyyy")
                                </td>
                            </tr>
                        }
                    </table>

                </td>
            </tr>
            <tr>
                <td colspan="3" style="height:20px"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <table style="width:816px;border:1px solid gray;" class="table-bordered">
                        <tr>
                            <td colspan="3" class="text-center">
                                <label>Datos del cliente</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%" class="text-center">
                                <label>Nombre del cliente</label>
                            </td>
                            <td style="width:50%" class="text-center">
                                <label>Dirección del cliente</label>
                            </td>
                            <td style="width:20%" class="text-center">
                                <label>R.F.C.</label>
                            </td>
                        </tr>
                        <tr style="height:60px">
                            <td valign="top" class="text-uppercase">
                                @Model.Client.Name
                            </td>
                            <td valign="top" class="text-uppercase">
                                @Model.Client.ToString()<br />
                            </td>
                            <td valign="top" class="text-center text-uppercase">
                                @Model.Client.FTR
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="height:20px"></td>
            </tr>
            <tr>
                <td class="text-center" style="border:1px solid gray;" colspan="3">
                    <label>Detalle de compra</label>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table style="width:100%; height:600px; border:1px solid gray;">
                        <tr style="border-bottom:1px solid gray; height:15px">
                            <td style="border-right:1px solid gray; width:10%" align="center">
                                <label>Codigo</label>
                            </td>
                            <td style="border-right:1px solid gray; width:10%" align="center">
                                <label>Cve. Sat</label>
                            </td>
                            <td style="border-right:1px solid gray; width:40%" align="center">
                                <label>Descripción</label>
                            </td>
                            <td style="border-right:1px solid gray; width:10%" align="center">
                                <label>Precio</label>
                            </td>
                            <td style="border-right:1px solid gray; width:10%" align="center">
                                <label>Cantidad</label>
                            </td>
                            <td style="width:10%">
                                <label>Total</label>
                            </td>
                        </tr>
                        @foreach (var item in Model.SaleDetails)
                        {
                            string st = "height:20px";
                            if (item.ParentId == null)
                            {
                                st = "height:20px;";
                            }

                            <tr style="@st">
                                <td class="text-center" style="border-right:1px solid gray; width:10%" valign="top">
                                    @Html.DisplayFor(mItem => item.Product.Code)
                                </td>
                                <td class="text-center" style="border-right:1px solid gray; width:10%" valign="top">
                                    @Html.DisplayFor(mItem => item.Product.Category.SatCode)
                                </td>
                                <td style="border-right:1px solid gray; width:40%" valign="top">
                                    @item.Product.Name.Substring(0, item.Product.Name.Length <= 30 ? item.Product.Name.Length : 30)
                                </td>
                                <td class="text-right" style="border-right:1px solid gray; width:10%" valign="top">
                                    @Html.DisplayFor(mItem => item.Price)
                                </td>
                                <td class="text-center" style="border-right:1px solid gray; width:10%" valign="top">
                                    @Html.DisplayFor(mItem => item.Quantity)
                                </td>
                                <td class="text-right" style="width:10%" valign="top">
                                    @Html.DisplayFor(mItem => item.Amount)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td style="border-right:1px solid gray;" />
                            <td style="border-right:1px solid gray;" />
                            <td style="border-right:1px solid gray;" />
                            <td style="border-right:1px solid gray;" />
                            <td style="border-right:1px solid gray;" />
                            <td />
                        </tr>

                        <tr style="height:23px; border-top:1px solid gray;">
                            <td colspan="4" rowspan="3">
                                IMPORTE CON LETRA <br />
                                @Model.TotalAmount.toText()
                                PESOS MEXICANOS
                            </td>

                            <td class="text-right" style="border:1px solid gray; width:10%">
                                <label class="control-label">
                                    @Html.DisplayName("Sub-Total")
                                </label>
                            </td>
                            <td class="text-right" style="border:1px solid gray; width:10%">
                                @Model.TotalAmount.ToString("c")
                            </td>
                        </tr>
                        <tr style="height:23px">
                            <td class="text-right" style="border:1px solid gray; width:10%">
                                <label>
                                    @Html.DisplayName("IVA")
                                </label>
                            </td>
                            <td class="text-right" style="border:1px solid gray; width:10%">
                                @Model.TotalTaxAmount.ToString("c")
                            </td>
                        </tr>
                        <tr style="height:23px">

                            <td class="text-right" style="border:1px solid gray; width:10%">
                                <label>
                                    @Html.DisplayName("Total")
                                </label>
                            </td>
                            <td class="text-right" style="border:1px solid gray; width:10%">
                                <label class="control-label text-danger">
                                    @Model.TotalTaxedAmount.ToString("c")
                                </label>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <label>
                        Solo se acepta mercancía en devolución si cumple con las siguientes políticas:
                    </label>
                    <br />
                    1. Mercancía sin daño o retrabajo<br />
                    2. Mercancía con empaque original<br />
                    3. Cuenta con un máximo de 30 días fecha factura<br />
                    4. Contar con la autorización de su ejecutivo de venta
                </td>
            </tr>
        </table>
    </div>
</div>



<script>
    function PrintNote() {
        $("#divNote").printThis();
    }
</script>