@model ICollection<CerberusMultiBranch.Models.Entities.Operative.Sale>

<table id="tbSales" class="table table-striped small">
    <thead>
        <tr>
            <th class="col-md-1 text-center">@Html.DisplayName("Folio")</th>
            <th class="col-md-4 text-center">@Html.DisplayName("Cliente")</th>
            
            <th class="col-md-3 text-center">@Html.DisplayName("Fecha venta")</th>
            <th class="col-md-2 text-center">@Html.DisplayName("Tipo pago")</th>
  
            <th class="col-md-1 text-center">@Html.DisplayNameFor(m => m.First().TotalAmount)</th>
            <th class="col-md-1 text-center" />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Folio)</td>
                <td>@Html.DisplayFor(m => item.Client.Name)</td>
                
                <td align="center">@item.TransactionDate.ToString("dd/MM/yyyy HH:mm")</td>
                <td align="center">@item.PaymentType.ToString()</td>
               
                <td align="center">@Html.DisplayFor(m => item.TotalAmount)</td>

                <td align="center">
                    <button class="btn btn-primary  btn-xs" title="Ver factura" onclick="window.location = '@Url.Action("PrintNote", new { id = item.TransactionId })'">
                        <span class="fa fa-file-text-o" />
                    </button>
                </td>
            </tr>
          }
    </tbody>
    @{
        var totalQuantity = Model.Sum(sale => sale.TransactionDetails.Sum(s => s.Quantity));
        var totalAmount = Model.Sum(sale => sale.TotalAmount);
    }
</table>


<script>
    $(document).ready(function () 
    {
        SetDataTable("#tbSales", "#txtFilter");

        var tAmount = "Monto Total: " + GetCurrency(parseFloat('@totalAmount'));

        var tQuantity = "Articulos: " + '@totalQuantity';

        $("#lblTotalAmount").text(tAmount);
        $("#lblTotalQuantity").text(tQuantity);
    });
</script> 