@model IEnumerable<CerberusMultiBranch.Models.Entities.Operative.CashDetail>
@using CerberusMultiBranch.Support


<div class="panel panel-danger">
    <div class="modal-header panel-heading">
        <h4 class="modal-title">
            <button type="button" class="close" onclick="HideModal(null,true)">
                <span class="fa fa-times"></span>
            </button>
            <span class="fa fa-dollar"></span>
            Retiros de caja
        </h4>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row small">

                    <div class="form-group col-md-2">
                        <label class="control-label">
                            Cantidad
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><a class="fa fa-dollar"></a></span>
                            <input class="form-control  input-sm" type="number" id="txtAmount" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">
                            Causa de retiro
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><a class="fa fa-list-alt"></a></span>
                            @Html.DropDownList("WCauseId", (SelectList)ViewBag.Causes, "", new { @class = "form-control input-sm" })
                        </div>
                    </div>



                    <div class="form-group col-md-6">
                        <label class="control-label">
                            Comentario
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-comment-o"></i></span>
                            <input class="form-control  input-sm"  id="txtCommentW" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-footer clearfix">
                <button class="btn btn-primary pull-right btn-sm" id="btnAdd" title="Agregar retiro">
                    <span class="glyphicon glyphicon-plus"></span>
                    Agregar retiro
                </button>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <table id="tbWithdrawals" class="table dt-responsive nowrap table-bordered small" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Causa de retiro")</th>
                            <th>@Html.DisplayNameFor(m => m.InsDate)</th>
                            <th>@Html.DisplayNameFor(m => m.Amount)</th>
                            <th>@Html.DisplayNameFor(m => m.Comment)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Cause.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.InsDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Comment)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        Paginate("#tbWithdrawals", 8, true, null, false);

        $("#btnAdd").off('click').click(function () {
            var data = { amount: $("#txtAmount").val(), comment: $("#txtCommentW").val(), causeId: $("#WCauseId").val() };

            if (isNaN(data.amount) || data.amount <= 0) {
                ShowNotify("Erro de captura", "danger", "El monto de retiro debe ser mayor a cero", 3000);
                return;
            }

            if (isNaN(data.causeId) || data.causeId <= 0) {
                ShowNotify("Erro de captura", "danger", "Debe seleccionar una causa de retiro", 3000);
                return;
            }

            if (data.comment.length <= 20) {
                ShowNotify("Erro de captura", "danger", "Debe agregar un comentario de mas de 20 caracteres", 3000);
                return;
            }


            ShowModLoading();

            ExecuteAjax('@Url.Action("AddWithdrawal","CashRegister")', data, function (response)
            {
                window.location = '@Url.Action("Index")';
            });
        });
    });
</script>