@model CerberusMultiBranch.Models.Entities.Operative.CashRegister
@using CerberusMultiBranch.Models.Entities.Operative
@using CerberusMultiBranch.Support

@{
    ViewBag.Title = "Detalle de caja";
    ViewBag.Class = "fa fa-calculator";
}


<script src="~/Scripts/printThis.js"></script>


<h4 class="alert alert-info col-md-4">
    <span class="fa fa-building"></span> @Model.Branch.Name
</h4>

<hr />

<div class="panel panel-danger">
    <div class="panel-body dtContainer">
        <div class="col-md-12 row ">
            <div class="col-md-5 alert alert-dark">
                <h4 class="control-label"><span class="fa fa-flag"></span> Apertura de caja  @Model.InitialAmount.ToMoney()</h4> <hr />
                <h5 class="col-md-4">
                    <strong class="control-label">
                        <i class="fa fa-clock-o"></i>
                        Hora
                    </strong><br />@Model.OpeningDate.ToString("HH:mm:ss")
                </h5>
                <h5 class="col-md-8">
                    <strong class="control-label">
                        <i class="fa fa-user"></i>
                        Cajero
                    </strong><br /> @Model.UserOpen.ToUpper()
                </h5> <hr />

            </div>

            <div class="col-md-6 col-md-offset-1 alert alert-info">
                <h4 class="control-label">
                    <span class="fa fa-flag-checkered"></span> Cierre de caja  @Model.FinalAmount.ToMoney()
                    <a class="pull-right">
                        <i class="fa fa-clock-o"></i>
                        @if (Model.ClosingDate != null)
                        {  @Model.ClosingDate.Value.ToString("HH:mm:ss")}
                    </a>
                </h4>
                <hr />
                <h5 class="col-md-12">
                    <strong>
                        <i class="fa fa-user"></i> Cerró
                    </strong> 
                @if (Model.ClosingDate != null)
                {  @Model.UserClose.ToUpper() }
                
                </h5><br />
                <i class="fa fa-comment"></i>
                @if (Model.ClosingDate != null)
                {  @Model.CloseComment.ToUpper() }
                 
            </div>
        </div>
        <div class="col-md-12 row ">
            <div class="col-md-5 alert alert-success">
                <h4 class="control-label">
                    <span class="fa fa-download"></span> Ingresos  @Model.Incomes.Sum(i => i.Amount).ToMoney()
                </h4>
                <hr />
                <div class="col-md-4">
                    <span class="fa fa-money"></span> Efectivo<br />
                    @Model.Incomes.Where(i => i.Type == PaymentMethod.Efectivo).Sum(i => i.Amount).ToMoney()
                </div>
                <div class="col-md-4">
                    <span class="fa fa-credit-card"></span> Tarjeta<br />
                    @Model.Incomes.Where(i => i.Type == PaymentMethod.Tarjeta).Sum(i => i.Amount).ToMoney()
                </div>
                <div class="col-md-4">
                    <span class="fa fa-file-o"></span> Vale<br />
                    @Model.Incomes.Where(i => i.Type == PaymentMethod.Vale).Sum(i => i.Amount).ToMoney()
                </div>
    
            </div>

            <div class="col-md-6 col-md-offset-1 alert alert-danger">
                <h4 class="control-label">
                    <span class="fa fa-upload"></span> Retiros  @Model.Withdrawals.Sum(i => i.Amount).ToMoney()
                </h4>
                <hr />
                <div class="col-md-4">
                    <span class="fa fa-money"></span> Efectivo<br />
                    @Model.Withdrawals.Where(i => i.Type == PaymentMethod.Efectivo).Sum(i => i.Amount).ToMoney()
                </div>
                <div class="col-md-4">
                    <span class="fa fa-credit-card"></span> Tarjeta<br />
                    @Model.Withdrawals.Where(i => i.Type == PaymentMethod.Tarjeta).Sum(i => i.Amount).ToMoney()
                </div>
                <div class="col-md-4">
                    <span class="fa fa-file-o"></span> Vale<br />
                    @Model.Withdrawals.Where(i => i.Type == PaymentMethod.Vale).Sum(i => i.Amount).ToMoney()
                </div>

            </div>
        </div>
      
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5 class="panel-title"> <i class="fa fa-exchange"></i> Movimientos de caja</h5>
    </div>
    <div class="panel-body">
        <table id="tdDetails" class="table table-bordered small">
                <thead>
                    <tr>
                        <th align="center">@Html.DisplayNameFor(m => m.Incomes.First().InsDate)</th>
                        <th align="center">@Html.DisplayName("Movimiento")</th>

                        <th align="center">@Html.DisplayName("Tipo")</th>


                        <th align="center">@Html.DisplayName("Comentario")</th>
                        <th align="center">@Html.DisplayNameFor(m => m.Incomes.First().Amount)</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CashDetails)
                    {
                        var cls = item.DetailType == 0 ? "alert alert-danger" : "alert alert-success";
                        <tr>
                            <td align="center">@item.InsDate.ToString("HH:mm:ss")</td>

                            <td align="center">
                                @if (item.DetailType == 0)
                                {
                                    <a>Retiro</a>
                                }
                                else
                                {
                                    <a>Ingreso</a>
                                }
                            </td>
                            <td align="center">
                                <strong>
                                    @item.Type.ToString()
                                </strong>
                            </td>


                            <td align="center">@Html.DisplayFor(m => item.Comment)</td>
                            <td align="right" class="@cls">
                                <strong>
                                    @Html.DisplayFor(m => item.Amount)
                                </strong>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>

    <div class="panel-footer clearfix">
        <button type="button" class="btn btn-default btn-sm" onclick="GoBack()">
            <span class="fa fa-search"></span>Ir a Búsqueda
        </button>
        <button type="button" class="btn btn-primary btn-sm" onclick="Print()">
            <span class="fa fa-print"></span>Imprimir
        </button>
    </div>
</div>




<div style="display:none">
    <div id="divPrint">
        <div class="row">
            <div class="col-xs-3">
                <img src="~/Content/Images/logo2.png" class="img-responsive" /><br />
                <span class="fa fa-building"></span> Sucursal @Model.Branch.Name.ToUpper()
            </div>
            <div class="col-xs-8">
                <h3>
                    Detalle de caja @Model.OpeningDate.ToString("dddd dd MMMM yyyy")
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" style="border:solid 1px">
                <h4 class="control-label"><span class="fa fa-hourglass-start"></span> Apertura de caja  @Model.InitialAmount.ToMoney()</h4> <hr />
                <h5 class="col-xs-4">
                    <label class="control-label"> Hora</label><br />@Model.OpeningDate.ToString("HH:mm:ss")
                </h5>
                <h5 class="col-xs-8">
                    <label class="control-label"> Cajero</label><br /> @Model.UserOpen.ToUpper()
                </h5>
            </div>
            <div class="col-xs-6" style="border:solid 1px">
                <h4 class="control-label"> <span class="fa fa-hourglass-end"></span>Cierre de caja  @Model.FinalAmount.ToMoney()</h4> <hr />
                <h5 class="col-xs-4">
                    <label class="control-label"> Hora</label><br />@if (Model.ClosingDate != null)
            { <a>@Model.ClosingDate.Value.ToString("HH:mm:ss")</a>}
                </h5>
                <h5 class="col-xs-8">
                    <label class="control-label"> Cerro</label><br /> @Model.UserClose.ToUpper()
                </h5>
            </div>
        </div>
        <div class="col-xs-12" style="border-bottom:solid 1px">
            <h5>
                <i class="fa fa-download"></i> Ingresos
            </h5>
            <div class="col-xs-4">
                <span class="fa fa-money"></span> Efectivo<br />
                @Model.Incomes.Where(i => i.Type == PaymentMethod.Efectivo).Sum(i => i.Amount).ToMoney()
            </div>
            <div class="col-xs-4">
                <span class="fa fa-credit-card"></span> Tarjeta<br />
                @Model.Incomes.Where(i => i.Type == PaymentMethod.Tarjeta).Sum(i => i.Amount).ToMoney()
            </div>
            <div class="col-xs-4">
                <span class="fa fa-file-o"></span> Tarjeta<br />
                @Model.Incomes.Where(i => i.Type == PaymentMethod.Vale).Sum(i => i.Amount).ToMoney()
            </div>
        </div>

        <div class="col-xs-12" style="border-bottom:solid 1px">
            <h5>
                <i class="fa fa-upload"></i> Retiros
            </h5>
            <div class="col-xs-4">
                <span class="fa fa-money"></span> Efectivo<br />
                @Model.Withdrawals.Where(i => i.Type == PaymentMethod.Efectivo).Sum(i => i.Amount).ToMoney()
            </div>
            <div class="col-xs-4">
                <span class="fa fa-credit-card"></span> Tarjeta<br />
                @Model.Withdrawals.Where(i => i.Type == PaymentMethod.Tarjeta).Sum(i => i.Amount).ToMoney()
            </div>
            <div class="col-xs-4">
                <span class="fa fa-file-o"></span> Tarjeta<br />
                @Model.Withdrawals.Where(i => i.Type == PaymentMethod.Vale).Sum(i => i.Amount).ToMoney()
            </div>
        </div>
        <div class="col-xs-12">
            <h4>
                <span class="fa fa-comments"></span>
                Comentarios: @Model.CloseComment
            </h4>
        </div>
        <table class="table table-bordered col-xs-12">
            <thead>
                <tr>
                    <th align="center">@Html.DisplayNameFor(m => m.CashDetails.First().InsDate)</th>
                    <th align="center">@Html.DisplayName("Movimiento")</th>
                    <th align="center">@Html.DisplayName("Tipo")</th>
                    <th align="center">@Html.DisplayName("Comentario")</th>
                    <th align="center">@Html.DisplayNameFor(m => m.CashDetails.First().Amount)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CashDetails)
                {
                    <tr>
                        <td align="center">@item.InsDate.ToString("HH:mm:ss")</td>

                        <td align="center">
                            @if (item.DetailType == 0)
                            {
                                <strong>Retiro</strong>
                            }
                            else
                            {
                                <strong>Ingreso</strong>
                            }
                        </td>
                        <td align="center">
                           @item.Type.ToString()
                        </td>
                       
                        <td align="center">@Html.DisplayFor(m => item.Comment)</td>
                        <td align="right">
                            @Html.DisplayFor(m => item.Amount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        Paginate("#tdDetails", 10)
    });

    function GoBack() {
        window.location = '@Url.Action("History")'
    }

    function Print() {
        $("#divPrint").printThis();
    }
</script>