@model CerberusMultiBranch.Models.Entities.Operative.CashRegister
@using CerberusMultiBranch.Models.Entities.Operative
@using CerberusMultiBranch.Support

@{
    ViewBag.Title = "Detalle de caja";
    ViewBag.Class = "fa fa-calculator";
}


<script src="~/Scripts/printThis.js"></script>


<h4 class="alert alert-info col-md-4">
    <span class="fa fa-industry"></span>@Model.Branch.Name
</h4>

<hr />

<div class="panel panel-danger">
    <div class="panel-body">
        <div class="col-md-9">
            <div class="panel panel-default col-md-5 alert alert-success">
                <div class="panel-body">
                    <h4 class="control-label"><span class="fa fa-hourglass-start"></span> Apertura de caja  @Model.InitialAmount.ToMoney()</h4> <hr />
                    <h5 class="col-md-6">
                        <label class="control-label"> Hora</label><br />@Model.OpeningDate.ToString("HH:mm:ss")
                    </h5>
                    <h5 class="col-md-6">
                        <label class="control-label"> Cajero</label><br /> @Model.UserOpen
                    </h5>
                </div>
            </div>

            <div class="panel panel-default col-md-5 col-md-offset-2 alert alert-danger">
                <div class="panel-body">
                    <h4 class="control-label"> <span class="fa fa-hourglass-end"></span>Cierre de caja  @Model.FinalAmount.ToMoney()</h4> <hr />
                    <h5 class="col-md-6">
                        <label class="control-label"> Hora</label><br />@if (Model.ClosingDate != null)
                        { <a>@Model.ClosingDate.Value.ToString("HH:mm:ss")</a>}
                    </h5>
                    <h5 class="col-md-6">
                        <label class="control-label"> Cerrado por</label><br /> @Model.UserClose
                    </h5>
                </div>
            </div>
            <div class="panel panel-default col-md-12 ">
                <div class="panel-body">
                    <h4>
                        <span class="fa fa-comments"></span>
                        Comentarios: @Model.CloseComment
                    </h4>
                </div>
            </div>

        </div>
        <div class="panel panel-default col-md-3 alert alert-info">
            <div class="panel-body ">

                <span class="fa fa-money"></span> Efectivo<br />
                @Model.Incomes.Where(i => i.Type == PaymentMethod.Efectivo).Sum(i => i.Amount).ToMoney()<hr />


                <span class="fa fa-credit-card"></span> Tarjeta<br />
                @Model.Incomes.Where(i => i.Type == PaymentMethod.Tarjeta).Sum(i => i.Amount).ToMoney()<hr />

                <span class="fa fa-external-link"></span>Retiros <br /> @Model.Withdrawals.Sum(i => i.Amount).ToMoney()

            </div>
        </div>

        <div class="col-md-12">
            <table id="tdDetails" class="table table-condensed">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Incomes.First().InsDate)</th>
                        <th>@Html.DisplayName("Movimiento")</th>
                        <td></td>
                        <th>@Html.DisplayNameFor(m => m.Incomes.First().Amount)</th>
                        <th>@Html.DisplayName("Comentario")</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CashDetails)
            {
                        <tr>
                            <td>@item.InsDate.ToString("HH:mm:ss")</td>

                            <td>
                                @switch (item.DetailType == 0)
                                {
                                    <a>Retiro</a>
                                }
                                else
                                {
                                    <a>Ingreso</a>
                                }
                            </td>
                            <td>
                                @switch (item.Type)
                                {
                                    case PaymentMethod.Efectivo:
                                        <span class="fa fa-money"></span>
                                        break;
                                    case PaymentMethod.Tarjeta:
                                        <span class="fa fa-credit-card"></span>
                                        break;
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Amount)
                            </td>

                            <td>@Html.DisplayFor(m => item.Comment)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="btn-group">
    <button type="button" class="btn btn-primary" onclick="GoBack()">
        <span class="fa fa-backward"></span>Ir a Historial
    </button>
    <button type="button" class="btn btn-success" onclick="Print()">
        <span class="fa fa-print"></span>Imprimir detalle
    </button>
</div>

<div style="display:none">
    <div id="divPrint">
        <div class="row">
            <div class="col-xs-3">
                <img src="~/Content/Images/logo2.png" class="img-responsive" /><br />
                <span class="fa fa-industry"></span> Sucursal @Model.Branch.Name
            </div>
            <div class="col-xs-8">
                <h3>
                    Detalle de caja @Model.OpeningDate.ToString("dddd dd MMMM yyyy")
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" style="border:solid 1px">
                <h4 class="control-label"><span class="fa fa-hourglass-start"></span> Apertura de caja  @Model.InitialAmount.ToMoney()</h4> <hr />
                <h5 class="col-xs-4">
                    <label class="control-label"> Hora</label><br />@Model.OpeningDate.ToString("HH:mm:ss")
                </h5>
                <h5 class="col-xs-8">
                    <label class="control-label"> Cajero</label><br /> @Model.UserOpen
                </h5>
            </div>
            <div class="col-xs-6" style="border:solid 1px">
                <h4 class="control-label"> <span class="fa fa-hourglass-end"></span>Cierre de caja  @Model.FinalAmount.ToMoney()</h4> <hr />
                <h5 class="col-xs-4">
                    <label class="control-label"> Hora</label><br />@if (Model.ClosingDate != null)
            { <a>@Model.ClosingDate.Value.ToString("HH:mm:ss")</a>}
                </h5>
                <h5 class="col-xs-8">
                    <label class="control-label"> Cerrado por</label><br /> @Model.UserClose
                </h5>
            </div>
        </div>
        <div class="col-xs-12" style="border-bottom:solid 1px">
            <div class="col-xs-4">
                <span class="fa fa-money"></span> Efectivo<br />
                @Model.Incomes.Where(i => i.Type == PaymentMethod.Efectivo).Sum(i => i.Amount).ToMoney()
            </div>
            <div class="col-xs-4">
                <span class="fa fa-credit-card"></span> Tarjeta<br />
                @Model.Incomes.Where(i => i.Type == PaymentMethod.Tarjeta).Sum(i => i.Amount).ToMoney()
            </div>
            <div class="col-xs-4">
                <span class="fa fa-external-link"></span>Retiros <br /> @Model.Withdrawals.Sum(i => i.Amount).ToMoney()
            </div>
        </div>
        <div class="col-xs-12">
            <h4>
                <span class="fa fa-comments"></span>
                Comentarios: @Model.CloseComment
            </h4>
        </div>
        <table class="table table-condensed col-xs-12">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.CashDetails.First().InsDate)</th>
                    <th>@Html.DisplayName("Movimiento")</th>
                    <th></th>
                    <th>@Html.DisplayNameFor(m => m.CashDetails.First().Amount)</th>
                    <th>@Html.DisplayName("Comentario")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CashDetails)
                {
                    <tr>
                        <td>@item.InsDate.ToString("HH:mm:ss")</td>

                        <td>
                            @if (item.DetailType == 0)
                            {
                                <a>Retiro</a>
                            }
                            else
                            {
                                <a>Ingreso</a>
                            }
                        </td>
                        <td>
                            @switch (item.Type)
                            {
                                case PaymentMethod.Efectivo:
                                    <span class="fa fa-money"></span>
                                    break;
                                case PaymentMethod.Tarjeta:
                                    <span class="fa fa-credit-card"></span>
                                    break;
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Amount)

                        </td>

                        <td>@Html.DisplayFor(m => item.Comment)</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        Paginate("#tdDetails", 10)
    });

    function GoBack() {
        window.location = '@Url.Action("History")'
    }

    function Print() {
        $("#divPrint").printThis();
    }
</script>