@model IEnumerable<CerberusMultiBranch.Models.Entities.Operative.CashRegister>

@{
    ViewBag.Title = "History";
}


<script>
        HalfProgress();
</script>
<h3>
    <span class="fa fa-history" style="float:left"></span>
    &nbsp;&nbsp;Historial de caja
</h3>

<div class="col-md-7">
    <div class="input-group ">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        @Html.TextBox("txtUser", "", htmlAttributes: new { @class = "form-control" })
        <span class="input-group-btn">
            <button id="btnFilter" type="button" class="btn btn-warning" data-toggle="collapse" data-target="#divFilters">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
        </span>
    </div>
</div>

<br /><br /><br />

<div id="divFilters" class="col-md-4  collapse">
    <div class="panel panel-danger">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.Label("Desde", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("BeginDate", "", htmlAttributes: new { @class = "form-control", type = "date" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Hasta", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("EndDate", "", htmlAttributes: new { @class = "form-control", type = "date" })
                    </div>
                </div>
 
                <div class="form-group col-md-12">
                    @Html.Label("Usuario", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("User", "", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button class="btn btn-default" type="button" onclick="Search()">
                    <span class="glyphicon glyphicon-search" />
                </button>
                <button class="btn btn-default" type="button" onclick="window.location='@Url.Action("History")'">
                    <span class="glyphicon glyphicon-refresh" />
                </button>
            </div>
        </div>
    </div>
</div>


<div id="divCashRegisterList">
    @Html.Partial("_CashRegisterList", Model)
</div>

<script>
    $(document).ready(function ()
    {
        SetFilterControls("#divFilters", "#btnFilter", "#divCashRegisterList");

    });

    function Search()
    {
        var param = { beginDate: $("#BeginDate").val(), endBegin: $("#EndDate").val(), user: $("#User").val() }

        ExecuteAjax('@Url.Action("Search")', param, function (view)
        {
            $("#divCashRegisterList").html(view);
        });
    }
</script>