@model IEnumerable<CerberusMultiBranch.Models.Entities.Operative.CashRegister>

@{
    ViewBag.Title = "Mi Historial de caja";
}



<h3>
    <span class="fa fa-history" style="float:left"></span>
    &nbsp;&nbsp;Historial de Caja
</h3>

<div class="col-md-7">
    <div class="input-group ">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
        @Html.TextBox("txtFilter", "", htmlAttributes: new { @class = "form-control" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" title="buscar" onclick="Search()">
                <span class="glyphicon glyphicon-search" />
            </button>
            <button class="btn btn-default" type="button" title="recargar" onclick="Reload()">
                <span class="glyphicon glyphicon-refresh" />
            </button>
            <button id="btnFilter" type="button" class="btn btn-warning" data-toggle="collapse" data-target="#divFilters"
                    title="Ver / Ocultar filtros">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
        </span>
    </div>
</div>

<br /><br /><br />

<div id="divFilters" class="col-md-4  collapse">
    <div class="panel panel-danger">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.Label("Sucursales", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.DropDownList("BranchId", (SelectList)ViewBag.Branches, "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.Label("Desde", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("BeginDate", "", htmlAttributes: new { @class = "form-control", type = "date" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    @Html.Label("Hasta", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("EndDate", "", htmlAttributes: new { @class = "form-control", type = "date" })
                    </div>
                </div>
 
                <div class="form-group col-md-12">
                    @Html.Label("Usuario", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                        @Html.TextBox("User", "", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>


<div id="divCashRegisterList">
    @Html.Partial("_CashRegisterList", Model)
</div>

<script>
    $(document).ready(function ()
    {
        SetFilterControls("#divFilters", "#btnFilter", "#divCashRegisterList");

    });

    function Search()
    {
        ShowLoading();
        var param = { branchId: $("#BranchId").val(), beginDate: $("#BeginDate").val(), endDate: $("#EndDate").val(), user: $("#User").val() }
        console.log(param);
        ExecuteAjax('@Url.Action("Search")', param, function (view)
        {
            $("#divCashRegisterList").html(view);
            HideLoading();
        });
    }

    function Reload()
    {
        ShowLoading();
        window.location = '@Url.Action("History")';
    }
</script>