@model CerberusMultiBranch.Models.Entities.Operative.CashRegister

@{
    ViewBag.Title = "Caja";
}


@if (!Model.IsOpen)
{
    <div class="col-md-12 panel-danger">
        <h4 class="text-uppercase text-center panel-heading">
            @Model.OpeningDate.ToString("dddd dd MMMM yyyy")
        </h4>
    </div>

    <div class="col-md-12">
        <div class="btn-group-vertical text-center col-md-2  col-md-push-5">
            <label class="control-label">
                Monto Inicial
            </label>
            <input id="txtInitialAmount" class="form-control" type="number" />

            <button id="btnStart" class="btn-danger btn" type="button">
                <span class="glyphicon glyphicon-log-out"></span>
                Abrir Caja
            </button>
        </div>
    </div>

}
else
{

    <div class="col-md-12 panel-success">
        <h4 class="text-uppercase text-center panel-heading">
            @Model.OpeningDate.ToString("dddd dd MMMM yyyy")
        </h4>
    </div>

    <div class="col-md-3">
        <div class="col-md-12  text-center  alert alert-info">
            <h3>
                Monto Apertura <br />
                @Model.InitialAmount.ToString("c")
            </h3>
        </div>

        @if (User.IsInRole("Cajero"))
        {
            <div class="text-center col-md-12 alert btn-danger" onclick="OpenWithdrawal()"
                 onmouseover="SetPointer(this)" title="Ver y agregar retiros">
                <h3>
                    Retiros<br />
                    @Model.Withdrawals.Sum(w => w.Amount).ToString("c")
                </h3>
            </div>
        }
        else
        {
            <div class="text-center col-md-12 alert btn-danger disabled"  >
                <h3>
                    Retiros<br />
                    @Model.Withdrawals.Sum(w => w.Amount).ToString("c")
                </h3>
            </div>
        }

        <div class="text-center col-md-12  alert  btn-success" onmouseover="SetPointer(this)" id="btnTerminate" title="Cerrar caja">
            @{

                var total = (Model.Incomes.
                    Where(d => d.Type == CerberusMultiBranch.Models.Entities.Operative.PaymentType.Efectivo).Sum(d => d.Amount) + Model.InitialAmount - Model.Withdrawals.Sum(w => w.Amount));

                var totString = total.ToString("c");
            }
            <h3>
                Efectivo en caja <br />
                @totString
            </h3>
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-md-5  text-center  alert bg-primary">
            <h3>
                @{
                    var cash = Model.Incomes.Where(d => d.Type == CerberusMultiBranch.Models.Entities.Operative.PaymentType.Efectivo).Sum(d => d.Amount).ToString("c");
                }
                Ventas Efectivo<br />
                @cash
            </h3>
        </div>
        <div class="col-md-5 col-md-offset-1 text-center  alert alert-warning">
            <h3>
                Ventas Tarjeta<br />
                @Model.Incomes.Where(d => d.Type == CerberusMultiBranch.Models.Entities.Operative.PaymentType.Tarjeta).Sum(d => d.Amount).ToString("c")
            </h3>
        </div>

        <div class="col-md-11">
            <img class="img-responsive" src="@Model.ChartSource" />
        </div>

    </div>
    <div id="divDetails">

    </div>
        @Html.Partial("_CloseCash", total)
 }

<script>
    $(document).ready(function ()
    {
        $("#btnStart").click(function () { OpenCashRegister(); });

        $("#btnTerminate").click(function () {
            $("#ModalCloseCash").modal("show");
        });
    });

    function OpenWithdrawal()
    {
        $("#hTitle").text("Detalle de retiros");

        ExecuteAjax('@Url.Action("GetWithdrawals", "CashRegister")', {}, function (view) {
            $("#divDetails").html(view);
        });
    }

    function OpenCashRegister() {
        ExecuteAjax('@Url.Action("OpenCashRegister","CashRegister")',
                { initialAmount: $("#txtInitialAmount").val() },
                function (data) {
                    if (data == "OK")
                        window.location = '@Url.Action("Index")';
                    else
                        ShowMessage("Error Inesperado", data, "warning");
                });
    }

</script>
