@model CerberusMultiBranch.Models.Entities.Operative.Sale
@using CerberusMultiBranch.Support;

@{
    ViewBag.Title = "SaleDetail";
}

<script src="~/Scripts/printThis.js"></script>

<h3>
    <span class="fa fa-ticket" style="float:left"></span>
    &nbsp;&nbsp;Nota de venta
</h3>

<hr />

<div id="divPrint" style="width:816px">
    <table>
        <tr>
            <td width="300px">
                <table style="width:100%">
                    <tr>
                        <td>
                            <img src="~/Content/Images/logo2.png" style="width:200px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">
                                Autopartes Bicentenario S.A. de C.V.
                            </label><br />
                            APB 1000811 4Q4 <br />AV DE LA MANCHA 568 INT. 11-B<br />
                            LOMAS DE ZAPOPAN 45130 <br />ZAPOPAN JAL MX
                        </td>
                    </tr>
                </table>
            </td>
            <td width="272px"></td>
            <td width="264px">
                <table style="width:100%" class="table-bordered">
                    <tr>
                        <td colspan="2" class="BkPrint text-center">
                            <label style="color:white">Datos de venta</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <label>Folio</label>
                        </td>
                        <td class="text-center">
                            <label>Fecha</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            @Model.Folio
                        </td>
                        <td class="text-center">
                            @Model.TransactionDate.ToString("dd/MM/yyyy HH:mm")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <label>Agente</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            @Model.User.UserName
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td colspan="3" style="height:20px"></td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width:816px" class="table-bordered">
                    <tr>
                        <td colspan="3" class="text-center BkPrint">
                            <label style="color:white">Datos del cliente</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%" class="text-center">
                            <label>Nombre del cliente</label>
                        </td>
                        <td style="width:50%" class="text-center">
                            <label>Dirección del cliente</label>
                        </td>
                        <td style="width:20%" class="text-center">
                            <label>R.F.C.</label>
                        </td>
                    </tr>
                    <tr style="height:60px">
                        <td valign="top">
                            @Model.Client.Name
                        </td>
                        <td valign="top">
                            @Model.Client.TaxAddress
                        </td>
                        <td valign="top" class="text-center">
                            @Model.Client.FTR
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="height:20px"></td>
        </tr>
        <tr>
            <td class="text-center BkPrint" colspan="3">
                <label style="color:white">Detalle de compra</label>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width:100%; height:500px; border:1px solid gray;">
                    <tr style="border-bottom:1px solid gray; height:15px">
                        <td style="border-right:1px solid gray; width:10%" align="center">
                            <label>Codigo</label>
                        </td>
                        <td style="border-right:1px solid gray; width:10%" align="center">
                            <label>Cve. Sat</label>
                        </td>
                        <td style="border-right:1px solid gray; width:40%" align="center">
                            <label>Descripción</label>
                        </td>
                        <td style="border-right:1px solid gray; width:10%" align="center">
                            <label>Precio</label>
                        </td>
                        <td style="border-right:1px solid gray; width:10%" align="center">
                            <label>Cantidad</label>
                        </td>
                        <td style="width:10%">
                            <label>Total</label>
                        </td>
                    </tr>
                    @foreach (var item in Model.TransactionDetails)
                    {
                        <tr>
                            <td class="text-center" style="border-right:1px solid gray; width:10%" valign="top">
                                @Html.DisplayFor(mItem => item.Product.Code)
                            </td>
                            <td class="text-center" style="border-right:1px solid gray; width:10%" valign="top">
                                @Html.DisplayFor(mItem => item.Product.Category.SatCode)
                            </td>
                            <td style="border-right:1px solid gray; width:40%" valign="top">
                                @Html.DisplayFor(mItem => item.Product.Name)
                            </td>
                            <td class="text-right" style="border-right:1px solid gray; width:10%" valign="top">
                                @Html.DisplayFor(mItem => item.Price)
                            </td>
                            <td class="text-center" style="border-right:1px solid gray; width:10%" valign="top">
                                @Html.DisplayFor(mItem => item.Quantity)
                            </td>
                            <td class="text-right" style="width:10%" valign="top">
                                @Html.DisplayFor(mItem => item.Amount)
                            </td>
                        </tr>
                    }

                    <tr style="height:23px; border-top:1px solid gray;">
                        <td colspan="4" rowspan="3">
                            IMPORTE CON LETRA <br />
                            @Model.TotalAmount.toText() 
                            PESOS MEXICANOS 
                        </td>
                        @{
                            var bI = Math.Round(Model.TotalAmount / 1.16, 2);
                            var iva = Math.Round(Model.TotalAmount - bI, 2);
                        }
                        <td class="text-right" style="border:1px solid gray; width:10%">
                            <label class="control-label">
                                @Html.DisplayName("Sub-Total")
                            </label>
                        </td>
                        <td class="text-right" style="border:1px solid gray; width:10%">
                            @bI.ToString("c")
                        </td>
                    </tr>
                    <tr style="height:23px">
                        <td class="text-right" style="border:1px solid gray; width:10%">
                            <label>
                                @Html.DisplayName("IVA")
                            </label>
                        </td>
                        <td class="text-right" style="border:1px solid gray; width:10%">
                        @iva.ToString("c") 
                        </td>
                    </tr>
                    <tr style="height:23px">
                      
                        <td class="text-right" style="border:1px solid gray; width:10%">
                            <label>
                                @Html.DisplayName("Total")
                            </label>
                        </td>
                        <td class="text-right" style="border:1px solid gray; width:10%">
                            <label class="control-label text-danger">
                                @Model.TotalAmount.ToString("c")
                        </label>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>


</div>



<div class="btn-group">
    <button class="btn btn-primary" type="button" onclick="window.location='@Url.Action("Index")'">
        <span class="fa fa-search"></span>
        Buscar
    </button>
    <button class="btn btn-success" type="button" id="btnPrint">
        <span class="fa fa-print"></span>
        Imprimir
    </button>
</div>


<script>
    $(document).ready(function () {
        $("#btnPrint").click(function () {
            $("#divPrint").printThis(
            {
                footer: "<h1>Amazing header</h1>"
            });

        });
    });


</script>