@model CerberusMultiBranch.Models.Entities.Operative.Sale
@using CerberusMultiBranch.Models.Entities.Operative;


@{
    ViewBag.Title = "Registro de pago";
    ViewBag.Class = "fa fa-money";
}


<h4 class="alert alert-info col-md-6">
    <span class="fa fa-user"></span>
    @Model.Client.Name
</h4>

<h4 class="alert alert-success col-md-3  col-md-offset-3">
    Total
    <label id="lblTotalAmount">@Model.TotalAmount.ToString("c")</label>
</h4>
<hr />

<div class="panel-group">
    <div class="panel panel-danger">
        <div class="panel-body">

            <div class="form-group col-md-3">
                <label class="control-label">Folio de venta</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-tag"></i>
                    </span>
                    <div class="form-control">
                        @Model.Folio
                    </div>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Envio de Mercancia</label>
                <div class="input-group">
                    @if (Model.SendingType == 0)
                    {
                        <span class="input-group-addon">
                            <i class="fa fa-building"></i>
                        </span>
                        <div class="form-control">
                            En Sucursal
                        </div>
                    }
                    else
                    {
                        <span class="input-group-addon">
                            <i class="fa fa-truck"></i>
                        </span>
                        <div class="form-control">
                            Envío a domicilio
                        </div>
                    }

                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Fecha de venta</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <div class="form-control">
                        @Model.TransactionDate.ToString("dd/MM/yyyy")
                    </div>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label">Vendido por</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-black-tie"></i>
                    </span>
                    <div class="form-control">
                        @Model.User.UserName
                    </div>
                </div>
            </div>

            <div class="btn-group col-md-10">
                <button type="button" class="btn btn-primary" title="volver a la busqueda" id="btnSearch"
                        onclick="ShowLoading(); window.location='@Url.Action("Index")'">
                    <span class="fa fa-backward"></span>
                    <u>V</u>olver a cája
                </button>

                <button class="btn btn-success" type="button" id="btnPayment"
                        onclick="BeginPayment(@Model.TotalAmount)" title="Seleccionar forma de pago">
                    <span class="fa fa-dollar"></span>
                    Recibir <u>P</u>ago
                </button>
            </div>

            @if (User.IsInRole("Supervisor"))
            {
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger pull-right" title="cancelar venta"
                            onclick="$('#ModalCancel').modal('show');" id="btnCancel">
                        <span class="fa fa-times"></span>
                        <u>C</u>ancelar
                    </button>
                </div>
            }

        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-body">
            <table id="tbDetails" class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayName("Código")
                        </th>
                        <th>
                            @Html.DisplayName("SAT")
                        </th>
                        <th>
                            @Html.DisplayName("Descripción")
                        </th>
                        <th>
                            @Html.DisplayName("Precio")
                        </th>
                        <th>
                            @Html.DisplayName("Cantidad")
                        </th>
                        <th>
                            @Html.DisplayName("Total")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SaleDetails)
                    {
                        <tr>
                            <td class="col-md-1" align="center">
                                @if (item.Product.Images.Count > 0)
                                {
                                    <img class="img-responsive" src="@item.Product.Images.FirstOrDefault().Path" style="max-height:40px" />
                                }
                                else
                                {
                                    <img class="img-responsive" src="~/Content/Images/sinimagen.jpg" style="max-height:40px" />
                                }
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(m => item.Product.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Product.Category.SatCode)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Product.Name)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(m => item.Price)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(m => item.Quantity)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(m => item.Amount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>



        </div>
    </div>
</div>



@Html.HiddenFor(m => m.SaleId)

<div id="divModals"></div>

<div id="divPrinter"></div>

@Html.Partial("_Cancelation")


<script>
    $(document).ready(function () {
        Paginate("#tbDetails", 5);

    }).keydown(function (e) {
        if (e.which == 13 || e.altKey && e.keyCode == 80) {
            $("#btnPayment").click();
        }

        if (e.altKey && e.keyCode == 67) {
            $("#btnCancel").click();
        }

        if (e.altKey && e.keyCode == 86) {
            $("#btnSearch").click();
        }
    });

    function Cancel() {
        $("#ModalCancel").modal("hide");
        ShowLoading();

        var param = { transactionId: $("#SaleId").val(), comment: $("#txtComment").val() }

        ExecuteAjax('@Url.Action("Cancel","Sales")', param, function (j) {
            if (j.Result = 'OK')
                window.location = '@Url.Action("Index")';
            else
                ShowMessage(j.Result, j.Message, 'warning');
        });
    }

    function Calculate(val) {
        var total = $("#lblTotalAmount").text().replace(/[$,]+/g, "");

        var result = (total - parseFloat(val));

        console.log(result);

        return result;
    }


    function GetChange(val) {
        var total = $("#lblTotalAmount").text().replace(/[$,]+/g, "");
        return (parseFloat(val) - total);
    }

    function BeginPayment(amount) {
        ShowLoading();
        ExecuteAjax('@Url.Action("BeginPayment")', { amount: amount }, function (response) {
            HideLoading();
            $("#divModals").html(response);
        });
    }
</script>